@{
    ViewBag.Title = "Ошибка операции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error">
    <h2>@(Model.Exception.Message??"Ошибка операции")</h2>
</div>

<div class="back">
    @Html.ActionLink("Назад к списку операций", "Index", "Card")
</div>
