<div class="footer">
            <div class="copy">
                &copy; @DateTime.Now.Year Poggenpohl
            </div>
            <div class="emLink">
                Создание сайта &mdash; <a href="http://eugene-miller.com">Студия Евгения Миллера</a>
            </div>
        </div>