@model Listelli.Models.Brand
<div class="brand">
    <div class="imageContainer">
        <div class="image">
            <img src="../../Content/Images/image.gif" alt="" />
        </div>
        <div class="frame">
        </div>
    </div>
    <div class="">
        @Html.ActionLink("Редактировать", "Edit", "Brand", new { area = "Admin", id = 1 }, new { @class = "adminLink" })
    </div>
    <div class="description">
        <div class="title">
            @Html.ActionLink(Model.Title, "BrandDetails", "Home", new { id = Model.Name }, null)
        </div>
        @Html.Raw(Model.Description)
    </div>
</div>
