 <div class="brand">
        <div class="imageContainer">
            <div class="image">
                <img src="../../Content/Images/image.gif" alt="" />
            </div>
            <div class="frame">
            </div>
        </div>
        <div class="description">
            <div class="title">
                @Html.ActionLink("KREOO: ИСКУССТВО И МРАМОР В ТВОРЧЕСКОМ ЕДИНЕНИИ","BrandDetails","Home")
            </div>
            
            asd asd kasjd aksjd kajs dkajs dkajs dkajs dkja sdkjaskdjkajsh dkjahsdlkja sdlkajs dkajs dkajs d
        </div>
    </div>