@{
    Layout = "~/Views/Shared/_LayoutIntro.cshtml";
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Listelli</title>
    <link href='Content/intro_styles/jquery.bxslider.css?v=0.5' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="scripts/jquery.bxslider.min.js"></script>
    <script src="scripts/jquery.easing.1.3.js"></script>
    <!--<script src="scripts/jquery.mousewheel.min.js"></script>-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption&subset=cyrillic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yeseva+One&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link href='Content/Fonts.css?v=0.10' rel='stylesheet' type='text/css' />
    <link href='Content/intro_styles/main.css?v=0.10' rel='stylesheet' type='text/css' />
    <link href='Content/intro_styles/mobile.css?v=0.10' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="initial-scale=0.6, width=device-width, maximum-scale=0.6, minimum-scale=0.6, user-scalable=no">
    <style>

    </style>
    <script>
        $(document).ready(function () {
            $(".more").click(function () {
                //$(".main").moveDown();
                sliderouter.goToNextSlide();
            });


            //var isSliding = false;
            //var index = 0;

            var sliderouter = $('.bxsliderouter').bxSlider({
                controls: false,
                mode: 'vertical',
                pagerType: 'full',
                infiniteLoop: false,
                touchEnabled: true,
                easing: 'linear',
                useCSS: false,
                preloadImages: 'all',
                swipeThreshold:10,
                //oneToOneTouch:false,
                //onSlideAfter: function ($slideElement, oldIndex, newIndex) {
                //    //isSliding = false;
                //    index = newIndex;
                //    console.log('onSlideAfter index:' + index);
                //    setTimeout(function () {
                //        isSliding = false;
                //    }, 1000);
                //},
                pager:false
            });



            //$(document).mousewheel(function (event, delta) {
            //    if (delta == 1) {
            //        if (!isSliding && index > 0) {
            //            isSliding = true;
            //            sliderouter.goToPrevSlide();
            //        }
            //    }
            //    else {
            //        if (!isSliding && index < 5) {
            //            isSliding = true;
            //            sliderouter.goToNextSlide();
            //        }
            //    }
            //});


        });

    </script>
</head>
<body>
<div class="wrapper">
    <ul class="bxsliderouter">
        @*<li class="mobile page1">
            <div class="top">
                <div class="mobile-intro-language-switcher">
                    @Html.Partial("LanguageSwitcher")
                </div>
                <div class="title">
                    Design approved by nature
                </div>
            </div>
            <div class="bottom">
                <div class="info">
                    <!--<div class="romb"></div>-->
                    <!--<div class="text">-->
                    Nature is the ideal creator and author of all the living creatures on Earth from the first day of our existence. We decided to allow it to become the Listelli’s Head Designer in 2015.
                    <!--</div>-->
                    <!--<div class="leaf"></div>-->
                </div>
                <a href="#" class="more"></a>
            </div>
        </li>


        <li class="mobile page2">
            <div class="top">
                <div class="title">
                    Complete preservation of natural properties
                </div>
            </div>
            <div class="bottom">
                <div class="info">

                    Getting from the native residence &mdash; Forest &mdash; to our houses, wood preserves its natural properties, providing the room with air filtering, simplicity of care and unique feeling of naturalness around.

                </div>
                <a href="#" class="more"></a>
            </div>
        </li>


        <li class="mobile page3">
            <div class="top">
                <div class="title">
                    Harmony, aesthetics, usability
                </div>
            </div>
            <div class="bottom">
                <div class="info">
                    We get the results, fascinating by its beauty and harmony, with minimum interference into shapes created by Nature.
                </div>
                <a href="#" class="more"></a>
            </div>
        </li>

        <li class="mobile page4">
            <div class="top">
                <div class="title">
                    Nature as lifestyle
                </div>
            </div>
            <div class="bottom">
                <div class="info">
                    Allow yourself to be closer to Nature wherever you are – at your apartment or cottage, restaurant or office. Interior solutions of incredible beauty and unique environmental friendliness are now affordable all over!
                </div>
                <a href="#" class="more"></a>
            </div>
        </li>
        <li class="mobile page5">
            <div class="top">
                <div class="title">
                    Care and preservation
                </div>
            </div>
            <div class="bottom">
                <div class="info">
                    Nature cared for creation of exceptional shapes and their durability. Continuing the idea of Nature we consider it our duty to take care of each interior created by our company. We have all sorts of care, renovation and restoration of our products.
                </div>
                <a href="#" class="more"></a>
            </div>
        </li>*@
        <li class="mobile page6">
            <div class="top">
                <div class="text">
                    <br/>
                    <span>&nbsp;Ukraine, Kiev,&nbsp;<br/>&nbsp;Zhilyanskaya str, 68&nbsp;<br/>&nbsp;+38 (067) 225 55 52&nbsp;<br/>&nbsp;salon@listelli.ua&nbsp;</span>
                </div>
            </div>
            <div class="bottom">
                <a href="http://listelli.ua/en/brandcatalogue" class="site en"></a>
            </div>
        </li>

    </ul>
</div>
</body>
</html>