@model string
           
           <div class="title-container">
        <table class="title">
            <tr>
                <td class="separator">
                </td>
                <td class="left">
                </td>
                <td class="center">
                    @Model
                </td>
                <td class="right">
                </td>
                <td class="separator">
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>

