<div class="first"></div>
<div>
    @Html.ActionLink("Жилые помещения", "Index", "Home", new { area = "", id = "main" }, null)
</div>

<div>
    @Html.ActionLink("Нежилые помещения", "Index", "Home", new { area = "", id = "main" }, null)
</div>