<div class="thankYou">
   
    Вам отправлено письмо<br />
    для подтверждения подписки<br />
    на рассылку
    
           @*Теперь вы в курсе<br />
        наших новостей и событий,<br />
        спасибо что вы с нами! :)*@
</div>

<script type="text/javascript">

$(function() {
    setTimeout('BasePageExtender.hideSubscribeOverlay()', 2000);
})

</script>