@using SiteExtensions.Graphics
@using SiteExtensionsTest
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    $(document).ready(function () {
        //$('#slider1').bxSlider();
    });
</script>



<ul id="slider1">
    
    @for (int i = 1; i <= 5; i++)
    {
        string filename = i + ".jpg";
        <li>
            <a rel="@Html.Raw("group1")" href="../../Content/Images/@filename" class="fancyImage">
                @Html.Raw(Html.CachedImage("~/Content/Images/", filename, SiteSettings.GetThumbnail("thumb")))
            </a>
        </li>
    }
</ul>
