




.adminContentTable td
{
	border:solid 1px silver;
	padding:3px;
}

.adminContentTable a
{
	color:Silver;
}
.adminContentTable a:active
{
	color:Red;
}
.adminContentTable a:hover
{
	color:Red;
}

.adminContentTableLink
{
	color:Silver;
}

.adminContentTableLink:active
{
	color:Red;
}

.adminContentTableLink:hover
{
	color:Red;
}

#addMore p{ font-size:12px; font-weight:bold; color:#676767}
#addMore{margin:20px 0;}

