#menuBoxTopLeft
{
	background-image: url('img/menu-top-left.gif');
}

#menuBoxTopRight
{
	background-image: url('img/menu-top-right.gif');
}

#menuBoxBottomLeft
{
	background-image: url('img/menu-bottom-left.gif');
}

#menuBoxBottomRight
{
	background-image: url('img/menu-bottom-right.gif');
}

#menuBoxTopLeft, #menuBoxTopRight, #menuBoxBottomLeft, #menuBoxBottomRight
{
	width: 15px;
	height: 18px;
}


#tableMenu
{
	border-collapse: collapse;
}

#tmenuBoxTopLeft
{
	background-image: url('img/menu-top-left.gif');
	background-position:left;
	width: 15px;
}

#tmenuBoxTopMiddle
{
	background-color: #004070;
	width:110px;
}

#tmenuBoxTopRight
{
	background-image: url('img/menu-top-right.gif');
	background-position:right;
}

#tmenuBoxBottomLeft
{
	background-image: url('img/menu-bottom-left.gif');
	background-position:left;
}

#tmenuBoxBottomMiddle
{
	background-color: #004070;
}

#tmenuBoxBottomRight
{
	background-image: url('img/menu-bottom-right.gif');
	background-position: right;
}

#tmenuBoxTopLeft, #tmenuBoxTopRight, #tmenuBoxBottomLeft, #tmenuBoxBottomRight
{
	width: 15px;
	height: 18px;
	background-repeat: no-repeat;
}

.menuItem
{
	background-color: #004070;
	padding:3px 20px 3px 20px;
}

.childMenuItem
{
	background-color: #004070;
	padding:3px 0px 3px 40px;
	font-size:11px;
}

.selected
{
	background-color:#809ABF;
}

.tmenuMiddleBox
{
	background-color: #004070;
	font-size:14px;
}

a
{
	color: #ffffff;
}
a:active
{
	color: #ffffff;
}
a:hover
{
	color: #ffffff;
}

.menuLink
{
	background-color: #004070;
}