@model Posh.Models.SiteViewModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_SearchCriteriaSelector")
@section Title
{
Здравствуйте!
}
@section Content
{
Наша компания занимается обустройством частных и коммерческих площадей качественной
мебелью и элементами дизайна. Вы можете перейти в наш общий каталог продукции, или
выбрать интересующую вас категорию продукции в форме ниже (тогда вам будут показаны
только товары, принадлежащие к выбранной категории):
}
@section SeoTitle
{
Несколько слов о нас
}
@section SeoContent
{
    <p>
        Наша компания основана в 2005 году. Английское слово “POSH” означает “шик” и “роскошь”
        и мы, оправдывая наше название, несём в каждый дом и шик и роскошь.
    </p>
    <p>
        У нас вы увидите широкий выбор уличной мебели из искусственного ротанга и не только,
        аксессуаров и интерьерных деталей, которые помогут создать вам уют и комфорт в вашем
        саду, на террасе и доме.
    </p>
    <p>
        Мы также предлагаем мебель для гостиниц, мебель для кафе, мебель для ресторанов,
        конференций и мебель для банкетных залов, уличную мебель, шезлонги, лежаки, мебель
        для сада. Отличный дизайн, удобство в эксплуатации, высокие стандарты качества,
    </p>
}
