@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="thankYouForSubscribing">
    Вы подписались на новостную рассылку!<br/>
    
    @Html.ActionLink("Перейти на главную","Index","Home")
</div>
