@{
    Layout = "~/Views/Shared/_LayoutIntro.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Listelli</title>
    <link href='Content/intro_styles/jquery.bxslider.css?v=0.5' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="scripts/jquery.bxslider.min.js"></script>
    <script src="scripts/jquery.mousewheel.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption&subset=cyrillic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Yeseva+One&subset=cyrillic' rel='stylesheet' type='text/css' />
    <link href='Content/Fonts.css?v=0.9' rel='stylesheet' type='text/css' />
    <link href='Content/intro_styles/main.css?v=0.9' rel='stylesheet' type='text/css' />
    <link href='Content/intro_styles/page1.css?v=0.9' rel='stylesheet' type='text/css' />
    <link href='Content/intro_styles/page2.css?v=0.9' rel='stylesheet' type='text/css' />
    <link href='Content/intro_styles/page3.css?v=0.9' rel='stylesheet' type='text/css' />
    <link href='Content/intro_styles/page4.css?v=0.9' rel='stylesheet' type='text/css' />
    <link href='Content/intro_styles/page5.css?v=0.9' rel='stylesheet' type='text/css' />
    <link href='Content/intro_styles/page6.css?v=0.9' rel='stylesheet' type='text/css' />
    <script>
        $(document).ready(function () {
            $(".more").click(function () {
                sliderouter.goToNextSlide();
            });

            $("html").keydown(function (e) {
                if (e.keyCode === 40) {
                    sliderouter.goToNextSlide();
                } else if (e.keyCode === 38) {
                    sliderouter.goToPrevSlide();
                } else if (e.keyCode === 39) {

                } else if (e.keyCode === 37) {

                }
            });

            var isSliding = false;
            var currentSlide = 0;

            var sliderouter = $('.bxsliderouter').bxSlider({
                controls: false,
                pagerSelector:$("#custom-pager"),
                mode: 'vertical',
                pager: true,
                pagerType: 'full',
                infiniteLoop: false,
                onSlideAfter: function ($slideElement, oldIndex, newIndex) {
                    //isSliding = false;
                    currentSlide = newIndex;
                    console.log('onSlideAfter called, currentSlide:' + currentSlide);

                    if (currentSlide > 0) {
                        $(".scroll-top").fadeIn();
                    } else {
                        $(".scroll-top").fadeOut();
                    }

                    setTimeout(function () { isSliding = false; }, 500);
                }
            });


            $(".scroll-top").click(function () {
                sliderouter.goToSlide(0);
            });



            var slider = $('.bxslider').bxSlider({
                controls: false,
                mode: 'fade',
                pager: true,
                pagerType: 'full',
                infiniteLoop: true,
                auto: true,
                speed: 1500
            });

            $(document).mousewheel(function (event, delta) {
                
                if(delta>1){
                    delta=1;
                }
                if(delta<-1){
                    delta=-1;
                }
                console.log('delta: ' + delta + '; isSliding: ' + isSliding + '; currentSlide: ' + currentSlide);
                if (delta > 0) {
                    if (!isSliding && currentSlide > 0) {
                        isSliding = true;
                        sliderouter.goToPrevSlide();
                    }
                }
                else {
                    if (!isSliding && currentSlide < 5) {
                        isSliding = true;
                        sliderouter.goToNextSlide();
                    }
                }
            });
        });
    </script>
</head>
<body>
    <div class="wrapper">
        <!--<div id="bx-pager">-->
        <!---->

        <!--</div>-->
        <ul class="bxsliderouter">
            <li class="page1">
                <div class="intro-language-switcher">
                    @Html.Partial("LanguageSwitcher")
                </div>
                <a href="http://listelli.ua/ru/brandcatalogue" class="site"></a>

                <div class="info">
                    <div class="eco">
                        <div class="snake">
                            <div class="slogan">
                                <div class="title">Design approved by nature</div>
                                <div class="text">
                                    Nature is the ideal creator and author of all the living creatures on Earth from the first day of our existence. We decided to allow it to become the Listelli’s Head Designer in 2015.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="more"></a>
            </li>
            <li class="page2">
                <div class="left">
                    <div class="info">
                        <div class="romb"></div>
                        <div class="title">Complete preservation of natural properties</div>
                        <div class="leaf"></div>
                        <div class="text">
                            Getting from the native residence &mdash; Forest &mdash; to our houses, wood preserves its natural properties, providing the room with air filtering, simplicity of care and unique feeling of naturalness around.
                        </div>
                    </div>
                </div>
                <div class="right">
                    <ul class="bxslider">
                        <li class="page20"></li>
                        <li class="page21"></li>
                        <li class="page22"></li>
                    </ul>
                </div>
            </li>
            <li class="page3">
                <ul class="bxslider">
                    <li class="page30"></li>
                    <li class="page31"></li>
                    <li class="page32"></li>
                    <li class="page33"></li>
                </ul>

                <div class="info">
                    <div class="romb"></div>
                    <div class="title">Harmony, aesthetics, usability</div>
                    <div class="leaf"></div>
                    <div class="text">
                        We get the results, fascinating by its beauty and harmony, with minimum interference into shapes created by Nature.
                    </div>
                </div>

            </li>
            <li class="page4">
                <ul class="bxslider">
                    <li class="page40"></li>
                    <li class="page41"></li>
                    <li class="page43"></li>
                </ul>
                <div class="info">
                    <div class="romb"></div>
                    <div class="title">Nature as lifestyle</div>
                    <div class="leaf"></div>
                    <div class="text">
                        Allow yourself to be closer to Nature wherever you are – at your apartment or cottage, restaurant or office. Interior solutions of incredible beauty and unique environmental friendliness are now affordable all over!
                    </div>
                </div>
            </li>
            <li class="page5">
                <div class="info">
                    <div class="romb"></div>
                    <div class="title">Care and preservation</div>
                    <div class="leaf"></div>
                    <div class="text">
                        Nature cared for creation of exceptional shapes and their durability. Continuing the idea of Nature we consider it our duty to take care of each interior created by our company. We have all sorts of care, renovation and restoration of our products.
                    </div>
                </div>
            </li>
            <li class="page6">
                <div class="ecologylogo"></div>
                <div class="text">
                    <span>&nbsp;Ukraine, Kiev, Zhilyanskaya str, 68&nbsp;<br/>&nbsp;+38 (067) 225 55 52&nbsp;<br/>&nbsp;salon@listelli.ua&nbsp;</span>
                </div>
                <a href="http://listelli.ua/ru/brandcatalogue" class="site"></a>


                <div class="footer">
                    <div class="em">
                        <div class="logo"></div>
                        <div class="copy">
                            Сделано в
                            <br>
                            <a href="http://eugene-miller.com">Студии Евгения Миллера</a>
                        </div>
                    </div>
                </div>


            </li>
        </ul>

        <a href="#" class="scroll-top">
            <div>
                <div class="inner"></div>
                <span>top</span>
            </div>
        </a>
        <div id="custom-pager" class="bx-pager bx-default-pager">
            
        </div>

    </div>
</body>
</html>
