#menu-panel {
    height: 75px;
    position: relative;
}

#menu-panel-main-page {
    height: 75px;
    position: relative;
    margin-top: -472px;
    /*position: absolute;*/
    z-index: 1000;
}

#menu-panel {
    background-color: #ababab;
}

#menu-panel-main-page {
    background-color: rgba(0,0,0,0.5);
}

#logo {
    position: absolute;
    /*width: 174px;
    height: 40px;*/
    width: 222px;
    height: 53px;
    background: url("../img/logo_new.png");
    /*margin-left: 20px;
    margin-top: 22px;*/
    margin-top: 17px;
    display: block;
}

#menu-items {
    margin-left: 255px;
    padding-top: 25px;
}

#menu-panel-main-page #menu-items {
    margin-left: 255px;
    padding-top: 20px;
}

#menu-items ul {

}

#menu-items ul.main-menu-items li.main-menu-item {
    display: table-cell;
    height: 100%;
    /*border: 1px solid red;*/
    text-align: center;
    vertical-align: middle;
    width: 205px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'PT Sans', serif;
    font-weight: 700;
    font-size: 12px;
    padding: 0 25px;
    letter-spacing: 1px;
}

#menu-items ul.main-menu-items li.main-menu-item a {
    color: inherit;
}

#menu-items ul.main-menu-items li.main-menu-item a:hover {
    text-decoration: none;
}

#menu-panel #menu-items ul.main-menu-items li.catalog {
    width: 100px;
}

#menu-panel #menu-items ul.main-menu-item li.rent {
    width: 90px;
}

#menu-panel-main-page #menu-items ul.main-menu-items li.catalog {
    width: 100px;
}

#menu-panel-main-page #menu-items ul.main-menu-items li.rent {
    width: 90px;
}

#menu-panel-main-page #menu-items ul.main-menu-items li.delivery
{
    width: 150px;
}

#menu-panel-main-page #menu-items ul.main-menu-items li
{
    /*padding: 0 30px;*/
}

