@using Poggen.Models
@model Poggen.Models.SiteViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title
{
    @Model.Content.Title
}

@if (Request.IsAuthenticated)
{
    <div>
        @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = Model.Content.Id }, new { @class = "adminLink" })
    </div>
}
@Html.Raw(Model.Content.Text)


    @if (Model.Content.Name.ToLower() == "contacts")
    {
        <div id="sendFeedbackFormContent">
            @Html.Partial("_FeedbackForm", new FeedbackFormModel())
        </div>
    }
