@model Nebo.Models.Content
@if (Request.IsAuthenticated)
{
    <br />
    @Html.ActionLink("Редактировать главную страницу", "Edit", "Content", new { Area = "Admin", id = 11 }, new { @class = "adminLink" })
    <br />
    <br />
}
@Html.Raw(Model.Text)
@section ContentTitle
{
    <h1>@Model.Title</h1>
    <div class="separator">
    </div>
}
