@model IEnumerable<Penetron.Models.SiteMenuItem>
<div id="menu">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("_AdminSiteMenu", Model)
    }
    else
    {
        @Html.Partial("_SiteMenu", Model)
    }
</div>
