<ul class="adminMenu">
<li>@Html.ActionLink("Бренды","Index","Brand",new{Area="Admin"},new{})</li>
<li>@Html.ActionLink("Бренды","Index","Brand",new{Area="Admin"},new{})</li>
<li>@Html.ActionLink("Бренды","Index","Brand",new{Area="Admin"},new{})</li>
</ul>