.category img
{
    border: none;
}

.catalogue, .projects
{
    width: 1000px;
    position: relative;
    margin: 0 auto;
    padding-top: 200px;
}

.catalogue .titleContainer, .projects .titleContainer
{
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #97a7b3;
    font-family: DinCyBd;
    padding-bottom: 3px;
}

.catalogue .titleContainer a {
    color: #5baccd;
}

.catalogue .titleContainer span, .projects .titleContainer span{
    color: #98a8b4;
}

.catalogue .titleContainer span.brand {
    text-transform: none;
}


#categoriesLink, #projectsLink {
    z-index: 200;
}



.patternTop, .patternBottom {
    height: 28px;
    width: 486px;    
    position: relative;
    margin: 0 auto;
}

.patternTop{background: url('img/filter-selector-pattern.png') no-repeat;}
.patternBottom{background: url('img/filter-selector-pattern-bottom.png') no-repeat;}

.catalogue .patternTop {
    padding-bottom: 20px;
    margin-top: 5px;
}

.catalogue .patternBottom {
    margin: 10px auto;
    /*margin-top: 50px;*/
}

.projects .patternTop {
    padding-bottom: 20px;
}

.projects .patternBottom {
    margin-top: 20px;
}


.mainPageContainer .patternTop{}
.mainPageContainer .patternBottom{}


.mainImage {
    width: 1167px;
    height: 350px;
    position: relative;
    margin: 0 auto;
}

.filters {

    padding-top: 10px;
    text-align: center;
    padding-bottom: 40px;
}

.filters span {
    background-color: #012637;
    border-radius: 12px;
  	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
    color: #66badc;
    padding:5px 10px 7px 10px;
    margin: 5px;
    font-size: 12px;
    font-family: Arial;
    font-style: italic;
}


.filters span a {
    color: #fff;
}


ul.brands li {
    list-style: none;
    padding: 5px 0px;
}

.brands.left {
    position: absolute;
    width: 150px;
}

.brands .brand {
    text-align: center;
    
}

.brands {
    font-size: 15px;
    font-family: DinCyRg;
    color: #fff;
}

.brands a {
    color: #66badc;
}



.brand {
    padding: 5px 0px;
}

.product
{
    width: 202px;
    float: left;
    margin: 20px;
}

.product .img-container
{
    width: 202px;
    height: 202px;
}
img
{
    border: none;
}
.category
{
    background-image: url('img/catalogue-thumb-bg.png');
    margin: 20px;
    width: 216px;
    height: 216px;
    float: left;
}

.category .img-container
{
    padding-left: 9px;
    width: 203px;
    height: 212px;
}
.category .img-container img
{
    position: absolute;
}

.category .img-container a
{
    display: block;
    height: 202px;
    width: 202px;
    position: absolute;
    background: url('img/pixel.gif');
}


.category .sign
{
    width: 187px;
    height: 33px;
    position: absolute;
    background-image: url('img/catalogue-thumb-sign-bg.png');
    margin-top: 157px;
    font-size: 17px;
    color: #fff;
    font-family: DinCyBk;
    text-transform: uppercase;
    padding-left: 15px;
    padding-top: 12px;
}

.catalogue .filters .filterItem, .projects .filters .filterItem
{
    background-image: url('img/filter-item-bg.png');
    padding-top: 13px;
    height: 17px;
    background-position: left;
    background-repeat: no-repeat;
}




.link {
    text-align: center;
    padding-top: 20px;
    font-family: DinCyRg;
    padding-bottom: 10px;
}

.link a {
    color: #66badc;
}










#gallery {
    
    
    height: 415px;
    width: 702px;
    position: relative;
    margin: 0 auto;
}



#galleryFrame, #projectsGalleryFrame {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#galleryFrame .buttons, #projectsGalleryFrame .buttons {
     position: absolute;
     z-index: 100;
    display: block;
    width: 48px;
    height: 47px;
    top: 190px;
}



#galleryFrame {
    
    height: 415px;
    width: 702px;
    
}

#galleryFrame .buttons
{
    
}

#projectsGalleryFrame .prev, #galleryFrame .prev
{
    left: 20px;
    background: url('img/left-arrow.png');
}
#projectsGalleryFrame .next, #galleryFrame .next
{
    left: 620px;
    background: url('img/right-arrow.png');
}

#projectsGalleryFrame .disable, #galleryFrame .disable { visibility: hidden; }


#projectsGalleryFrame .overview, #galleryFrame .overview
{
     list-style: none; 
     position: absolute; 
     padding: 0; 
     margin: 0; 
     left: 0; 
     top: 0;
}
#projectsGalleryFrame .overview li,  #galleryFrame .overview li
{
     float: left; 
     margin: 0; 
     padding: 0; 
     height: 415px; 
     width: 702px;
}



#projectsGalleryFrame {
    height: 415px;
    width: 702px;
}