.category img
{
    border: none;
}

.catalogue, .projects
{
    width: 776px;
    position: relative;
    margin: 0 auto;
    padding-top: 200px;
}

.catalogue .titleContainer
{
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #97a7b3;
    font-family: DinCyBd;
}

.catalogue .patternTop {
    background: url('img/filter-selector-pattern.png') no-repeat;
    height: 28px;
    width: 486px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 5px;
}

.catalogue .patternBottom {
    background: url('img/filter-selector-pattern-bottom.png') no-repeat;
    height: 28px;
    width: 486px;
    position: relative;
    margin: 10px auto;
    margin-top: 50px;
}


.filters {

    padding-top: 10px;
    text-align: center;
    
    
}

.filters span {
    background-color: #012637;
    border-radius: 10px;
  	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    color: #66badc;
    padding:3px 10px;
    margin: 5px;
    font-size: 10px;
    font-family: Arial;
}


.filters span a {
    color: #fff;
}


.brands .brand {
    text-align: center;
    
}

.brands .brand a {
    color: #66badc;
    font-size: 12px;
    font-family: DinCyRg;
}



.product
{
    width: 202px;
    float: left;
    margin: 20px;
}

.product .img-container
{
    width: 202px;
    height: 202px;
}
img
{
    border: none;
}
.category
{
    background-image: url('img/catalogue-thumb-bg.png');
    margin: 20px;
    width: 216px;
    height: 216px;
    float: left;
}

.category .img-container
{
    padding-left: 9px;
    width: 203px;
    height: 212px;
}
.category .img-container img
{
    position: absolute;
}

.category .img-container a
{
    display: block;
    height: 202px;
    width: 202px;
    position: absolute;
    background: url('img/pixel.gif');
}


.category .sign
{
    width: 187px;
    height: 33px;
    position: absolute;
    background-image: url('img/catalogue-thumb-sign-bg.png');
    margin-top: 157px;
    font-size: 17px;
    color: #fff;
    font-family: DinCyBk;
    text-transform: uppercase;
    padding-left: 15px;
    padding-top: 12px;
}

.catalogue .filters .filterItem, .projects .filters .filterItem
{
    background-image: url('img/filter-item-bg.png');
    padding-top: 13px;
    height: 17px;
    background-position: left;
    background-repeat: no-repeat;
}

.filterItemLine
{
    background-image: url('img/filter-item-bg-line.gif');
    height: 17px;
    background-repeat: no-repeat;
}


.filterItem table
{
    border-collapse: collapse;
    margin-left: 50px;
}

.filterItem table td
{
    background: url('img/filter-item-bg-line-center.gif') repeat-x;
    margin-left: 50px;
    height: 17px;
    padding-right: 10px;
    padding-left: 3px;
    font-size: 11px;
    font-family: DinCyRg;
    color: #fff;
}

.filterItem table td.end
{
    background-image: url('img/filter-item-bg-line-end.png');
    height: 17px;
    width: 4px;
    padding: 0;
}

.first .filterItemLine
{
    background-image: url('img/filter-item-bg-line-arrow.gif') !important;
}

.first a
{
    color: #6dcff6;
}

.manager
{
    color: #919293;
}
.manager a
{
    margin-left: 20px;
    color: #6dcff6;
}

.filterTitle
{
    color: #919293 !important;
}

.layoutInner
{
    width: 443px;
    height: 51px;
    background: url('img/layout-filter-bg.png');
    position: relative;
    margin: 0 auto;
}

.layoutFilterContainer .sign
{
    padding-top: 17px;
    color: #b9cad6;
    float: left;
    width: 105px;
    padding-left: 57px;
    font-family: DinCyBd;
    font-size: 15px;
    text-transform: uppercase;
}

.layoutFilterContainer .attributes
{
    font-size: 11px;
    font-family: DinCyRg;
    vertical-align: middle;
    height: 40px;
    display: table-cell;
    padding: 5px 0px 5px 35px;
    width: 400px;
    color: #666666;
}

.layoutFilterContainer .attributes span
{
    color: #fff;
}






.product .sign
{
    background: url('img/product-sign-bg.png') no-repeat;
    height: 13px;
    background-position: 0 8px;
    text-align: center;
    margin-top: 2px;
}

.product .sign .title
{
    background-color: #000;
    color: #fff;
    padding: 0 5px;
    font-family: DinCyRg;
    font-size: 9px;
    text-transform: uppercase;
}




.customTitle
{
    text-align: center;
    color: #ababab;
    font-family: DinCyRg;
    font-size: 12px;
    height: 21px;
}

.customTitle span
{
    color: #69cff8;
    text-transform: uppercase;
}
