@model EM2013.Models.ContentDescription

<div class="description">
    <div class="title">
        @if (!string.IsNullOrEmpty(Model.CategoryTitle))
        {
            @Html.Raw(Model.CategoryTitle)
            @Html.Raw(" &raquo; ")
        }
        
        @Model.Title
    </div>
    <div class="text">
        @Html.Raw(Model.Text)
    </div>
    <div class="bottom">
    </div>
</div>

