<div class="header">
    <div class="logo">
    </div>
    <div class="feedback-container">
        <div class="link">
            <a href="#">Обратная связь</a>
        </div>
    </div>
</div>
<div class="header-bottom-line">
</div>
