<div class="header">
    <div id="logo">
    </div>
    <div class="feedback-container">
        <div class="link">
            @Html.ActionLink("Обратная связь","SiteContent","Home",new{id="feedback"},null)
        </div>
    </div>
</div>
<div class="header-bottom-line">
</div>
