@{
    ViewBag.Title = "Провал!";
}


<div id="errorContent">
    <div class="error-description">
        <div class="description highlight">
            Вас приветствует Пятисотая! <br />
            Что-то пошло не так. <a href="mailto:miller.kak.miller@gmail.com">Напишите</a> нам, мы исправим.<br /><br />
        </div>
    </div>
</div>
