.project {
    float: left;
    width: 150px;
    height: 150px;
    margin: 15px;
    background: url('img/project-frame.gif');
    padding: 5px;
}

img {
    border: none;
}

.projects {
    padding-bottom: 50px !important;
}

.main-view-container {
    width: 554px;
    height: 598px;
    position: relative;
    margin: 0 auto;
    background: url('img/project-main-view-bg.gif');
}

.main-view-container .title {
    text-align: center;
    color: #5a5a5a;
    padding-top: 20px;
}

.main-view-container .picture {
    width: 528px;
    height: 528px;
    position: absolute;
    left: 13px;
    top: 56px;
    
    background-color: #fff;
}


#pictureLink
{
    position: absolute;
    z-index: 1001;
    width: 528px;
    height: 528px;
}

#pictureLink img
{
    z-index: 999;
}


.carusel-previews {
    position: relative;
    margin: 0 auto;
    width: 485px;
}

.carusel-previews .preview {
    float: left;
    width: 73px;
    height: 73px;
    padding: 7px;
    background-image: url('img/carusel-preview-frame.gif');
    margin: 5px;
}


.description-title {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.description-title-line {
    width: 67px;
    height: 3px;
    position: relative;
    margin: 0 auto;
    background: url('img/descr-title-line.gif');
}

.description-text {
    padding-top: 50px;
    width: 530px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 50px;
    
}

.layer 
{
    background: rgba(0, 0, 0, 0.65);
    width: 150px;
    height: 150px;
    position: absolute;
    display: none;
    text-align: center;
    color: #fff;
    font-family: Verdana;
    font-size: 10px;
}

.layer p {
    position: absolute;
    vertical-align: middle;
    display: table-cell;
    top: 50%;
    width: 150px;
}

.layer a 
{
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
}

