body 
{
    background: url('img/site-bg.jpg') no-repeat #27363c;
    background-position: 50% 0;
    
}

#footer {
    margin-top: -1px;
}

.page.bottom {
    margin-top: -1px;
}

.content {
    margin-top:-1px;
}

.main-page {
    background-color: transparent !important;
}


.category-details .product .bgMarker {
    background-image: url('img/product-checked.png');
}