@font-face 
{
    font-family: "FreeSetC";
    src: url('fonts/FreeSetC.otf');
}

@font-face 
{
    font-family: "FreeSetCBold";
    src: url('fonts/FreeSetC-Bold.otf');
}

@font-face 
{
    font-family: "FreeSetCItalic";
    src: url('fonts/FreeSetC-Italic.otf');
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: FreeSetC;
}

.main-page {
    background-color: #27363c;
}

.content, .page.top, .page.bottom {
    width: 796px;
    background: url('img/main-frame-bg.png') repeat-y;
    position: relative;
    margin: 0 auto;
}


.page.top
{
    height: 50px;
}

.page.middle
{
    padding-top: 70px;
    padding-bottom: 100px;
    
}

#header
{
    width: 818px;
    height: 145px;
    background: url('img/header-bg.png');
    position: relative;
    margin: 0 auto;
}


/*
.menu
{
    width: 410px;
    height: 200px;
    border: 1px solid #c0c0c0;
    position: relative;
    margin: 0 auto;
}
*/

.menu {
    width: 410px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.menu.top {
    width: 410px;
    height: 80px;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    position: relative;
    margin: 0 auto;
}

.menu.bottom {
    width: 410px;
    height: 80px;
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    position: relative;
    margin: 0 auto;
}


.circle
{
    background: url('img/circle.gif');
    width: 5px;
    height: 5px;
    position: absolute;
}

.circle.top-left
{
    left: -3px;
    top: -3px;
}

.circle.top-right
{
    top: -3px;
    left: 408px;
}

.circle.bottom-left
{
    top: 78px;
    left: -3px;
    z-index: 100;
}

.circle.bottom-right
{
    top: 78px;
    left: 408px;
    z-index: 100;
}

.menu a
{
    margin: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.frame
{
    width: 796px;
    position: relative;
    margin: 0 auto;
    display: none;
}

.frame .top, 
.frame .bottom {
    width: 796px;
    height: 15px;
}

.frame .middle {
    background: url('img/main-frame-middle.png');
    padding: 100px;
    padding-top: 40px;
}

.frame .middle .titleContainerLeft, .frame .middle .titleContainerRight
{
    height: 66px;
    background: url('img/title-side-bg.gif') no-repeat;
}

.frame .middle .titleContainerLeft {
    display: inline-block;
}

.frame .middle .titleContainerRight {
    background: url('img/title-side-bg.gif') no-repeat right;
}

.frame .middle .titleContainer {
    text-align: center;
    padding-bottom: 50px;
    
}


.frame .middle .titleContainer .inner {
    background: url('img/title-bg.gif');
    display: inline-block;
}

.frame .middle .titleContainer .title {
    padding: 22px;
    text-transform: uppercase;
}

.frame .middle .titleContainer .title a {
    color: #000;
}

.frame .top {
    background: url('img/main-frame-top.png');
    
}

.frame .bottom {
    background: url('img/main-frame-bottom.png');
}

#footer 
{
    width: 820px;
    height: 145px;
    background: url('img/footer.png');
    position: relative;
    margin: 0 auto;
}

.hide 
{
    position: absolute;
    width: 122px;
    height: 33px;
    background: url('img/hide.gif');
    left: 785px;
    top: 10px;
}

.hideLink {
    position: absolute;
    width: 70px;
    height: 15px;
    left: 30px;
    top: 10px;
    cursor: pointer;
}

.clear {
    clear: both;
}


.logOnPanel
{
    position: relative;
    margin: 0 auto;
    padding: 30px;
    width: 300px;
    background-color: #fff;
    border: 5px solid #607a85;
    text-align: center;
}

.logOnPanel h2 {
    color:  #607a85;
}


.videoContainer {
    margin-top: 30px;
}



.em-link {
    cursor: pointer;
    position: absolute;
}

#em-link {
    
    width: 120px;
    height: 10px;
    margin-top: 90px;
    margin-left: 590px;
}

#em-link-presentation 
{
    width: 110px;
    height: 10px;
    margin-top: 73px;
    margin-left: 530px;
}


.feedBackForm.success {
      font-size: 16px;
      font-weight: bold;
  }
  
  
.feedBackForm table td {
    padding-bottom: 15px;
}

.feedBackForm
{
    padding:20px;
	position: relative;
    margin: 40px auto auto;
    width: 480px;
    font-size: 12px;
    height: 250px;
}

.feedBackForm input[type='text'] {
    width: 300px;
}

.feedBackForm textarea {
    width: 260px;
    height: 100px;
}

  .errorMessage {
      text-align: center;
      color: #f00;
      border: 2px solid #f00;
      padding: 5px;
  }