
.subMenuTable
{
    border-collapse:collapse;
    width:100%;
}

.topLeft, .topRight, .bottomLeft, .bottomRight
{
    width:20px;
    height:18px;
}

.topLeft{background-image:url('img/sbm-top-left.gif');}
.topRight{background-image:url('img/sbm-top-right.gif');} 
.bottomLeft{background-image:url('img/sbm-bottom-left.gif');} 
.bottomRight{background-image:url('img/sbm-bottom-right.gif');}

.top, .left, .right, .bottom, .center{    background-color:#fae5e5;}

.top{border-top:1px solid #cc0000;}
.left{border-left:1px solid #cc0000;}
.right{border-right:1px solid #cc0000;}
.bottom{border-bottom:1px solid #cc0000;}

.center
{text-align:center;}





.submenuItem 
{
    font-family:Arial;
    font-weight:bold;
    padding:0px 8px;
    color:#666666;
    font-size:12px;
    /*line-height:25px;*/
    display:inline-block;
}

.submenuItem a
{
    font-family:Arial;
    font-size:12px;
    color:#cc0000;
    white-space:nowrap;
}

.adminSubMenuLinksContainer
{
    display:inline-block;
    margin-top:3px;
    margin-bottom:3px;
}

.adminSubMenuLinksContainer a
{
    color:#fff;
}

/*
.sMenuItem
{
    margin:0 !important;
    white-space:nowrap;
}



.subMenuCenter div
{ 
    float:left;
}

.subMenuCenter div .adminLink
{
    margin-left:1px !important;
    margin-right:1px !important;
}
*/

a.pictureLink
{
    
    width:16px;
    height:15px;
    background:url('img/delete.gif');
    display:inline-block;
    background-position:0 -15px;
    text-decoration:none !important;
}

a.pictureLink:hover
{
    background-position:0 0;
    text-decoration:none !important;
}