@model SpaceGame.DataAccess.ResourceSet

<div class="resourcePanel">
    <span>metal: </span>@Model.Metal &nbsp;
    <span>crystal: </span>@Model.Crystal &nbsp;
    <span>deiterium: </span>@Model.Deiterium &nbsp;
</div>
