<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="newsdbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AKUSHKO\SQLEXPRESS;Initial Catalog=news;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ContentStorage" connectionString="metadata=res://*/Structure.csdl|res://*/Structure.ssdl|res://*/Structure.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ACER\SQLEXPRESS;Initial Catalog=newsdb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>