*
{
    margin:0;
    padding:0;
}

body
{
    background-color:#d7d7be;
    font-family:Arial;
}

#page
{
    width:1100px;
    margin:0 auto;
    position:relative;
}

.line
{
    height:2px;
    width:1100px;
    background-image:url('img/line.gif');
}


#header
{
    margin:0 auto;
    position:relative;
    background-image:url('img/header.gif');
    background-repeat:no-repeat;
    background-position:240px 0;
    width:1100px;
    height:228px;
	margin-bottom: 8px;
}

.rootLink
{
    display:block;
	position:absolute;
    width: 111px;
    height: 110px;
    margin-left: 502px;
    margin-top: 40px;
    background:url('img/pixel.gif');
}

#phone
{
    position:absolute;
    width:102px;
    height:70px;
    background:url('img/phone.gif') no-repeat;
    margin-top:35px;
    margin-left:70px;
	font-family: Georgia;
	padding-top: 35px;
	padding-left: 107px;
	font-size: 20px;
}

#phone span
{
	font-weight: bold;
}

#reasons
{
    position:absolute;
    width:225px;
    height:63px;
    background:url('img/reasons.gif') no-repeat;
	background-position: right;
    margin-top:25px;
    margin-left:790px;
	padding-top: 55px;
	text-align: left;
	font-size: 25px;
	line-height: 8px;
}

#reasons a, #critic a
{
	color: #cc0033;
	font-style: italic;
	font-family: Georgia;
	font-size: 25px;
}

#reasons div, #critic div
{
	font-family: Verdana;
	font-size: 10px;
	color: #000;
    line-height: 10px;
}

#reasons div
{
    margin-top:12px;
}

#critic
{
    background:url('img/critic.gif');
    width:94px;
    height:94px;
    position:absolute;
    margin-top:35px;
    margin-left:70px;
    font-size: 30px;
}

#critic a
{
    margin-left: 115px;
}

#critic div 
{
    margin-left: 115px;
    margin-top: 20px;
    width: 150px;
    margin-bottom: -4px;
}


#footer
{
    width:1100px;
    background:url('img/footer.gif');
    background-position:490px 70px;
    background-repeat:no-repeat;
    height:170px;
}

#sign
{
    position:absolute;
    margin-left:490px;
    text-transform:uppercase;
    font-size:10px;
    text-align:center;
    margin-top:116px;
    
}



#euro
{
    background:url('img/euro.gif') no-repeat;
    background-position: right;
    font-family: Georgia;
    font-size:20px;
    width:254px;
    height:120px;
    position:absolute;
    margin-left:760px;
    margin-top:9px;
}

#euro div {
    margin-top: 50px;
}
#euro a {
    color: #cc0033;
	font-style: italic;
	font-family: Georgia;
}

#main
{
	
	width: 672px;
	position: relative;
	margin: 0 auto;
}

#mainTop, #mainBottom
{
	width: 672px;
	height: 28px;
	
}

#mainTop
{
	background: url('img/content-top.gif');
}

#mainBottom
{
	background: url('img/content-bottom.gif');
}

#mainMiddle
{
	min-height: 300px;
	position: relative;
	margin: 0 auto;
	width: 478px;
    padding: 0 70px;
	background-color: #fff;
}


#titleContent
{
    text-align: center;
    color: #cc3333;
    font-family: Georgia;
    font-size: 20px;
    padding-bottom: 40px;
}

#titleContent a
{
    
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

#contentList
{
    border-collapse: collapse;
    width: 100%;
}

#contentList td {
    
    /*border: 1px solid #000;*/
    
}

#contentList td.firstItem
{
    padding-left: 0px;
    padding-right: 60px;
}

#contentList td.secondItem
{
    padding-left: 60px;
    padding-right: 0px;
}

.contentItemDescription
{
    font-family: Verdana;
    color: #666666;
    font-size: 11px;
    margin-bottom: 40px;
    margin-top: 5px;
}

img{border: none}


#subTitle {
    color: #666666;
    font-size: 18px;
}

#backLink, #backLink a
{
    color: #cc3333;
    font-weight: bold;
    font-family: Georgia;
    font-size: 15px;
}

#backLink
{
    text-align: center;
}


#contentItemDetails td.description
{
    padding-right: 25px;
    font-family: Verdana;
    font-size: 12px;
    vertical-align: top;
    color: #38101a;
    width: 243px;
}