@using Posh.Helpers
@model Posh.Models.Category
<div class="category">
    @*@Html.Raw(Html.OriginalImage("Content/Images", Model.ImageSource))*@
    <div class="categoryTitle">
    @Model.Title
    </div>
</div>
