@model HavilaTravel.Models.Article

<div class="article">
        <div class="date">@Model.Date</div>
        <div class="title">@Model.Title</div>
        <div class="text">@Html.Raw(Model.Text)</div>
        <div class="details">&laquo; @Html.ActionLink("К новостям", "Index", "Articles", new { Area = "" }, null)</div>
    </div>   