#scrollbar1 { width: 165px; clear: both; margin: 0px 0 10px;}
#scrollbar1 .viewport { width: 145px; height: 410px; overflow: hidden; position: relative;}
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0;}
#scrollbar1 .thumb .end,
#scrollbar1 .scrollbar { position: relative; float: right; width: 16px; }
#scrollbar1 .track { height: 100%; width:16px; position: relative; background: url('img/scroll-bg.gif') repeat-y;background-position: 8px 0; }
#scrollbar1 .thumb { height: 16px; width: 16px; cursor: pointer; overflow: hidden; position: absolute; top: 0; background-image: url('img/thumb.png') }
/*#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }*/
#scrollbar1 .disable{ display: none; }