*
{
    margin: 0;
    padding: 0;
}

body
{
    color: #333333;
    font-family: Verdana, Georgia;
    font-size: 14px;
}

.clear
{
    clear: both;
}

.page
{
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

a {
    color: #00f;
}

.header.top
{
    /*height: 117px;*/
    height: 124px; /*background: url('img/header-bg.gif') repeat-x;*/
    background: url('img/header-bg.png') repeat-x;
    position: relative;
    min-width: 1200px;
}


.header.middle
{
    height: 337px;
    
    /*background-position: 50% 0;*/
    background-size: 100%;
    margin-top: -7px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

.header.middle .right, .header.middle .left {
    width: 12px;
    height: 337px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 11111;
}

.header.middle .right {
    background-image: url('img/slider-right.png');
    margin-left: 1188px;
    }

.header.middle .left {
    background-image: url('img/slider-left.png');
}

.main-page-slider {
    width: 1200px;
    height: 337px;
    position: absolute;
    background: url('img/header-bottom-bg.gif') no-repeat;
}

.header.bottom
{
    height: 78px;
    background: url('img/4-reasons.png');
    position: relative;
    margin: -11px auto auto;
    width: 1200px;
}

#logo
{
    width: 160px;
    height: 40px;
    position: absolute;
    top: 60px;
    left: 95px;
    background: url('img/logo.gif');
}

#phone
{
    position: absolute;
    left: 95px;
    width: 160px;
    height: 22px;
    top: 10px;
    background: url('img/phone.gif');
}


#footer
{
    height: 89px;
    background: url('img/footer-bg.gif') repeat-x;
}

.content-container 
{
    width: 1200px;
    /*position: relative;*/
    margin: 0 auto;
    
    margin-top: -6px;
    /*background-color: #f3f3f3;*/
}

#parallax-bg1 {
   /* background-image: url('img/site-bg.gif');*/
    
    /*z-index: 3;*/
    /*position: fixed;*/
    /*position: relative;*/
    /*left: 50%; */
    /*top: 0;
    width: 940px;
    margin-left: -470px; */
    
}

#site {
    display: block;
    width: 100%;
    height: 150%;
    z-index: -1;
    position: fixed;
    background: url('img/site-bg.jpg') no-repeat;
   -moz-background-size: 100%; 
    -webkit-background-size: 100%;
    -o-background-size: 100%; 
    background-size: 100%; 
    background-size: cover;
}

body {
    
}

.content
{
    margin: 0 auto;
    width: 1000px;
    min-height: 700px;
    background-color: #fff;
}

.main-page-content
{
    margin-top: -15px;
    background-color: #fff;
}


.main-page-content .container {
    width: 1200px;
    
    margin:0 auto;
    background: url('img/4reasons-bg.gif') no-repeat;
}


#em
{
    position: relative;
    margin: 0 auto;
    background: url('img/em.gif') no-repeat;
    width: 175px;
    height: 30px;
    padding-top: 35px;
    background-position: bottom;
}

#em-link
{
    position: absolute;
    width: 140px;
    height: 12px;
    cursor: pointer;
    top: 50px;
    left: 35px;
}



.reasons-container
{
    width: 880px;
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
}

.reason
{
    float: left;
    margin: 20px 10px;
    width: 412px;
    height: 200px;
    color: #565656;
}

.reason1
{
    background: url('img/1-reason.png');
}

.reason2
{
    background: url('img/2-reason.png');
}

.reason3
{
    background: url('img/3-reason.png');
}

.reason4
{
    background: url('img/4-reason.png');
}

.reason .title
{
    text-align: center;
    padding-top: 32px;
    font-family: Georgia;
    font-style: italic;
    font-size: 16px;
}

.reason .text
{
    text-align: left;
    padding: 32px 40px 0 75px;
    font-family: Verdana;
    font-style: normal;
    font-size: 11px;
}



div#content, div#errorContent
{
    text-align: center;
    position: relative;
}

.error-description
{
    display: inline-block;
    width: 375px;
    margin-top: 186px;
}

.error-description .description
{
    padding-top: 40px;
    padding-bottom: 175px;
    font-size: 14px;
}

.error-description .description a
{
    color: #8f8f8f;
}

.highlight
{
    color: #ec5d30;
}


#mainMenu {
    position: absolute;
    margin-left: 300px;
    margin-top: 38px;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    font-family: Verdana;
}

#mainMenu ul li {
    display: inline-block;
    padding: 30px 27px 17px;
    /*border: 1px solid black;*/
    height: 32px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.w {
    width: 100px;
}

#mainMenu ul li.selected {
    background-image: url('img/blink.gif');
    background-repeat: no-repeat;
    background-position: center -1px;
}

#mainMenu a {
    color: inherit;
}

/*
#mainMenu a.active {
    font-weight: bold;
}
*/

.login-form {
    width: 200px;
    position: relative;
    margin: 0 auto;
    padding-top: 200px;
}

.login-form table td {
    padding: 3px 10px;
}







.gradient-div {
	background: -moz-linear-gradient(#e8e9ea, white); /* FF 3.6+ */
	background: -ms-linear-gradient(#e8e9ea, white); /* IE10 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e9ea), color-stop(100%, #ffffff)); /* Safari 4+, Chrome 2+ */
	background: -webkit-linear-gradient(#e8e9ea, white); /* Safari 5.1+, Chrome 10+ */
	background: -o-linear-gradient(#e8e9ea, white); /* Opera 11.10 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e9ea', endColorstr='#ffffff'); /* IE6 &amp; IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e9ea', endColorstr='#ffffff')"; /* IE8+ */
	background: linear-gradient(#e8e9ea, white); /* the standard */
}


.title-container {
    height: 120px;
    text-align: center;
    padding-top: 20px;
}

.content-text {
    position: relative;
    margin-left: 115px;
    margin-right: 100px;
    padding-bottom: 50px;
    
}


.parentTitle {
    font-family: Georgia;
    font-style: italic;
    font-size: 15px;
    color: #bcbcbc;
    margin-top: 25px;
    height: 20px;
}





.title-container table.title {
    border-collapse: collapse;
    position: relative;
    margin: 0 auto;
    margin-top: 5px;

    font-family: Georgia;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #000;
}

.title-container .title .left, .title-container .title .right, .title-container .title .center 
{
    height: 32px;
}

.title-container .title .left 
{
    background: url('img/title-left.gif') no-repeat;
    width: 12px;
}
.title-container .title .right 
{
    background: url('img/title-right.gif') no-repeat;
    width: 14px;
}

.title-container .title .center {
    background: url('img/title-center.gif') repeat-x;
    padding: 0 20px;
}


.stars {
    position: relative;
    margin: 0 auto;
    padding: 30px 0;
    height: 13px;
    width: 102px;
    /*background: url(img/stars.gif) no-repeat;
    background-position: center;*/
}



.carusel {
    width: 636px;
    height: 384px;
    position: relative;
    margin: 0 auto;
}

.carusel .image {
    position: absolute;
    top: 12px;
    left: 12px;
}


.carusel .frame {
    width: 636px;
    height: 384px;
    position: absolute;
    background: url('img/carusel-frame.png');
}


.objects-viewer {
    width: 636px;
    height: 384px;
    position: relative;
    margin: 0 auto;
}

.objects-viewer .frame 
{
    width: 636px;
    height: 384px;
    position: absolute;
    background: url('img/carusel-frame.png');
}

.objects-viewer .image-container {
    position: absolute;
    top: 12px;
    left: 12px;
}

.objects-viewer .image {
    position: absolute;
    display: none;
}

.objects-viewer .links {
    position: absolute;
    width: 122px;
    height: 46px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-family: Verdana;
    font-size: 11px;
}
.objects-viewer .links a {
    color: inherit;
}

.objects-viewer .links.left {
    background: url('img/object-left.png');
    left: -70px;
    padding-right: 25px;
    padding-left: 5px;
    
}

.objects-viewer .links.right {
    background: url('img/object-right.png');
    right:-70px;
    padding-right: 5px;
    padding-left: 25px;
}

.objects-viewer .links.link1, .objects-viewer .links.link4 {
    top: 75px;
    
}

.objects-viewer .links.link2, .objects-viewer .links.link5 {
    top: 175px;
}

.objects-viewer .links.link3, .objects-viewer .links.link6 {
    top: 275px;
}


.imageLink
{}

.search {
    width: 146px;
    height: 17px;
    background: url('img/search.gif');
    position: absolute;
    left: 950px;
    top: 10px;
}


.search input {
    border: none;
    width: 110px;
    margin-left: 25px;
    background-color: #f3f3f3;
}


.contentItem {
    padding-top: 10px;
}

