@model iBank.UI.Models.LoginViewModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="loginForm">
    LogIn
    @using (Html.BeginForm())
    {
        <div>
            @Html.TextBoxFor(model => model.Login)
        </div>    
        <div>
            @Html.PasswordFor(model => model.Password)
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    }
</div>

