.banner {
    /*height: 385px;*/
    margin-top: 100px;
    width: 1269px;
    background: url("../img/banner-shadow.png") no-repeat;
    margin-left: -23px;
}

.banner .banner-image {
    width: 1200px;
    /*height: 385px;*/
    /*position: relative;*/
    margin: 0 auto;
}

.banner .banner-shadow {
    
    height: 11px;
    
    /*position: relative;*/
    margin: 0 auto 0 auto;
    /*margin-top: -385px;*/
}


