@{
    ViewBag.Title = "Страница не найдена";
}

<div id="errorContent">
    <div class="error-description">
        <div class="description highlight">
            Вас приветствует Четыреста Четвертая! <br />
            Настоящим сообщаю что запрашиваемая вами страница не найдена.<br /><br />
        </div>
    </div>
</div>