<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="gbua_deliveryContext" connectionString="server=mysql303.1gb.ua;user id=gbua_delivery;password=9a06821fwr;persistsecurityinfo=True;database=gbua_delivery"
      providerName="MySql.Data.MySqlClient" />
    <add name="ModelContainer" connectionString="metadata=res://*/Db.Model.csdl|res://*/Db.Model.ssdl|res://*/Db.Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql303.1gb.ua;user id=gbua_delivery;password=9a06821fwr;persistsecurityinfo=True;database=gbua_delivery&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>