<div id="menu">
                <ul>
                    <li>Каталог Маекджексон</li>
                    <li>Несколько дерзских слов</li>
                    <li>Размерная сетка</li>
                    <li>Шоурум</li>
                </ul>
            </div>