@model Poggen.Models.CategoriesSelectorData
<div class="categoriesSelector">
    <div class="categorySelector">
        @Html.DropDownList("category", Model.Categories)
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Добавить категорию", "Create", "Category", new { area = "Admin", categoryType = 0 }, new { @class = "adminLink" })
        }
    </div>
    <div class="subCategorySelector">
        @Html.DropDownList("subcategory", Model.SubCategories)
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Добавить тип", "Create", "Category", new { area = "Admin", parentId = ViewBag.CategoryId, categoryType = 0 }, new { @class = "adminLink" })
        }
    </div>
</div>
