@model Shop.WebSite.Models.BreadCrumbs
<div class="site-title">
    <div class="site-title-container clearfix block">
        <div class="block first-block">

            @for (var i = 0; i < Model.Count - 1; i++)
            {
                if (i == 0)
                {
                <span>
                    @Html.ActionLink(Model[i].Title, "Catalogue", "Home", new { category = Model[i].Name }, null) &raquo;
                </span>
                }
                if (i == 1)
                {
                <span>
                    @Html.ActionLink(Model[i].Title, "Catalogue", "Home", new { category = Model[i-1].Name, subcategory=Model[i].Name }, null) &raquo;
                </span>
                }

            }

            <span class="separator"></span>
        </div>
        <div class="block first-block-tail"></div>
        <div class="block title">@Model[Model.Count - 1].Title</div>
        <div class="block bike"></div>
        <div class="block">
            <div class="stretch-element">
                <div class="table-cell after-bike">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="block after-bike-fading"></div>
</div>
