@model string


<div class="site-title">
    <div class="container clearfix block">
        <div class="block first-block"></div>
        <div class="block first-block-tail"></div>
        <div class="block title">@Model</div>
        <div class="block bike"></div>
        <div class="block">
            <div class="stretch-element">
                <div class="table-cell after-bike">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="block after-bike-fading"></div>
</div>