.adminLink
{
    color:Blue !important;
    font-size:12px;
}

#subMenuAdminLinkContainer
{
    float:none;
    text-align:center !important;
}

#logOutAdminLinkContainer
{
    float:left;
    padding-left:30px;
    padding-top:1px;
    width:160px;
}

#addGalleryAdminLinkContainer
{
    text-align:center;
}

.adminLinkContainer
{
    text-align:center;
}

.adminLinksPouUpContainer
{
    position:absolute;
    margin-top:-20px;
    margin-left:10px;
    background-color:#fff;
    display:none;
    height:20px;
    width:50px;
}

.show
{
    display:block;
}

