#gallery
{
    padding:30px;
}

#gallery img
{
    border:1px solid #6d6d6d;
}

.gallerySign
{
    margin-top:5px;
    color:#333333;
    font-size:11px;
    width:156px;
    
}

.galleryItem
{
    width:158px;
    /*border:1px solid red;*/
    float:left;
    height:190px;
    margin:10px 30px;
}

#paging
{
    text-align:center;
    padding-top:20px;
}

#paging
{
    color:#cc0000;
    font-size:12px;
}

#paging span
{  color:#000;}

#paging a
{
    color:#000;
}

#backToCatalogue
{
    width:104px;
    height:18px;
    background:url('img/back.gif') no-repeat;
    color:#fff;
    font-size:12px;
    margin-left:-3px;
    padding-left:10px;
    padding-top:3px;
}

#backToCatalogue a
{
    color:#fff;
    padding-left:5px;
    font-size:12px;
}
#backToCatalogue a:hover
{
    text-decoration:none;
}

#galleryViewerContainer
{
    height:437px;
    text-align:center;
}

#galleryViewer
{
    height:356px;
    width:407px;
    border:1px solid #000;
    margin-left:260px;
}


#galleryPreviews
{
    
}