#mainMenu
{
    height:44px;
    background-color:#cccccc;
    width:957px;
    margin-right:56px;
    margin-left:auto;
}

#menuItem2
{
    background-image:url('img/menu/studio.gif');
    width:100px;
}

#menuItem3
{
    background-image:url('img/menu/projects.gif');
    width:75px;
}

#menuItem4
{
    background-image:url('img/menu/team.gif');
    width:82px;
}

#menuItem5
{
    background-image:url('img/menu/rewards.gif');
    width:90px;
}

#mainMenu a
{
    display:block;
    float:left;
    margin:0 74px;
    height:44px;
}

#mainMenu span
{
    float:left;
    height:44px;
    display:block;
    margin:0 74px;
}

#mainMenu a:hover
{
    background-position:0 88px;
}

#mainMenu span
{
    background-position:0 44px;
}



.menuLineSeparator
{
    height:1px;
    background:url('img/menuSeparator.gif');
    width:1085px;
    margin-right:0;
    margin-left:auto;
}


#subMenuContainer
{
    min-height:62px;
    background-color:#cccccc;
    width:857px;
    margin-right:56px;
    margin-left:auto;
    padding: 30px 60px 30px 40px;
    font-size:13px;
}

#subMenu a
{
    display:block;
    float:left;
    white-space:nowrap;
    margin:0 20px;
    color:#666666;
    line-height:20px;
    letter-spacing:1px;
}

#subMenu a:hover
{
    color:#ffffff;
}


