.adminLink {
    color: #f00 !important;
    font-size: 12px !important;
}

.sortOrder {
    color: #f00 !important;
    font-size: 12px !important;
    font-weight: bold;
}

.adminContent input[type="text"],
.adminContent input[type="number"],
.adminContent textarea
 {
    width: 500px;
}

.adminContent {
    padding-bottom: 30px;
}