body {
}


#page {
    width: 768px;
}


#header, #footer {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#header {
    height: 48px;
    background: url('img-ipad/header-bg.gif') repeat-x;
    top: 0;
}

.body {
    margin: 50px 0;
}

#footer {
    height: 50px;
    background: url('img-ipad/footer-bg.gif') repeat-x;
    bottom: 0;
}



#footer #copyright {
    text-align: center;
    padding-top: 20px;
    font-size: 11px;
    color: #fff;
}

#footer #copyright a {
    color: inherit;
}

#logo {
    width: 99px;
    height: 37px;
    background: url('img-ipad/logo.gif') no-repeat;
    position: absolute;
    left: 25px;
    top: 5px;
}

#menu {
    /*padding-top: 5px;*/
    margin-left: 170px;
    font-family: 'Yeseva One', cursive;
    font-size: 12px;
    color: #fff568;
}


#menu ul {

}

#menu ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px 0 25px;
    width: 90px;
    text-align: center;
    vertical-align: middle;
}

#menu a{
    color: #fff;
}

a.selected {
    color: #b4a4a4 !important;
}

.product {
    width: 228px;
    height: 228px;
    float: left;
    background-color: beige;
    margin: 14px;
}

.main-title {
    text-align: center;
    padding: 50px;
    font-size: 21px;
    font-family: 'Yeseva One', cursive;
}

.line {
    width: 100px;
    height: 1px;
    position: relative;
    margin: 0 auto;
    background-color: #000;
}

.main-text {
    padding: 60px;
}


.productDetails {
    /*width: 350px;
    height: 390px;
    border: 11px solid #f4f4f4;*/
    padding: 20px ;

}



.productImage {
    width: 350px;
    height: 390px;
    border: 11px solid #f4f4f4;
}

/*.productImage .image {
    position: absolute;
}*/

/*.productImage .image.first {
    z-index: 1001;
}*/

.productDescription {
    position: absolute;
    margin-left: 430px;
    width: 300px;
    font-family: 'Tenor Sans', sans-serif;
}

.phone {
    margin-top: 20px;
    border: 3px solid #ccc;
    height: 35px;
    width: 240px;
    text-align: center;
}

.phone input {
    height: 32px;
    border: none;
    outline: none;
    font-size: 23px;
    font-family: 'Tenor Sans', sans-serif;
    width: 185px;
}



.phone a {
    display: block;
    background-image: url('img/send-active.gif');
    width: 44px;
    height: 35px;
    float: right;
}



.phone a[disabled] {
            color: #ebebeb;
            cursor: not-allowed;
            background-image: url('img/send.gif');
        }

.phone span {
    display: none;
    font-size: 25px;
}


.productsDescription {
    margin-top: -10px;
    padding-bottom: 30px;
}




.slider-controls {
    width: 142px;
    position: absolute;
    z-index: 100;
    margin-top: 73px;
}

.slider-controls .name {
    width: 135px;
    height: 73px;
    background: url('img/name.png');
    margin: 3px;
}

.slider-controls #slider-prev {
    float: left;
    width: 66px;
    height: 73px;
    background: url('img/left-arrow.png');
    margin-left: 3px;

}

.slider-controls #slider-next {
    float: left;
    width: 66px;
    height: 73px;
    background: url('img/right-arrow.png');
    margin-left: 3px;
}

.slider-controls #slider-prev a, .slider-controls #slider-next a{
    display: block;
    width: 100%;
    height: 100%;
}



.bx-prev, .bx-next {
    display: none;
}