<div id="submenu">
        <table>
            <tr>
                <td class="separator"></td>
                <td>
                    Входные
                </td>
                <td>
                    <a href="#">Межкомнатные</a>
                </td>
                <td>
                    <a href="#">Еще какие-нибудь</a>
                </td>
                <td class="separator"></td>
            </tr>
        </table>
    </div>