<div id="slogan">
    От проекта &mdash; до монтажа:
</div>
<div id="galleryFrameContainer">
    <div class="border">
    </div>
    <div id="galleryFrame">
        <div id="galleryImageContainer">
        </div>
    </div>
    <div class="border">
    </div>
</div>
