<table>
    <tr>
        <td>
            <a href="#">Готовые интерьеры</a>
        </td>
        <td>
            <a href="#">Наши партнеры</a>
        </td>
        <td>
            <a href="#">Контактные сведения</a>
        </td>
    </tr>
</table>
