*{margin: 0;	padding: 0;	font-family: Verdana;	font-size: 13px;}
img{border: 0;}
.clearBoth{	clear: both;}
html{background-color:#051f3a;}
#page{position: relative;	margin: 0 auto;	width: 950px; 	 }
#header{padding-bottom: 20px; height:200px; }

#logoContainer
{
/*    padding-top: 50px;	
    padding-left: 0px; */
/*
    background-image:url('img/new-logo.gif');
    background-position:bottom; 
    background-repeat:no-repeat;
*/
    /*background-color:#21518f;*/
    background-color:#2a425e;
    border:solid 2px #5e8fc6;
    
    width:950px; 
    height:180px;
    
    margin-top:20px;
    position:absolute;
    
    /*margin-top:10px;*/
    /*top:10px;*/
    
}

#logo
{
    width:160px;
    height:160px;
    background-image:url("img/logo.gif");
    margin:10px;
    float:left;
    /*margin-top:20px;*/
}

#obout_show
{
	width:750px;
	height:160px;
	/*background-color:Yellow;*/
	margin-left:180px;
	margin-top:10px;
	
}

.logo{padding-left:11px; padding-top:9px;}

html{background:url("img/body_bg.jpg") repeat-x scroll left top #041E39;
     background-position:0 -60px;
      }
body
{
    height: 100%;
     color:#5A7FAD;
     background-image:url("img/background_2.jpg");
     background-repeat:no-repeat;
     background-position:top;
     background-position:50% -60px;
}


#menuContainer{padding-left: 0px;	float: left;	width: 190px; /*background:#ffaaff;*/}
#contentContainer{/*background:#aaee00;*/	margin-left: 217px; min-height:400px;}

#main
{
    background:url("img/wrap_bg.gif") repeat-y scroll center top;
    padding:20px;   
    width:910px;
}

#contentContainerTitle
{
    color:Red;
}

.line{border-top: 1px solid #009FFB;text-align:center; padding:20px 0 0 0;font-family: Tahoma, Helvetica, sans-serif;font-weight:bold;font-size:12px;}

#headerInfoPicture
{
	width:400px;
	height:160px;
	background-image:url('img/header-info.gif');
	float:left;
}

#headerText
{
	margin-left:410px;
	font-weight:bold;
	
}