@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (IsAuthenticated)
{
    @Html.Raw("Hello " + User.Name)

    
    @Html.ActionLink("Log off","LogOff","Account")
}


