.categories {
    padding: 0 72px;
}

.categories .category {
    width: 231px;
    height: 231px;
    float: left;
    margin:27px 27px;
    background: url('img/cat-prev-frame.gif');
}

.categories .category .image {
    margin-top: 8px;
    margin-left: 8px;
}

.categories .category .image .title {
    position: absolute;
    width: 213px;
    height: 20px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 172px;
}

.categories .brandsConteiner .title {
    text-align: center;
    font-size: 25px;
    font-family: PTSansBold;
    padding-top: 10px;
}

.categories .brandsConteiner .categoryBrands {
    text-align: center;
    font-size: 15px;
    font-family: PTSansBold;
    padding-top: 5px;
    padding-bottom: 10px;
    
}

.categories .brandsConteiner .categoryBrands ul {
    list-style: none;
}

.categories .brandsConteiner .categoryBrands ul li {
    display: inline-block;
    padding: 5px 20px;
}

.categories .brandsConteiner .categoryBrands ul li a {
    color: #999999;
}

.categories .brandsConteiner {
    width: 820px;
    position: relative;
    margin: 0 auto;
}

.categories .brandsConteiner .top, .categories .brandsConteiner .bottom {
    height: 12px;
}

.categories .brandsConteiner .top {
    background: url('img/category-brand-top.gif');
}

.categories .brandsConteiner .bottom {
    background: url('img/category-brand-bottom.gif');
}

.categories .brandsConteiner .middle {
    background: url('img/category-brand-middle.gif') repeat-y;
}


.categories .categoryBrandItems {
    padding-top: 50px;
}

.categories .categoryBrandItems .categoryBrandItem {
    margin: 20px;
    /*border: 1px solid black;*/
    padding: 5px;
}

.categories .categoryBrandItems .categoryBrandItem .title {
    text-align: center;
}

.categories .categoryBrandItems .categoryBrandItem .title a {
    font-style: italic;
    font-size: 20px;
    color: #0066cc;
}

.categories .categoryBrandItems .accordion h3
{  text-align: center;}

.categories .categoryBrandItems .accordion h3 span {
    font-style: italic;
    font-size: 20px;
    color: #0066cc;
    text-decoration: underline;
    font-weight: normal;
  
}

/*
.userInfoArea {
    text-align: center;
    position: absolute;
    width: 200px;
    margin-left: 750px;
}
*/

.userInfoArea {
    text-align: center;
    margin-top: -20px;
    /*position: absolute;
    width: 200px;
    margin-left: 750px;*/
}

.userInfoArea span.userName {
    font-family: PTSansBold;
}

.userInfoArea span.logOut {
    font-size: 11px;
}
.userInfoArea span.logOut a {
    color: #0099fa;
    font-family: PTSans;
}


.customerLogOnRegisterForm {
    padding: 0 120px;   
}

.customerLogOnRegisterForm .text {
    margin-bottom: 50px;
    font-size: 15px;
}

.customerLogOnRegisterForm .text a, .customerLogOnRegisterForm .text span {
    color: #0066cc;
}

.customerLogOnRegisterForm table td {
    padding-right: 20px;
    padding-top: 15px;
    
}

.book {
    background: url('img/book.gif');
    position: relative;
    margin: 0 auto;
    width: 689px;
    height: 439px;
    margin-top: 80px;
}