@font-face
{
    font-family: "PragmaticaBlack";
    src: url('fonts/4137643.ttf');
}

@font-face
{
    font-family: "PT";
    src: url('fonts/PTS55F.ttf');
}

@font-face
{
    font-family: "PTNarrow";
    src: url('fonts/PTN57F.ttf');
}

@font-face
{
    font-family: "PTNarrowBold";
    src: url('fonts/PTN77F.ttf');
}


