.main-page-container {
    width: 1100px;
}

.header .bottom {
    background-position: 50%;
}
.header .bottom2 {
 background-position: 50%;
}

.header .mainMenuContainer {
 background-position: 50%;
}

.content-container {
    background-position: 50%;
}

.footer 
{
    width: 1100px;
}


.em-link {
   
    margin-left: 95px;
}