* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    font-family: PTSans;
}

.clear {
    clear: both;
}


.main-page-container {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    
}

.header .top {
    height: 28px;
}

.language-switcher {
    width: 100px;
    color: #0099fa;
    font-size: 10px;
    font-family: PTSans;
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
}

.language-switcher a{ color: #fff;}

.header .middle {
    height: 107px;
    /*background: url('img/header-bg.gif');*/
    /*width: 1000px;
    position: relative;
    margin: 0 auto;*/
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

#Scene1 {
    color: #fff;
    /*border: 1px solid red;*/
}

.header .middle .layer {
    height: 107px;
    /*background: url('img/header-bg.gif');*/
    position: absolute;
    /*background-position: 50%;*/
    width: 1000px;
    margin-left: 0px;
}

.header .middle .pattern1 {
    background: url('img/pattern1.png');
}

.header .middle .pattern2 
{
    background: url('img/pattern2.png');
}


.header .middle .toplayer {
    height: 107px;
    background: url('img/header-bg-layer.png');
    width: 1000px;
    position: absolute;
}

.header .bottom {
    height: 7px;
    background: url('img/header-bottom-bg.gif');
}
.header .bottom2 {
    height: 8px;
    background: url('img/header-bottom-bg2.gif');
}

.header .mainMenu {
    height: 48px;
    background: url('img/main-menu-bg.gif');
}


.content-container {
    background: url('img/site-bg.gif');
}

.content-container .content-center {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    
}

.content-container .content-center .line {
    height: 2px;
    background-color: #eeeeee;
    margin:70px 125px 70px 125px;
}



.content-container .content-top {
    height: 13px;
    background: url('img/content-top-bg.gif');
}

.content-container .content-bottom {
    height: 13px;
    background: url('img/content-bottom-bg.gif');
}

.content-container .content-center .content {
    padding:0 125px;
    min-height: 250px;
}

.footer 
{
    width: 1600px;
    position: relative;
    margin: 0 auto;
    height: 200px;
    background: url('img/footer-bg.gif');
    /*overflow: hidden;*/
}


.title-container {
    height: 70px;
    background: url('img/title-container-bg.gif') repeat-x;
    margin: 50px 125px 40px 125px;
    font-size: 16px;
    /*font-family: PragmaticaBlack;*/
    font-family: PTSans;
    text-transform: uppercase;
    font-weight: bold;
}

.title-container table.title {
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
    
}

.title-container table.title td.left {
    float: left;
    width: 24px;
    height: 70px;
    background: url('img/title-left.gif') repeat-x;
}


.title-container table.title td.center
{
    background: url('img/title-bg.gif') repeat-x;
}

.title-container table.title td.right {
    float: left;
    width: 24px;
    height: 70px;
    background: url('img/title-right.gif') repeat-x;
}

.title-container table.title td.separator {
    width: 60px;
    background-color: #fff;
}


.title-container table.title td.center span {
    color: #999999;
}
.title-container table.title td.center a {
    color: inherit;
    font-weight: bold;
}

.imageLink {
    position: absolute;
    width: 210px;
    height: 210px;
}

.imageLink a {
    display: block;
    width: 210px;
    height: 210px;
}

.logOnPanel
{
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
    width: 300px;
    background-color: #fff;
    border: 2px solid #ccc;
}


.field-validation-error
{
    color: red !important;
}

.customerLogOnRegisterForm span.tip {
    font-family: PTSansItalic;
    color: #999999;
    font-size: 12px;
}

.em-link {
    cursor: pointer;
    position: absolute;
    width: 130px;
    height: 11px;
    margin-top: 112px;
    margin-left: 345px;
}


#logo
{
    position: absolute;
    width: 120px;
    height: 100px;
    margin-left: 440px;
    margin-top: 10px;
}


.userInfoArea .shortLine {
    height: 2px;
    background-color: #eeeeee;
    width: 65px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sbmbtn {
    border: none;
    padding: 5px 10px;
    padding-left: 20px;
    border-radius: 20px;
    
    background-color: #f6f6f6;
    color: #cccccc;
    width: 70px;
    text-align: center;
}

.sbmbtn input {
    border: none;
    background-color: #f6f6f6;
    color: #cccccc;
    cursor: pointer;
    text-decoration: underline;
}

