.main-page-container
{
    /*width: 1400px;*/
    
    width: auto;
    min-width: 1000px;
    max-width: 1400px;
}

.footer
{
    /*width: 1400px;*/
    width: auto;
    min-width: 1000px;
    max-width: 1400px;
}




.content-container {
    background-position: 50% 0;
}
.header .bottom {
    background-position: 50%;
}

.header .bottom2 {
 background-position: 50%;
}

.header .mainMenuContainer {
 background-position: 50%;
}