* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    font-family: PTSans;
}

.clear {
    clear: both;
}


.main-page-container {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    
}

.header .top {
    height: 28px;
}

.language-switcher {
    width: 100px;
    color: #0099fa;
    font-size: 10px;
    font-family: PTSans;
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
}

.language-switcher a{ color: #fff;}

.header .middle {
    height: 107px;
    background: url('img/header-bg.gif');
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

.header .middle .layer {
    height: 107px;
    background: url('img/header-bg-layer.png');
}

.header .bottom {
    height: 7px;
    background: url('img/header-bottom-bg.gif');
}
.header .bottom2 {
    height: 8px;
    background: url('img/header-bottom-bg2.gif');
}

.header .mainMenu {
    height: 48px;
    background: url('img/main-menu-bg.gif');
}


.content-container {
    background: url('img/site-bg.gif');
}

.content-container .content-center {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    
}

.content-container .content-center .line {
    height: 2px;
    background-color: #eeeeee;
    margin:100px 125px 100px 125px;
}

.content-container .content-top {
    height: 13px;
    background: url('img/content-top-bg.gif');
}

.content-container .content-bottom {
    height: 13px;
    background: url('img/content-bottom-bg.gif');
}

.content-container .content-center .content {
    padding:0 125px;
    min-height: 250px;
}

.footer 
{
    width: 1600px;
    position: relative;
    margin: 0 auto;
    height: 200px;
    background: url('img/footer-bg.gif');
    /*overflow: hidden;*/
}


.title-container {
    height: 70px;
    background: url('img/title-container-bg.gif') repeat-x;
    margin: 50px 125px;
    font-size: 16px;
    /*font-family: PragmaticaBlack;*/
    font-family: PTSans;
    text-transform: uppercase;
    font-weight: bold;
}

.title-container table.title {
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
    
}

.title-container table.title td.left {
    float: left;
    width: 24px;
    height: 70px;
    background: url('img/title-left.gif') repeat-x;
}


.title-container table.title td.center
{
    background: url('img/title-bg.gif') repeat-x;
}

.title-container table.title td.right {
    float: left;
    width: 24px;
    height: 70px;
    background: url('img/title-right.gif') repeat-x;
}

.title-container table.title td.separator {
    width: 60px;
    background-color: #fff;
}
