#buttonContainer{}
#buttonContainer a{display:block;width:150px;height:34px;background-position: 0px 0px;margin-bottom:30px;}

a.ruhotred{background-image:url('images/ru/hotgray.gif');}
a.rusellred{background-image:url('images/ru/sellgray.gif');}
a.ruteleportred{background-image:url('images/ru/teleportgray.gif');}
a.enhotred{background-image:url('images/en/hotgray.gif');}
a.ensellred{background-image:url('images/en/sellgray.gif');}
a.enteleportred{background-image:url('images/en/teleportgray.gif');}
a.ithotred{background-image:url('images/it/hotgray.gif');}
a.itsellred{background-image:url('images/it/sellgray.gif');}
a.itteleportred{background-image:url('images/it/teleportgray.gif');}

a.ruhotgreen{background-image:url('images/ru/hotred.gif');}
a.rusellgreen{background-image:url('images/ru/sellgreen.gif');}
a.ruteleportgreen{background-image:url('images/ru/teleportgreen.gif');}
a.enhotgreen{background-image:url('images/en/hotred.gif');}
a.ensellgreen{background-image:url('images/en/sellgreen.gif');}
a.enteleportgreen{background-image:url('images/en/teleportgreen.gif');}
a.ithotgreen{background-image:url('images/it/hotred.gif');}
a.itsellgreen{background-image:url('images/it/sellgreen.gif');}
a.itteleportgreen{background-image:url('images/it/teleportgreen.gif');}

