.yellowBoxContainerTop, .yellowBoxContainerBottom
{
    width:346px;
    height:10px;
    background-repeat:no-repeat;
}
.yellowBoxContainerTop
{
    background-image:url('images/yellowboxtop.gif');
    background-position:bottom;
}
.yellowBoxContainerBottom
{
    background-image:url('images/yellowboxbottom.gif');
    background-position:top;
}

.innerYellowBoxContainer
{
    margin-left:1px;
    background-color:#FFFFCE;
    width:304px;
    padding:20px;
}

.yellowBoxContainer
{
    margin-left:110px;
    margin-bottom:40px;
}

.textBoxContainer
{
    width:285px;
    /*margin-top:20px;
    margin-bottom:20px;*/
     height:60px;
    
}
.textBoxTitle{color:#2F2F27; font-weight:bold;}
.textBoxSubTitle{color:#635E65; font-weight:bold;}

.textBoxLeftSide,.textBoxRightSide
{
    background-repeat:no-repeat;
    width:13px;
    height:22px;
    float:left;
}

.textBoxLeftSide
{
    background-image:url('images/textboxleftside.gif');
}

.textBoxRightSide
{
    background-image:url('images/textboxrightside.gif');
}

.textBox
{
    border-left-style:none;
    border-right-style:none;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    height:20px;
    width:257px;
    float:left;
    display:block;
}

.yellowBoxTitle
{
    font-size:16px;
    font-weight:bold;
    color:#C9C997;
    margin-bottom:30px;
}



.textAreaContainer
{
    margin-bottom:20px;
   
                   
                   }
.textAreaTop
{
    background-image:url('images/textareatop.gif');
    background-position:bottom;
}
.textAreaBottom
{
    background-image:url('images/textareabottom.gif');
    background-position:top;
}

.textAreaTop, .textAreaBottom
{
    width:284px;
    height:11px;
    background-repeat:no-repeat;
    display:block;
    float:left;
}
.textArea
{
    border-top-style:none;
    border-bottom-style:none;
    border-left:solid 1px #010101;
    border-right:solid 1px #010101;
    width:282px;
    overflow:auto;
    display:block;
    float:left;
}

#requestTitle
{
    margin: 10px 10px 30px 10px;
    font-size:13px;
}

#requestSubmitButton
{
    margin-top:20px;
    margin-left:115px;
}