body
{
    height:100%; 
    margin:0px; 
    margin-bottom:0px; 
    font-size:11px; 
    font-family:tahoma;
    background-color:White;
}

#main
{
    position:relative; 
    margin:0 auto;
    width:850px;
    background-color:White;
    height:100%;
    /*border:1px solid black;*/
    height:50px;
    background-color:Aqua;
}

#logo
{
    float:left;
    width:160px;
    height:250px;
    background-color:Red;
}

#headerRight
{
    margin-left:160px;
}

#phrase
{
    height:180px;
    background-color:Yellow;
}

#menu
{
    /*border:1px solid black;*/
    
    background-color:Olive;
}

#middle
{
    
}

#left
{
    float:left;
    width:160px;
    background-color:Fuchsia;
    height:100px;
}
#content
{
    margin-left:160px;
    background-color:Maroon;
    height:100px;
}


#footer
{
    height:100px;
    background-color:Orange;
     height:50px;
}

#languageBar
{
       width:200px;
       height:28px;
}