body
{
    height:100%; 
    margin:0px; 
    margin-bottom:0px; 
    font-size:11px; 
    font-family:tahoma;
    background-color:White;
}

#main
{
    position:relative; 
    margin:0 auto;
    width:850px;
    background-color:White;
    height:100%;
    border:1px solid black;
    height:50px;
}

#logo
{
    float:left;
    width:100px;
}

#headerRight
{
    margin-left:100px;
}

#phrase
{
    
}

#menu
{
    
}

#middle
{
    
}

#left
{
    float:left;
    width:200px;
}
#content
{
    margin-left:200px;
}


#footer
{
    height:100px;   
}

#languageBar
{
       width:200px;
       height:28px;
}