body
{
    height:100%; 
    margin:0px; 
    margin-bottom:0px; 
    font-size:11px; 
    font-family:tahoma;
    background-color:White;
}

#main
{
    position:relative; 
    margin:0 auto;
    width:850px;
    background-color:White;
    height:100%;
    /*border:1px solid black;*/
    height:50px;
    
}

#logo
{
    background-image:url('images/logo.png');
    background-repeat:no-repeat;
    float:left;
    width:151px;
    height:256px;
}

#headerRight
{
    margin-left:160px;
}

#phrase
{
    height:180px;
    background-image:url('images/phrase.png');
    background-repeat:no-repeat;
    background-position:315px bottom;
}

#menu
{
    /*border:1px solid black;*/
    
    
    padding-left:40px;
}

#middle
{
    
}

#left
{
    float:left;
    width:160px;
    
    height:100px;
}
#content
{
    padding-left:50px;
    padding-top:10px;
    margin-left:160px;
}


#footer
{
    padding-top:20px;
    height:35px;
    
    border-top-style:dotted;
    border-top-color:Red;
    border-bottom-style:dotted;
    border-bottom-color:Red;
    
    
    
}


#footerRight a { color: #7f0002; text-decoration: none; }
#footerRight .mark { background: #7f0002; color: white; padding: 1px 3px 1px 3px; }

#footerLeft
{
    float:left;        
}
#footerRight
{
    padding-left:760px;
}

#languageBar
{
   padding-left:490px;
   height:28px;
}


h2
{
    color:Red;
}