#slider{margin:5px 30px 30px 30px;width:313px;margin-left:110px;}
#sliderContainer{background-color:#FFFFCC;width:250px;margin-left:120px;padding:20px;}

.ui-widget-content{border: 0px solid #dddddd;background-image:url('images/points.gif');background-position:-3px 0px;background-repeat:no-repeat;color: #333333;}
.ui-state-default, .ui-widget-content .ui-state-default{background-image:url('images/slider.gif');background-repeat:no-repeat;font-weight: bold;color: #1c94c4;outline: none;}
.ui-slider{position: relative;text-align:left;}
.ui-slider .ui-slider-handle{position: absolute;z-index: 2;width: 2em;height: 2.7em;cursor: default;}
.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }


#steps
{
    margin-left:90px;
    margin-top:20px;
    height:20px;
}

.step
{
    float:left;
    padding-right:35px;    
}