#arrowsContainer{height:60px; margin-left:150px; padding-top:15px;}
#arrowsContainer a{width:60px; height:60px; display:block; float:left;}
#arrowsContainer a:hover{background-position:0 -60px; background-repeat:no-repeat;}

a.leftArrow{background-image:url('images/left-arrow.gif');}
a.rightArrow{background-image:url('images/right-arrow.gif');}



a.leftArrow{background-image:url('images/left-arrow.gif');}
a.rightArrow{background-image:url('images/right-arrow.gif');}



#arrowSign
{
    margin:26px 10px 0px 10px;
    display:block; 
    float:left;
    background-image:url('images/selectobject.gif');
    background-repeat:no-repeat;
    width:128px;
    height:7px;
    border:none;
}

#monik
{
    margin-top:20px;
    width:571px;
    height:419px;
    background-image:url('images/monik.gif');
    background-repeat:no-repeat;
}



#editTextContainer
{
    margin-top:40px;
    padding-left:150px;
    height:100px;
    margin-bottom:10px;
}

#editLeftSide, #editRightSide
{
    background-repeat:no-repeat;
    width:7px;
    height:34px;
    float:left;
}

#editLeftSide{background-image:url('images/edit-left-side.gif');} 
#editRightSide{background-image:url('images/edit-right-side.gif');}

#textBox
{
    border-left-style:none;
    border-right-style:none;
    border-top:solid 1px #999999;
    border-bottom:solid 1px #999999;
    height:32px;
    width:257px;
    float:left;
    display:block;
    font-size:20px;
}




/*
#buttonLeftSide, #buttonRightSide
{
    background-repeat:no-repeat;
    width:7px;
    height:34px;
    float:left;
    display:block;
}

#buttonLeftSide{background-image:url('images/button-left-side-default.gif');} 
#buttonRightSide{background-image:url('images/button-right-side-default.gif');}

#teleportSubmitButton
{
    background-image:url('images/button-bg.gif');
    background-repeat:repeat-x;
    border:none;
    height:34px;
    width:120px;
    float:left;
    display:block;
    font-size:12px;
    text-transform:uppercase;
}
*/

#teleportButtonSubmitContainer
{
    padding-left:0px;
    height:36px;
    margin-bottom:10px;
    
}

#teleportButtonSubmitContainer a
{
    background-image:url('images/button.gif');
    background-repeat:no-repeat;
    width:237px; height:36px; display:block; float:left;
}

#teleportButtonSubmitContainer a:hover{background-position:0 -36px; background-repeat:no-repeat;}


.buttonActive
{
    background-position:0 0px !important; background-repeat:no-repeat;
}

.buttonFaded
{
    background-position:0px 0px;
}


#teleportButton
{
    background-position:0px 0px;
}



#objectName
{
    background-image:url('images/objectname.gif');
    background-repeat:no-repeat;
    height:7px;
    width:156px;
    margin-bottom:10px;
    margin-left:55px;
}

#maxLength
{
    color:#FF3333;
    margin-top:50px;
    font-size:10px;
    margin-left:90px;
}

#teleportButton
{
    margin-left:170px;
}

.arrow
{
    
}

#diods
{
    background-image:url('images/diod-red.gif');
    background-repeat:no-repeat;
    margin-left:55px;
    margin-top:45px;
    float:left;
    width:413px;
    height:298px;
}

.faded
{
    background-image:url('images/diod-gray.gif') !important;
}

#picture
{
    /*background-image:url('images/picture.png');
    background-repeat:no-repeat;*/
    margin-left:55px;
    margin-top:60px;
    float:left;
    width:300px;
    height:180px;
    
}

.hidepicture
{
    background-image:none !important;
}


#textBoxValid
{
    font-size:30px;
    font-weight:bold;
    color:Red;
    float:left
}