@font-face
{
    font-family: "CharterITC";
    src: url('fonts/CharterITC.otf');
}

@font-face
{
    font-family: "CharterITCBold";
    src: url('fonts/CharterITCBold.otf');
}

@font-face
{
    font-family: "CharterITCItalic";
    src: url('fonts/CharterITCItalic.otf');
}

