* {
    margin: 0;
    padding: 0;
}

body {
    font-family: CharterITC;
}
.clear {
    clear: both;
}
.header {
    height: 392px;
    background: url('img/header-top.gif') no-repeat;
}

.menu-line {
    width: 1100px;
    height: 93px;
    background: url('img/menu.png');
    position: relative;
    margin: 0 auto;
    font-family: CharterITCBold;
    font-size: 18px;
}

.menu-line a {
    font-family: CharterITC;
    color: #666666;
    font-size: 17px;
}

.header .top {
    height: 300px;
}

.page {
    width: 725px;
    position: relative;
    margin: 0 auto;
    padding-top: 100px;
}

.logo-container 
{
    width: 1100px;
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 300px;
    background: url('img/logo.gif') no-repeat;
    background-position: 400px 40px;
}

.em-link {
    width: 265px;
    height: 16px;
    position: absolute;
    margin: 125px 0 0 720px;
    /*border: 1px solid red;*/
    cursor: pointer;
}


.fb-link {
    width: 70px;
    height: 16px;
    position: absolute;
    margin: 5px 0 0 80px;
    /*border: 1px solid red;*/
    cursor: pointer;
}


.menu-line ul 
{
    
    text-align: center;
}
.menu-line li 
{
    display: inline-block;
    list-style: none;
    padding: 40px 60px;
}

.content-bottom {
    background: url('img/header-bottom.gif') no-repeat;
    min-height: 400px;
    background-position: right bottom;
}

.footer {
    height: 40px;
    background-color: #fafafa;
}

.footer-link-panel {
    width: 150px;
    height: 23px;
    position: relative;
    margin: 0 auto;
    background: url('img/footer.gif') no-repeat;
    background-position: bottom;
    padding-top: 8px;
}

.productsContainer {
    margin-bottom: 100px;
}

.product {
    width: 316px;
    float: left;
}

.product .description {
    font-family: CharterITCBold;
    font-size: 12px;
    padding-top: 10px;
    color: #666666;
}

.product .productImage {
    height: 446px;
 
}

.productPreviews {
    /*position: absolute;*/
    
    margin-left: 350px;
    width: 384px;
    
}

.productPreview {
    float: left;
    width: 118px;
    height: 168px;
    margin: 5px;
}

.pager {
    padding: 30px;
    background-color: #f6f6f6;
    font-size: 18px;
    font-family: CharterITCBold;
    color: #000;
    text-align: center;
    margin: 5px;
}
.pager span {
    padding: 5px;
}

/*.pager div {
    float: left;
}*/

.pager a {
    color: #a3a3a3;
}

.productPreview {
    cursor: pointer;
}

.productDetails {
    padding: 10px;
    width: 670px;
    height: 671px;
    background: url('img/order-bg.gif') no-repeat;
    background-position: 10px 10px;
    
}

.productDetailsImage {
    position: absolute;
    margin-top: 87px;
    margin-left: 50px;
}


.orderForm {
    width: 210px;
    position: absolute;
    margin-left: 400px;
    margin-top: 87px;
    font-size: 14px;
}
.orderForm div {
    padding-bottom: 20px;
}

.orderForm input, .orderForm textarea {
    width: 200px;
}

.orderForm textarea {
    height: 100px;
}

#orderLink {
    position: absolute;
    margin-left: 470px;
    margin-top: 577px;
    font-style: italic;
    color: #ccc;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: CharterITCItalic;
    font-size: 15px;
}

#orderLink.active {
    color: #c7c7c7;
    text-decoration: underline;
}