* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    font-size: 15px;
    color: #4d4d4d;
}

.clear {
    clear: both;
}


.page {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.header {
    height: 64px;
    background-color: #000;
}

.header-bottom {
    height: 66px;
    background-color: #c8dd49;
}

.header-bottom.pink {
    background-color: #e93d5a;
}

.logo-container {
    width: 335px;
    height: 64px;
    background: url('img/logo.png');
}

#logo {
    width: 250px;
    height: 45px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.main-menu {
    position: absolute;
    width: 810px;
    height: 60px;
    margin-left: 360px;
    font-family: Verdana;
    font-weight: bold;
    text-transform: uppercase;
}

.main-menu a {
    color: #fff;
    font-size: 11px;
}

.main-menu .current {
    color: #ff9933;
    font-size: 11px;
}

.main-menu ul {
    list-style: none;
    display: inline-block;
}

.main-menu li {
    padding: 20px 24px;
    
}

.left-side-bar {
    float: left;
    width: 170px;
    margin-top: -33px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.smallCart {
    border: 1px solid #ccc;
     padding: 0px 20px 30px 20px;
     margin-top: 60px;
}

.smallCartInfo {
    padding-top: 20px;
    
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #e93d5a;
}

.smallCartInfo a {
    color: #e93d5a;
}

.smallCartHeader {
    width: 43px;
    height: 43px;
    background: url('img/cart.gif');
    position: relative;
    margin: -21px auto 0 auto; 
}

.smallShoppingCartItemsCount {
    display: none;
}

.smallShoppingCartItemsCount.visible {
    display: block;
}


.catalogue-menu {
    border: 1px solid #ccc;
    padding: 15px 40px 13px 40px;
    background-color: #fff;
    color: #e93d5a;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
}

.catalogue-menu .title {
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: #e93d5a;
}

.catalogue-menu a.selected {
    color: #e93d5a;
    font-weight: bold;
}

.catalogue-menu a {
    font-family: Arial;
    font-size: 13px;
    color: #333333;
    font-weight: normal;
}

.catalogue-menu ul {
    list-style: none;
}

.catalogue-menu li {
    padding-bottom: 20px;
    line-height: 13px;
}

.content-container {
    margin-left: 275px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    line-height: 20px;
}

.header-bottom .title {
    font-family: Verdana;
    font-weight: bold;
    font-size: 31px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 39px;
    margin-left: 275px;
    line-height: 31px;
}

.footer {
    height: 47px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: 11px;
    padding-top: 35px;
}

.footer a {
    color: #ffdc08;
}

.products 
{
    /*border: 1px solid black;*/
    width: 890px;
}

.product {
    width: 175px;
    float: left;
    margin-right: 45px;
    margin-bottom: 45px;
    border: 1px solid #ccc;
}

.product .description {
    height: 94px;
    text-align: center;
    background-color: #f2f2f2;
    font-family: Verdana;
    font-size: 12px;
    color: #000;
}

.product .image {
    height: 173px;
}

.product .description .title {
    padding-top: 10px;
}

.product .description .price 
{
    padding-top: 10px;
    font-size: 21px;
    color: #666666;
}


.productDetails .image {
    float: left;
}

.productDetails .image img {
    border: 11px solid #f5f5f5;
}

.productDetails .info {
    margin-left: 450px;
    padding-top: 15px;
    font-family: Verdana;
    font-weight: normal;
    color: #000;
    font-size: 12px;
}

.productDetails .info span {
    font-weight: bold;
}

.productDetails .info .title {
    font-weight: bold;
    font-size: 18px;
    color: #666666;
}

.productDetails .info .price 
{
    font-size: 25px;
    padding-top: 35px;
}

.productDetails .info .size 
{
    padding-top: 15px;
}





.productDetails .info .description {
    padding-top: 35px;
}

 .buyButton {
     padding-top: 50px;
 }
 
 .buyButton a {
     padding: 10px 40px;
     background-color: #ffea6b;
     color: #000;
     font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
     text-decoration: none;
 }
 
 .backToCatalogue {
     width: 138px;
     height: 35px;

     padding-top: 17px;
     padding-left: 30px;
     
     background: url('img/back-to-catalogue.gif');
     position: absolute;
     margin-left: 145px;
     margin-top: 440px;
     font-family: Verdana;
     font-size: 11px;
 }
 
 .backToCatalogue a {
     color: #666666;
 }
 
 
 
 .cartTable
{
    margin-top: 20px;
    margin-left: 5px;
    width: 98%;
    border-collapse: collapse;
     font-size: 12px;
     font-family: Arial;
}

.cartTable a {
    color: #817a7a;
}

.cartTable td
{
    padding: 3px 10px;
    border: 1px solid silver;
    text-align: center;
}



.cartButtons
{
    padding: 10px;
    text-align: right;
    font-size: 12px;
     font-family: Arial;
}

.cartButtons a {
    color: #817a7a;
}

.checkOutTable
{
    margin: 20px 0;
}

.checkOutTable td
{
    padding: 5px;
}

.checkOutTable td input
{
    width: 300px;
}
.checkOutTable td textarea
{
    width: 300px;
    height: 70px;
}

.dec
{
    text-align: right !important;
}

.editOrderItemQuantity input
{
    width: 30px;
}


.logOnPanel
{
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
    width: 300px;
    background-color: #fff;
    border: 2px solid #ccc;
}


.field-validation-error
{
    color: red !important;
}
