* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: Verdana;
}

#logo
{
    position: absolute;
    width: 250px;
    height: 60px;
    margin-left: 258px;
    margin-top: 50px;
}

.page {
    width: 775px;
    position: relative;
    margin: 0 auto;
}

.header {
    height: 157px;
    background: url('img/header.gif');
}

.header-bottom {
    height: 37px;
    background: url('img/header-bottom.gif');
}



.footer {
    height: 147px;
    background: url('img/footer.gif');
}

.main-content {
    padding: 50px 100px 60px 100px;
}

.page-content {
    background: url('img/page-content.gif') repeat-y;
    font-size: 14px;
}

.content-bottom-line 
{
    width: 774px;
    height: 4px;
    background-color: #e9e9e9;
}

.page-content .separator.bottom {
    height: 20px;
  
}

.page-content .separator.top {
    height: 40px;
}

.title-container {
    height: 35px;
    background: url('img/title-container.gif') repeat-x;
    width: 774px;
    
}

.title-container table {
    border-collapse: collapse;
    position: relative;
    margin: 0 auto;
}


.title-container table td {
    height: 35px;
}

.title-container table td.left, 
.title-container table td.right {
    width: 10px;
}

.title-container table td.left {
    background: url('img/title-left.gif');
}

.title-container table td.right {
    background: url('img/title-right.gif');
}

.title-container table td.center {
    background: url('img/title-center.gif') repeat-x;
}

.title-container .title {
   color: #fff;
    text-transform: uppercase;
    margin-top: -4px;
    padding: 0 10px;
}

.footer .em {
    text-align: center;
    padding-top: 80px;
    color: #cccccc;
    font-size: 11px;
}

.footer .em a {
    color: inherit;
}


.main-menu {
    height: 51px;
    background: url('img/main-menu.gif');
    color: #a0a0a0;   
    font-size: 14px;
    text-align: center;
}

.main-menu a {
    color: #fff;
}

.main-menu ul 
{
    padding-top: 12px;
    /*position: relative;
    margin: 0 auto;*/
}

.main-menu ul li {
    list-style: none;
    display: inline;
    padding:0 35px;
}
