.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    margin-left: 10px;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 680px;
    padding: 10px 40px;
    
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  680px;
    height: 100px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 131px;
    height: 96px;
	margin:0 3px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 0px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #1f2935;
    color: #000;
}


.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 13px;
    right: 19px;
    width: 38px;
    height: 83px;
    cursor: pointer;
    background: url('/content/img/rightArrow.png') no-repeat 0 0;
    opacity:0.4;
     filter:alpha(opacity=40);
    
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
     cursor: default;
     opacity:0.0;
     filter:alpha(opacity=0);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 36px;
    height: 83px;
    cursor: pointer;
    background: url('/content/img/leftArrow.png') no-repeat 0 0;
    opacity:0.4;
     filter:alpha(opacity=40);
     
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: /*-32px*/0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: /*-64px*/0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: /*-96px*/0 0;
     opacity:0.0;
     filter:alpha(opacity=0);
}

