<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-2.0.2.min.js")" type="text/javascript"></script>
</head>
    <body>
        
        <div class="header">
            <div class="page">
                <div class="logo-container"></div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="page">    
            </div>
        </div>
            @RenderBody()    
        
    </body>
</html>
