@model Vip.Helpers.Pager
@{
    int totalCount = Model.TotalCount;
    int pageSize = Model.PageSize;
    int pageCount = Model.PageCount;
    int page = Model.Page;
}
@if (totalCount > 0 && totalCount > pageSize)
{
    <div id="pager">
        @foreach (var i in Model.Sequence)
        {
            if (i!=0)
            {
                @(i == -1 ? Html.Raw("...") : Html.Raw(". "))
            }

            if (i == page)
            {
                @Html.Raw((i + 1).ToString())
            }
            else if (i != -1)
            {
                @Html.ActionLink((i + 1).ToString(), "Index", "Catalogue", new { page = i }, null)
            }

            if (i + 1 < pageCount)
            {
                @(i == -1 ? Html.Raw("..") : Html.Raw(" .."))
            }
        }
    </div>
}