@using SiteExtensions.Graphics
@using Vip
@using Vip.Helpers
@using Vip.Models
@model Vip.Models.CatalogueViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="catalogue">
   <div class="titleContainer">asdasd</div>
</div>
