<!DOCTYPE html>

<html>
<head>
    <title>Bikini Система администрирования @ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery-2.0.2.min.js")" type="text/javascript"></script>
    @RenderSection("Includes", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
