#buttonContainer
{
    
}


#buttonContainer a
{
    display:block;
    width:150px;
    height:34px;
    background-position: 0px 0px;
    
    margin-bottom:30px;
    
}

a.ruhotred{background-image:url('images/ruhotred.gif');}
a.rusellred{background-image:url('images/rusellred.gif');}
a.ruteleportred{background-image:url('images/ruteleportred.gif');}
a.enhotred{background-image:url('images/enhotred.gif');}
a.ensellred{background-image:url('images/ensellred.gif');}
a.enteleportred{background-image:url('images/enteleportred.gif');}
a.ithotred{background-image:url('images/ithotred.gif');}
a.itsellred{background-image:url('images/itsellred.gif');}
a.itteleportred{background-image:url('images/itteleportred.gif');}

a.ruhotgreen{background-image:url('images/ruhotgreen.gif');}
a.rusellgreen{background-image:url('images/rusellgreen.gif');}
a.ruteleportgreen{background-image:url('images/ruteleportgreen.gif');}
a.enhotgreen{background-image:url('images/enhotgreen.gif');}
a.ensellgreen{background-image:url('images/ensellgreen.gif');}
a.enteleportgreen{background-image:url('images/enteleportgreen.gif');}
a.ithotgreen{background-image:url('images/ithotgreen.gif');}
a.itsellgreen{background-image:url('images/itsellgreen.gif');}
a.itteleportgreen{background-image:url('images/itteleportgreen.gif');}

