#menuItems{height:20px; overflow:hidden;}
#menuItems a{float:left;display:block;height:43px; margin-top:6px;}
#menuItems a:hover{margin-top:-11px !important;}
#menuItems a.bigsActive{margin-top:-30px !important;}

a.bigs{width:30px;background-image:url('images/menuitem-bigs.png');}

a.ruservices{width:55px;background-image:url('images/menuitem-service.png');}
a.rurequest{width:54px;background-image:url('images/menuitem-request.png');}
a.rudocuments{width:119px;background-image:url('images/menuitem-documents.png');}
a.ruvacancies{width:76px;background-image:url('images/menuitem-vacancies.png');}
a.rucontacts{width:73px;background-image:url('images/menuitem-contacts.png');}

a.enservices{width:82px;background-image:url('images/enmenuitem-service.png')}
a.enrequest{width:92px;background-image:url('images/enmenuitem-request.png');}
a.endocuments{width:152px;background-image:url('images/enmenuitem-documents.png');}
a.envacancies{width:102px;background-image:url('images/enmenuitem-vacancies.png');}
a.encontacts{width:102px;background-image:url('images/enmenuitem-contacts.png');}

a.itservices{width:82px;background-image:url('images/itmenuitem-service.png');}
a.itrequest{width:105px;background-image:url('images/itmenuitem-request.png');}
a.itdocuments{width:140px;background-image:url('images/itmenuitem-documents.png');}
a.itvacancies{width:105px;background-image:url('images/itmenuitem-vacancies.png');}
a.itcontacts{width:102px;background-image:url('images/itmenuitem-contacts.png');}
