a.bigs{float:left;display:block;width:52px;height:20px;background-image:url('images/menuitem-bigs.png');background-position:-20px -68px;}
a.bigs:hover{background-position: -20px -43px !important;}
a.bigs.bigsActive{background-position: -20px -19px !important;}

a.ruservices{float:left;display:block;width:82px;height:20px;background-image:url('images/menuitem-service.png');background-position:-25px -60px;}
a.ruservices:hover{background-position: -25px -39px !important;}
a.ruservices.ruservicesActive{background-position: -25px -19px !important;}

a.rurequest{float:left;display:block;width:92px;height:20px;background-image:url('images/menuitem-request.png');background-position:-40px -55px;}
a.rurequest:hover{background-position: -40px -33px !important;}
a.rurequest.rurequestActive{background-position: -40px -12px !important;}

a.rucapital{float:left;display:block;width:152px;height:20px;background-image:url('images/menuitem-capital.png');background-position:-20px -62px;}
a.rucapital:hover{background-position: -20px -41px !important;}
a.rucapital.rucapitalActive{background-position: -20px -21px !important;}

a.ruvacancy{float:left;display:block;width:102px;height:20px;background-image:url('images/menuitem-vacancy.png');background-position:-45px -66px;}
a.ruvacancy:hover{background-position: -45px -43px !important;}
a.ruvacancy.ruvacancyActive{background-position: -45px -22px !important;}

a.rucontacts{float:left;display:block;width:102px;height:20px;background-image:url('images/menuitem-contacts.png');background-position:-45px -57px;}
a.rucontacts:hover{background-position: -45px -34px !important;}
a.rucontacts.rucontactsActive{background-position: -45px -14px !important;}



a.enservices{float:left;display:block;width:82px;height:20px;background-image:url('images/enmenuitem-service.png');background-position:-14px -22px;}
a.enservices:hover{background-position: -14px -39px !important;}
a.enservices.enservicesActive{background-position: -14px -58px !important;}

a.enrequest{float:left;display:block;width:92px;height:20px;background-image:url('images/enmenuitem-request.png');background-position:0px -22px;}
a.enrequest:hover{background-position: 0px -39px !important;}
a.enrequest.enrequestActive{background-position: 0px -58px !important;}

a.encapital{float:left;display:block;width:152px;height:20px;background-image:url('images/enmenuitem-capital.png');background-position:10px -22px;}
a.encapital:hover{background-position: 10px -39px !important;}
a.encapital.encapitalActive{background-position: 10px -58px !important;}

a.envacancy{float:left;display:block;width:102px;height:20px;background-image:url('images/enmenuitem-vacancy.png');background-position:-25px -22px;}
a.envacancy:hover{background-position: -25px -39px !important;}
a.envacancy.envacancyActive{background-position: -25px -58px !important;}

a.encontacts{float:left;display:block;width:102px;height:20px;background-image:url('images/enmenuitem-contacts.png');background-position:-15px -22px;}
a.encontacts:hover{background-position: -15px -39px !important;}
a.encontacts.encontactsActive{background-position: -15px -58px !important;}



a.itservices{float:left;display:block;width:82px;height:20px;background-image:url('images/itmenuitem-service.png');background-position:-14px -22px;}
a.itservices:hover{background-position: -14px -39px !important;}
a.itservices.itservicesActive{background-position: -14px -58px !important;}

a.itrequest{float:left;display:block;width:105px;height:20px;background-image:url('images/itmenuitem-request.png');background-position:0px -22px;}
a.itrequest:hover{background-position: 0px -39px !important;}
a.itrequest.itrequestActive{background-position: 0px -58px !important;}

a.itcapital{float:left;display:block;width:140px;height:20px;background-image:url('images/itmenuitem-capital.png');background-position:0px -22px;}
a.itcapital:hover{background-position: 0px -39px !important;}
a.itcapital.itcapitalActive{background-position: 0px -58px !important;}

a.itvacancy{float:left;display:block;width:105px;height:20px;background-image:url('images/itmenuitem-vacancy.png');background-position:-20px -22px;}
a.itvacancy:hover{background-position: -20px -39px !important;}
a.itvacancy.itvacancyActive{background-position: -20px -58px !important;}

a.itcontacts{float:left;display:block;width:102px;height:20px;background-image:url('images/itmenuitem-contacts.png');background-position:10px -22px;}
a.itcontacts:hover{background-position: 10px -39px !important;}
a.itcontacts.itcontactsActive{background-position: 10px -58px !important;}
