body
{
    height:100%; 
    margin:0px; 
    margin-bottom:0px; 
    font-size:11px; 
    font-family:tahoma;
    background-color:White;
}

#main
{
    position:relative; 
    margin:0 auto;
    width:850px;
    background-color:White;
    height:100%;
    height:50px;
    
    
}

.rulogo, .enlogo, .itlogo
{
    background-repeat:no-repeat;
    float:left;
    width:151px;
    height:256px;
}
.rulogo { background-image:url('images/rulogo.png'); }
.enlogo { background-image:url('images/enlogo.gif'); }
.itlogo { background-image:url('images/itlogo.gif'); }


.ruconnection .enconnection .itconnection
{
    background-repeat:no-repeat;
    height:9px;
    margin-top:210px;
}
.ruconnection
{
    background-image:('images/ruconnection.gif');
    width:110px;
    margin-left:10px;
}
.enconnection
{
    background-image:('images/ruconnection.gif');
    width:131px;
    margin-left:10px;
    
}
.itconnection
{
    background-image:('images/ruconnection.gif');
    width:131px;
    margin-left:10px;
}

#headerRight
{
    margin-left:157px;
}

#phrase
{
    height:180px;
    background-image:url('images/phrase.png');
    background-repeat:no-repeat;
    background-position:315px bottom;
}

#menu { padding-left:40px; }

#middle{}

#left { float:left; width:160px; padding-top:64px; }

#content
{
    padding-left:0px;
    padding-top:10px;
    margin-left:207px;
    margin-bottom:20px;
    /*min-height:540px;*/
  min-height:500px;
  height:auto !important;
  height:500px;
}

#footer
{
    /*margin-top:20px;*/
    padding-top:20px;
    
    /*height:35px;*/
    
    

    background-image:url('images/footerbackground.gif');
    background-position:top;
    background-repeat:repeat-x;

}
#footerBottom
{
    margin-top:20px;
    height:2px;
    background-image:url('images/footerbackground.gif');
    background-position:bottom;
    background-repeat:repeat-x;
}

#footerRight a { color: #7f0002; text-decoration: none; }
#footerRight .mark { background: #7f0002; color: white; padding: 1px 1px 1px 3px; }

#footerLeft { float:left; }
#footerRight { padding-left:710px; }

#languageBar { padding-left:490px; height:28px; }

h2 { color:Red; }

#subMenu
{
    margin-bottom:30px;
}

#subMenu a
{
    color:Black;
}

#subMenu a.active
{
   
}



#subMenu 
{
    color:Red;
}
#subMenu a:hover
{
    text-decoration:none;
    color:Black;
    padding-top:10px;
    padding-bottom:10px;
}

.subMenuLink active
{
    color:Red;
}

.subMenuLink 
{
    padding-top:10px;
    padding-bottom:10px;
}

#subMenuTopBorder, #subMenuBottomBorder
{
    width:153px;
    height:10px;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    background-repeat:no-repeat;
}

#subMenuTopBorder
{
    background-image:url('images/topsubmenu.gif');
   background-position:bottom;
}

#subMenuBottomBorder
{
    background-image:url('images/bottomsubmenu.gif');
   background-position:top;
}

#subMenuContainer div.active
{
    color:Red;
}

#subMenuContainer
{
    border-left-color:#F86E6E;
    border-left-style:solid;
    border-left-width:1px;
    border-right-color:#F86E6E;
    border-right-style:solid;
    border-right-width:1px;
    
    width:121px;
    padding-left:15px;
    padding-right:15px;
    font-size:13px;
    
    /*font-size:13px;
    padding-top:30px !important;
    margin-bottom:30px;*/
}


#contentContainerTop,#contentContainerBottom
{
    width:640px;
    height:10px;
    background-repeat:no-repeat;
}
#contentContainerTop
{
    background-image:url('images/topmaincontainer.gif');
    background-position:bottom;
    
    
}
#contentContainerBottom
{
    background-image:url('images/bottommaincontainer.gif');
    background-position:top;
}

#innerContentContainer
{
    border-left-color:#F86E6E;
    border-left-style:solid;
    border-left-width:1px;
    border-right-color:#F86E6E;
    border-right-style:solid;
    border-right-width:1px;
    background-color:#E9EAEC;
    width:578px;
    padding:30px;
    
}

#contentContainer
{
    /*border: solid 0px red;*/
    /*width:640px;*/
    /*background-color:#E9EAEC;*/
    /*padding:30px;*/
}

#title
{
    font-size:20px;
    color:Red;
    margin:15px 15px 15px 35px;
}

.ruvideo, .envideo, .itvideo
{
    background-repeat:no-repeat;
    width:200px;
    height:90px;
}

.ruvideo{background-image:url('images/ruvideo.gif');}
.envideo{background-image:url('images/envideo.gif');}
.itvideo{background-image:url('images/itvideo.gif');}