body
{
    height:100%; 
    margin:0px; 
    margin-bottom:0px; 
    font-size:11px; 
    font-family:tahoma;
    background-color:White;
}

#main
{
    position:relative; 
    margin:0 auto;
    width:850px;
    background-color:White;
    height:100%;
    /*border:1px solid black;*/
    height:50px;
    
}

#logo
{
    background-image:url('images/logo.png');
    background-repeat:no-repeat;
    float:left;
    width:160px;
    height:256px;
}

#headerRight
{
    margin-left:160px;
}

#phrase
{
    height:180px;
    background-color:Yellow;
}

#menu
{
    /*border:1px solid black;*/
    
    
    padding-left:40px;
}

#middle
{
    
}

#left
{
    float:left;
    width:160px;
    background-color:Fuchsia;
    height:100px;
}
#content
{
    padding-left:10px;
    padding-top:10px;
    margin-left:160px;
    background-color:Maroon;
    height:100px;
}


#footer
{
    height:100px;
    background-color:Orange;
     height:50px;
}

#languageBar
{
       padding-left:490px;
       height:28px;
}
