body
{
    height:100%; 
    margin:0px; 
    margin-bottom:0px; 
    font-size:11px; 
    font-family:tahoma;
    background-color:White;
}

.page
{
    position:relative; 
    margin:0 auto;
    width:850px;
    background-color:White;
    height:100%;
    border:1px solid black;
}

#title
{
    height:100px;
}

#footer
{
    height:100px;   
}

#menucontainer
{

    width:600px;
    height:50px; 
}

#menuleftside
{
    background-image:url('images/bg-menu-l.png'); 
    height:50px; 
    width:30px;
    float:left;
}
#menurightside
{
    background-image:url('images/bg-menu-r.png'); 
    height:50px; 
    width:30px;
    float:right;
}
#menuitems
{
    background-image:url('images/bg-menu-c.png'); 
    background-repeat:repeat-x;
    width:540px; 
    height:50px;
    position:relative; 
    margin:0 auto;
    float:left;
}

a.bigs 
{
    float:left;
    display:block;
    width:80px; 
    height:20px; 
    background-image:url('images/menuitem-bigs.png'); 
    background-position:0px -68px;
    border:1px solid black;
}
a.bigs:hover{background-position: 0px -19px !important;}
a.bigs:Active{background-position: 0px -21px !important;}


a.service
{
    float:left;
    display:block;
    width:120px; 
    height:20px; 
    background-image:url('images/menuitem-service.png'); 
    background-position:0px -60px;
    border:1px solid black;
}
a.service:hover{background-position: 0px -19px !important;}

.request{}
.capital{}
.vacancy{}
.contacts{}