#slider{width:323px;
float:left;
margin-left:5px;
        }
        
#sliderContainer{margin:5px 30px 30px 30px;width:330px;margin-left:105px;
/*border:solid 1px black;        */
background-image:url('images/points.gif');background-position:0px 0px;background-repeat:no-repeat;
height:10px;
                 }
#sliderResultContainer{background-color:#FFFFCC;width:250px;margin-left:120px;padding:20px; height:300px;}

.ui-widget-content{border: 0px solid #dddddd;color: #333333;}
.ui-state-default, .ui-widget-content .ui-state-default{background-image:url('images/slider.gif');background-repeat:no-repeat;font-weight: bold;color: #1c94c4;outline: none;}
.ui-slider{position: relative;text-align:left;}
.ui-slider .ui-slider-handle{position: absolute;z-index: 2;width: 2em;height: 2.7em;cursor: default;}
.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }


#steps
{
    margin-left:70px;
    margin-top:20px;
    width:400px; 
    /*border:solid 1px black;*/
    border-collapse:collapse;   
}
#steps td
{
    /*border:solid 1px black;*/
}