#arrowsContainer{height:60px; margin-left:150px; padding-top:15px;}
#arrowsContainer a{width:60px; height:60px; display:block; float:left;}
#arrowsContainer a:hover{background-position:0 -60px; background-repeat:no-repeat;}

a.leftArrow{background-image:url('images/left-arrow.gif');}
a.rightArrow{background-image:url('images/right-arrow.gif');}



a.leftArrow{background-image:url('images/left-arrow.gif');}
a.rightArrow{background-image:url('images/right-arrow.gif');}



.arrowSign-ru
{
    margin:26px 10px 0px 10px;
    display:block; 
    float:left;
    background-image:url('images/selectobject-ru.gif');
    background-repeat:no-repeat;
    width:128px;
    height:7px;
    border:none;
}

.arrowSign-en
{
    margin:26px 10px 0px 10px;
    display:block; 
    float:left;
    background-image:url('images/selectobject-en.gif');
    background-repeat:no-repeat;
    width:142px;
    height:7px;
    border:none;
}

.arrowSign-it
{
    margin:26px 10px 0px 10px;
    display:block; 
    float:left;
    background-image:url('images/selectobject-it.gif');
    background-repeat:no-repeat;
    width:128px;
    height:21px;
    border:none;
}



.monik-ru, .monik-en, .monik-it
{
    margin-top:20px;
    width:571px;
    height:419px;
    background-repeat:no-repeat;
}

.monik-ru{background-image:url('images/monik-ru.gif');}
.monik-en, .monik-it{background-image:url('images/monik-en.gif');}



#editTextContainer
{
    margin-top:40px;
    padding-left:150px;
    height:100px;
    margin-bottom:10px;
}

#editLeftSide, #editRightSide
{
    background-repeat:no-repeat;
    width:7px;
    height:34px;
    float:left;
}

#editLeftSide{background-image:url('images/edit-left-side.gif');} 
#editRightSide{background-image:url('images/edit-right-side.gif');}

#teleportMessageBox
{
    border-left-style:none;
    border-right-style:none;
    border-top:solid 1px #999999;
    border-bottom:solid 1px #999999;
    height:32px;
    width:257px;
    float:left;
    display:block;
    font-size:20px;
}




/*
#buttonLeftSide, #buttonRightSide
{
    background-repeat:no-repeat;
    width:7px;
    height:34px;
    float:left;
    display:block;
}

#buttonLeftSide{background-image:url('images/button-left-side-default.gif');} 
#buttonRightSide{background-image:url('images/button-right-side-default.gif');}

#teleportSubmitButton
{
    background-image:url('images/button-bg.gif');
    background-repeat:repeat-x;
    border:none;
    height:34px;
    width:120px;
    float:left;
    display:block;
    font-size:12px;
    text-transform:uppercase;
}
*/

#teleportButtonSubmitContainer
{
    padding-left:0px;
    height:36px;
    margin-bottom:10px;
    
}

#teleportButtonSubmitContainer a
{
    background-repeat:no-repeat;
    width:237px; height:36px; display:block; float:left;
}

.teleportButtonSubmitContainer-ru a{background-image:url('images/button-ru.gif');}
.teleportButtonSubmitContainer-en a{background-image:url('images/button-en.gif');}
.teleportButtonSubmitContainer-it a{background-image:url('images/button-it.gif');}

#teleportButtonSubmitContainer a:hover{background-position:0 -36px; background-repeat:no-repeat;}


.buttonActive
{
    background-position:0 0px !important; background-repeat:no-repeat;
}

.buttonFaded
{
    background-position:0px 0px;
}


#teleportButton
{
    background-position:0px 0px;
}



.objectName-ru, .objectName-en, .objectName-it
{
	background-repeat:no-repeat;
	height:7px;
	margin-bottom:10px;
}

.objectName-ru
{
    background-image:url('images/objectname-ru.gif');
    width:156px;
    margin-left:55px;
}

.objectName-en
{
    background-image:url('images/objectname-en.gif');
    width:107px;
    margin-left:75px;
}

.objectName-it
{
    background-image:url('images/objectname-it.gif');
    width:183px;
    margin-left:45px;
}

#maxLength
{
    color:#FF3333;
    margin-top:50px;
    font-size:10px;
    margin-left:90px;
}

#teleportButton
{
    margin-left:170px;
}

.arrow
{
    
}

#diods
{
    background-image:url('images/diod-red.gif');
    background-repeat:no-repeat;
    margin-left:55px;
    margin-top:45px;
    float:left;
    width:413px;
    height:298px;
}

.faded
{
    background-image:url('images/diod-gray.gif') !important;
}

#picture
{
    margin-left:55px;
    margin-top:48px;
    width:300px;
    height:200px;
}

#pictureWrapper
{
    width:300px;
    height:200px;
    background:transparent url(images/blurredBorders.png);
    margin-left:55px;
    margin-top:-200px;
    position:relative;
    z-index:1000;
}

.hidepicture
{
    background-image:none !important;
}


#textBoxValid
{
    font-size:30px;
    font-weight:bold;
    color:Red;
    float:left
}

.waitingFor-ru, .waitingFor-en
{
    width:58px;
    height:7px;
    float:left;
    margin-top:400px;
    margin-left:-213px;
}

.waitingFor-ru { background-image:url('images/waiting-ru.gif'); }
.waitingFor-en { background-image:url('images/waiting-en.gif'); }

.waitingFor-it
{
    background-image:url('images/waiting-it.gif');
    width:68px;
    height:7px;
    float:left;
    margin-top:400px;
    margin-left:-218px;
}



#postTeleportMessage
{
	text-align:center;
	display:none;
	font-size:25px;
}