#galleryContent
{
    
    width: 782px;
    min-height: 200px;
    border: 2px solid #c01e2e;
    border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    position: relative;
    margin: 70px auto 0 auto;
    font-family: PFBeauSansProLightItalic;
}


#galleryContent .title
{
    width: 226px;
    height: 36px;
    background-color: #c01e2e;
    position: relative;
    margin: -23px auto 0 auto;
    border-radius: 23px 23px 23px 23px;
    -webkit-border-radius: 23px 23px 23px 23px;
    -moz-border-radius: 23px 23px 23px 23px;
    text-align: center;
    color: #fff;
    font-family: PFBeauSansProLightItalic;
    font-size: 17px;
    padding-top: 10px;
}

#galleryContent #submenu
{
    font-size: 14px;
}

#galleryContent #submenu table
{
    background-color: #fff;
    position: relative;
    margin: 20px auto 0;
    border-radius: 23px 23px 23px 23px;
    -webkit-border-radius: 23px 23px 23px 23px;
    -moz-border-radius: 23px 23px 23px 23px;
    height: 46px;
    
}

#galleryContent #submenu table td
{
    padding: 0 17px;
}

#galleryContent #submenu table td.separator
{
    padding: 0 3px;
}

#galleryContent #submenu table a
{
    color: #cc3333;
}

#gallery
{
    width: 630px;
    position: relative;
    margin: 50px auto;
}

.galleryItemContainer
{
    width: 189px;
    height: 240px;
    background: url('img/gallery-preview-frame.gif') no-repeat top;
    margin: 10px;
    float: left;
}

.galleryItem
{
    width: 157px;
    height: 156px;
    position: relative;
    margin: 13px auto;
}

.galleryItem img
{
    border: none;
}

.galleryItemContainer .sign
{
    text-align: center;
    padding-top: 10px;
}

.galleryItemContainer .sign a
{
    font-family: PFBeauSansProSemiBold;
    font-size: 15px;
    color: #0072bc;
}