@font-face {
font-family: "PFBeauSansProItalic";
src: url('fonts/PFBeauSansPro-Italic.ttf');
}

@font-face {
font-family: "PFBeauSansProThin";
src: url('fonts/PFBeauSansPro-Thin.ttf');
}

@font-face {
font-family: "PFBeauSansProLightItalic";
src: url('fonts/PFBeauSansPro-LightItal.ttf');
}

@font-face {
font-family: "PFBeauSansProLight";
src: url('fonts/PFBeauSansPro-Light.ttf');
}

@font-face {
font-family: "PFBeauSansProSemiBold";
src: url('fonts/PFBeauSansPro-SeBold.ttf');
}

@font-face {
font-family: "PFBeauSansProRegular";
src: url('fonts/PFBeauSansPro-Reg.ttf');
}



*
{
    margin: 0;
    padding: 0;
}

.clear
{
    clear: both;
}

body {
    background: url('img/bg.gif');
}

#page {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header {
    height: 181px;
}

#logoContainer
{
    height: 181px;
    width: 480px;
    background-image: url('img/logo.gif');
    position: relative;
    margin: 0 auto;
}

#logo
{
    width: 80px;
    height: 80px;
    position: absolute;
    
    margin-left: 200px;
    margin-top: 55px;
}

#slogan
{
    width: 250px;
    height: 23px;
    background-color: #000;
    /*border-top: 1px solid #666;*/
    color: #cccccc;
    position: relative;
    margin: 0 auto;
    font-family: PFBeauSansProItalic;
    text-align: center;
    font-size: 18px;
}

#footer
{
    height: 111px;
    background-color: #ccc;
    font-family: Arial;
    margin-top: 70px;
}

#footer, #footer a
{
    color: #666;
}

#footerContent
{
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

#copyRight
{
    position: absolute;
    width: 250px;
    margin-top: 50px;
    font-size: 12px;
}

#miller
{
    float: right;
    width: 150px;
    text-align: right;
    margin-top: 35px;
    font-size: 10px;
    height: 36px;
    background: url('img/em-logo.gif') no-repeat right;
    padding-right: 60px;
    padding-top: 10px;
    font-weight: bold;
}

#footerLogo
{
    width: 69px;
    height: 66px;
    position: relative;
    margin: 0 auto;
    background: url('img/footer-logo.gif') no-repeat bottom;
    padding-top: 22px;
    
    
    
}

.contentText
{
    font-family: PFBeauSansProThin;
    margin: 70px auto 0 auto;
    font-size: 11px;
    position: relative;
    width: 915px;
}

.contentText .title
{
     font-size: 18px;
     margin-bottom: 10px
}

.contentText .separator
{
    background-color: #bcbcbc;
    height: 1px;
    width: 50px;
    margin-bottom: 25px
}

#galleryFrameContainer
{
    width: 1090px;
    position: relative;
    margin: 0 auto;
}

#galleryFrameContainer .border
{
    width: 1090px;
    height: 2px;
    background: url('img/gallery-frame-border.gif');
}

#galleryFrame
{
    width: 1090px;
    background: url('img/gallery-frame-bg.gif') repeat-y;
    height: 514px;
}

#galleryImageContainer
{
    width: 1000px;
    height: 514px;
    background-color: #ccc;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#galleryFrame .buttons
{
    position: absolute;
    width: 65px;
    height: 64px;
    top: 210px;
    z-index: 100;
    display: block;
}

#galleryFrame .prev
{
    left: 20px;
    background: url('img/left-arrow.png');
}
#galleryFrame .next
{
    left: 915px;
    background: url('img/right-arrow.png');
}

#galleryFrame .disable { visibility: hidden; }

#galleryImageContainer .overview
{
     list-style: none; 
     position: absolute; 
     padding: 0; 
     margin: 0; 
     /*width: 1000px;*/
     left: 0; 
     top: 0;
}
#galleryImageContainer .overview li
{
     float: left; 
     margin: 0; 
     padding: 0; 
     height: 514px; 
     width: 1000px;
}
