#menu a
{
    float:left;
    font-weight: bold;
    text-decoration: none;
    color:#fff;
    padding:2px 10px;
}

#menu a:hover
{
    background-color: #bcb5a8;
}


#menu a.selected {
    background-color: #bcb5a8;
}