@{
    ViewBag.Title = "ChangePasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="content">
        <div class="login-form">
            <h2>Пароль был успешно изменен</h2>
        </div>
    </div>
</body>
</html>




