@using SpaceGame.UI.Helpers
@model SpaceGame.Api.Model.Entities.ResourceAmountSet

<div class="resourcePanel">
    <span>metal: </span>@Model.Metal.FormatResourcesAmount() &nbsp;
    <span>crystal: </span>@Model.Crystal.FormatResourcesAmount() &nbsp;
    <span>deiterium: </span>@Model.Deiterium.FormatResourcesAmount() &nbsp;
</div>
