body
{
    height:100%; 
    margin:0px; 
    margin-bottom:0px; 
    font-size:11px; 
    font-family:tahoma;
    background-color:White;
}

.subLayer
{    
    background-image:url('images/bg.gif');
    width:880px;
    height:100%; 
}

.page
{
    width:840px;
    background-color:White;
    height:100%;
    border:1px solid black;
}

#mainMenu { text-align:left; background-color: #818181; padding-bottom:3px; float:left; }
#mainMenu a:link,
#mainMenu a:active,
#mainMenu a:visited,
#mainMenu a:hover{padding-left:5px;  padding-right:5px; font-weight:bold; color: #b9b9b9; background-color:#818181; text-decoration:none}
#mainMenu a:hover{color: #ffffff !important}


#content { padding:10px; }

#header { border-bottom:solid 3px #818181; height:70px; }

#subHeader { height:70px; }

#leftMenu { float:left; padding:5px; }


.adminTable tr td{border-collapse:collapse; border:1px dotted #ccc; padding:3px;}

.greyBorderBox{padding:10px; border: 1px solid #dbdbdb;  background:white;}
.popUpBox{position:absolute; display:none; z-index:10001;}