@model Mayka.Models.SiteModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main-title">
    ПРИВЕТ!
</div>


<div class="main-text">
    Майкаджексон — это футболка-статус, посредством которой люди передают состояние своего мира окружающим.    <br/>    <br/>Поскольку Майкаджексон создана не совсем нормальными людьми,нормальные люди — это не совсем те, на ком мы бы хотели увидетьМайкуджексон. :)     <br/>    <br/>Кстати, Майкаджексон (с небольшим исключением) называется и транслируется только на родном языке. То есть, все наши принты написаны не на английском. А название непременно склоняется («Майкуджексон», «Маекджексон» и т д). Это вообще «вау».

</div>