@using SiteExtensions.Graphics
@model Mayka.Models.Product
<div class="product">
    @Html.Raw(@Html.ActionLink("[IMAGE]", "ProductDetails", "Home",new{id=Model.Id},null).ToString().Replace("[IMAGE]", Html.OriginalImage("/Content/Images", Model.PreviewImageSourceIpad??Model.PreviewImageSource)))
</div>