.field-validation-error, .validation-summary-errors
{
    color: Red;
}

p
{
    margin-top: 10px;
}

a.adminLink
{
    font-size: 12px;
    font-family:Tahoma;
    color: Red;
    margin-left:15px;
}

a:hover.adminLink
{
    color: Lime;
}

a:visited.adminLink
{
}


.logOffLink
{
    color: #ff0000;
}

.logOffLink:hover
{
    color: #ff0000;
}

h2.editContentTitle
{
    color: #60b4fd;
    font-weight: normal;
}

.adminEditContentContainer
{
    margin-top: 5px;
    border: solid 1px #60b4fd;
    padding: 20px;
    margin-bottom: 30px;
}

.adminEditContentTable td
{
    padding-left: 20px;
    padding-top: 10px;
}


#menu a.adminLink
{
     font-size: 12px;
    color: Red;
    margin-left:15px;
    background:none;
}
