#divMenuBoxTopRight
{
	background-image: url('img/menu-top-right.gif');
	background-position:right;
	background-repeat:no-repeat;
	background-color:#004070;
	height: 18px;
}

#divMenuBoxTopLeft
{
	background-image: url('img/menu-top-left.gif');
	background-position:left;
	width: 15px;
	height: 18px;
}

#divMenuBoxMiddle
{
	
}

#divMenuBoxBottomRight
{
	background-image: url('img/menu-bottom-right.gif');
	background-position:right;
	background-repeat:no-repeat;
	background-color:#004070;
	height: 18px;
}

#divMenuBoxBottomLeft
{
	background-image: url('img/menu-bottom-left.gif');
	background-position:left;
	width: 15px;
	height: 18px;
}



.menuItem
{
	background-color: #004070;
	padding:5px 20px 5px 20px;
	color:#ffffff;
	
}

.menuItem a
{
	color:#ffffff;
	font-size:15px;
}

.menuItem a:active
{
	color:#ffffff;
	font-size:15px;
}

.menuItem a:hover
{
	color:#ffffff;
	font-size:15px;
}

.childMenuItem
{
	background-color: #004070;
	padding:3px 0px 3px 40px;
	font-size:11px;
}

.childMenuItem a
{
	color:#ffffff;
	font-size:11px;
}

.childMenuItem a:active
{
	color:#ffffff;
	font-size:11px;
}

.childMenuItem a:hover
{
	color:#ffffff;
	font-size:11px;
}

.selected
{
	background-color:#809ABF;
	font-size:15px;
	color:#ffffff;
}

.selectedChild
{
	background-color:#809ABF;
	font-size:11px;
	/*color:#C2CEDE;*/
	color:#ffffff;
}


.tmenuMiddleBox
{
	background-color: #004070;
	font-size:14px;
}



.menuLink
{
	background-color: #004070;
}



.contentBoxHorisontalMenu
{
	/*text-align:center;*/
	height:20px;
	width:722px;
	padding-top:3px;
	padding-bottom:2px;
	color:#ffffff;
	background-color:#BAC7D1;
	border-left:solid 2px #004070;
	border-right:solid 2px #004070;
	border-bottom:solid 1px #004070;
	
}


.contentBoxHorisontalMenu a
{
	color:#005EBA;
}

.contentBoxHorisontalMenu a:active
{
	color:#005EBA;
}

.contentBoxHorisontalMenu a:hover
{
	color:#005EBA;
}

.horisontalMenuItem
{
	padding-left:17px;
	font-size:11px;
	color:#7A8791;
}

.horisontalMenuItem a
{
		font-size:11px;
}

.horisontalMenuItem
{
	
}

a.parentSelected {color:#77A3C8 !important;}
a:active.parentSelected {color:#77A3C8 !important;}
a:hover.parentSelected{color:#77A3C8 !important;}