@using Kulumu
@using SiteExtensions.Graphics
@model Kulumu.Models.GalleryModel


<div class="popupContent">
    <div class="image">
        @Html.Raw(Html.CachedImage("~/Content/Images/", Model.Product.ImageSource, SiteSettings.GetThumbnail("bigPreview")))
    </div>
    <div class="description">
        description
    </div>
</div>