.gallery .categories
{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Georgia;
    padding-left: 20px;
    padding-right: 20px;
}

.gallery .categories ul
{
    padding: 15px 15px;
    border: 2px solid #afaeae;
    display: inline-block;
    background-color: #f7f7f7;
    border-radius: 20px;
}

.gallery .categories ul li
{
    list-style: none;
    display: inline;
    padding-left: 12px;
    padding-right: 12px;
    /*border: 1px solid red;*/
    /*padding-bottom: 10px;*/
    line-height: 25px;
    
    /*margin: 17px;*/
}

.gallery .categories a
{
    font-weight: normal;
    color: #0072bc;
}

.gallery .categories a.subCategoryCurrent {
    color: #f00;
}

.gallery .title {

    padding-top: 40px;
    padding-bottom: 40px;
}

.gallery .categories a.parent {
    color: #000;
}

.gallery .description {
    padding: 50px;
    
    font-family: PTNarrow;
}

.gallery .productSizes {
    text-align: center;
}

.gallery .productSizes table {
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 12px;
}

.gallery .productSizes table td {
    border: 1px dashed #c4c4c4;
    padding: 3px;
}



.productDetails {
    padding-top: 40px;
}

.productDetails .productInfo {
    float: left;
    width: 350px;
    padding:0 50px;
    font-family: Georgia;
    font-size: 16px;
    margin-left: 50px;
    line-height: 30px;
}
.productDetails .productInfo .title {
    font-weight: bold;
    padding: 0;
    
}

.productDetails .productImages {
    width: 400px;
    
    margin-left: 550px;
    
}

.productThumb {
    margin-right: 8px;
    float: left;
    cursor: pointer;
}

.productThumb:hover {
    /*background: rgba(0, 0, 0, 0.65);*/
    
}

.productDetails .productImages .preview {
    width: 378px;
    height: 245px;
    border: 2px solid #e8e8e8;
    margin-bottom: 15px;
}