<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="gbua_new_visionContext" connectionString="server=mysql305.1gb.ua;user id=gbua_new_vision;password=92bc9b9fe78;persistsecurityinfo=True;database=gbua_new_vision"
      providerName="MySql.Data.MySqlClient" />
    <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql305.1gb.ua;user id=gbua_new_vision;password=92bc9b9fe78;persistsecurityinfo=True;database=gbua_new_vision&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ArtWorkContainer" connectionString="metadata=res://*/ArtWork.csdl|res://*/ArtWork.ssdl|res://*/ArtWork.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql305.1gb.ua;user id=gbua_new_vision;password=92bc9b9fe78;persistsecurityinfo=True;database=gbua_new_vision&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>