* {
    margin: 0;
    padding: 0;
}

body
{
    background-color: #1c1c1c;
}
.page
{
    /*width: 1400px;*/
    width: auto;
    height: 936px;
    position: relative;
    margin: 0 auto;
    background-image: url('img/bg.jpg');
    /*background-image: url('img/bg-highlighted.jpg');*/
    min-width: 1260px;
    background-position: 50% 50%;
    padding-top: 1px;
}

.content
{
    /*border: 1px solid #fff;*/
    height: 747px;
    margin: 95px auto 0 auto;
    width: 1260px;
    position: relative;
}

#banner-top, #banner-top1, #banner-top2, #banner-top3
{
    width: 341px;
    height: 405px;
}

#banner-top
{
    margin-left: 920px;
    background-image: url('img/banner-top0.jpg');
    position: absolute;
    display: none;
}

#banner-top1
{
    background-image: url('img/banner-top1.jpg');
    visibility: hidden;
}

#banner-top2
{
    background-image: url('img/banner-top2.jpg');
    visibility: hidden;
}

#banner-top3
{
    background-image: url('img/banner-top3.jpg');
    visibility: hidden;
}


#banner-bottom
{
    width: 341px;
    height: 244px;
    margin-left: 920px;
    background-image: url('img/banner-bottom.jpg');
    position: absolute;
    margin-top: 502px;
    
    visibility: hidden;

    text-align: center;
    
    font-family: Arial;
}

#firstSign
{
    margin-top: 40px;
}

#inputContainer
{
    margin-top: 15px;
    
}

#inputContainer input[type="text"]
{
    border: none;
    width: 220px;
    height: 20px;
    color: #b7b6b0;
    font-style: italic;
}

#secondSign
{
    margin-top: 10px;
}

#secondSign a
{
    color: #990000;
}

#secondSign span
{
    color: #999999;
}


.feedBackForm
{
	border:1px solid #999999;
	padding:20px;
	margin-top:20px;
	font-size:13px;
}

.feedBackForm table td
{
	padding:5px;
}

.field-validation-error
{
    color: red;
}