@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="errorContainer">
    
    <div class="filterItem first">
        <div class="filterItemLine">
            <table>
                <tr>
                    <td class="oopsPage">
                        Ой-страница
                    </td>
                    <td class="end"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="somethingWrong">
        что-то пошло не так.
        <br />
        бывает.
    </div>
    <a href="#">напишите нам</a>,<br />
    какие действия привели вас на эту страничку<br />
    и мы разберемся
</div>
