@using Vip.Helpers
@model IEnumerable<Vip.Models.Layout>
<script type="text/javascript">
    $(function () {
        $("#sbmButton").click(function () {
            $("#form1").submit();
        });
    });

    function aaaa() {
        $("#sbmButton").css("display", "block");
        $("#sbmText").css("display", "none");
    }
    
</script>
<div class="layoutSelector">
    <div class="header whatlookingfor">
    </div>
    @using (Html.BeginForm("Index", "Catalogue", new { selector = "layout", category = ViewBag.CategoryName }, FormMethod.Post, new { id = "form1" }))
    {

        foreach (var item in Model.Where(l => l.Parent == null))
        {
        <div class="layout">
            <div class="title">
                @item.Title
            </div>
            @if (item.Children.Count > 0)
            {
                <div class="layouts">
                    @foreach (var child in item.Children)
                    {
                        <div class="attribute">
                            @child.Title &nbsp; @Html.CheckBox("layout_" + child.Id, WebSession.Layouts.Any(l => l.Id == child.Id), new { onclick = "aaaa()" })
                        </div>

                    }
                    <div class="clear">
                    </div>
                </div>
            }
            <div class="clear">
            </div>
        </div>
        }
        <div class="submitContainer" id="submitContainer">
            <a href="#" id="sbmButton">Показать! &raquo;</a>
            <span id="sbmText">Показать! &raquo;</span>
            @if (WebSession.Attributes.Any() || WebSession.Brands.Any() || WebSession.Layouts.Any() || WebSession.Makers.Any())
            {
                <script type="text/javascript">
                    $("#sbmText").css("display", "none")
                </script>
            }
            else
            {
                <script type="text/javascript">
                    $("#sbmButton").css("display", "none")
                </script>
            }
        </div>
    }
    <div class="pattern">
    </div>
    <div class="bottom">
    </div>
</div>
