@model Filimonov.Models.ContentItem

<div class="page">
    <div class="menu item1">
        <a href="#" class="showLink showLink1">@Model.Title</a>
        @if (Request.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Редактировать","Edit","Content",new{area="Admin",id=Model.Id},new{@class="adminLink"})
            </div>
        }
    </div>
</div>
<div class="frame frame1">
    <div class="top">
    </div>
    <div class="middle">
        <div class="hide">
            <div class="hideLink hideLink1"></div>
        </div>
        
        <div class="titleContainer">
            <div class="inner">
                <div class="titleContainerLeft">
                    <div class="titleContainerRight">
                        <div class="title">
                            @Model.Title
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Model.Text
    </div>
    <div class="bottom">
    </div>
</div>


<div class="page" >
    <div class="menu" style="height: 50px;">
    </div>
</div>