@using Filimonov.Models
<script type="text/ecmascript">
    $(function () {
        $(".hideLink1").click(function () {
            $(".frame1").css("display", "none");
            $(".menu.item1").css("display", "block");
        });

        $(".showLink1").click(function () {
            $(".frame1").css("display", "block");
            $(".menu.item1").css("display", "none");
        });
      
    });
</script>

<div class="page" style="height: 50px;" >
</div>

<div class="page">
    <div class="menu top">
        <div class="circle top-left">
        </div>
        <div class="circle top-right">
        </div>
    </div>
</div>

@Html.Partial("ContentItem", new ContentItem { Title = "о сергее филимонове", Text = "о сергее филимонове" })

@Html.Partial("ContentItem", new ContentItem { Title = "партнеры", Text = "партнеры" })

<div class="page">
    <div class="menu bottom">
        <div class="circle bottom-left">
        </div>
        <div class="circle bottom-right">
        </div>
    </div>
</div>
