@model IEnumerable<Filimonov.Models.Content>
@using Filimonov.Models
<script type="text/ecmascript">
    $(function () {
        $(".hideLink1").click(function () {
            $(".frame1").css("display", "none");
            $(".menu.item1").css("display", "block");
        });

        $(".showLink1").click(function () {
            $(".frame1").css("display", "block");
            $(".menu.item1").css("display", "none");
        });

    });
</script>
<div class="page" style="height: 50px;">
</div>
<div class="page">
    <div class="menu top">
        <div class="circle top-left">
        </div>
        <div class="circle top-right">
        </div>
    </div>
</div>
@foreach (var item in Model.OrderBy(m => m.SortOrder))
{
    switch ((ContentType)item.ContentType)
    {
        case ContentType.Content:
        case ContentType.Feedback:
                @Html.Partial("ContentItem", new ContentItem { Title = item.Title, Text = item.Text })
            break;
        case ContentType.Projects:
                @Html.Partial("ContentItemProjects", new ContentItemProjects { Title = item.Title })
            break;
    }
}
@if (Request.IsAuthenticated)
{
    <div class="adminLinkContainer page">
        @Html.ActionLink("Добавить раздел", "Create", "Content", new { Area = "Admin" }, new { @class = "adminLink" })
    </div>
}
<div class="page">
    <div class="menu bottom">
        <div class="circle bottom-left">
        </div>
        <div class="circle bottom-right">
        </div>
    </div>
</div>
