

<div class="page page-middle">

<div class="menu">
    <div class="circle top-left">
    </div>
    <div class="circle top-right">
    </div>
    <div class="circle bottom-left">
    </div>
    <div class="circle bottom-right">
    </div>
    <div class="inner">
        asdasdasd
    </div>
</div>


</div>

<div class="main-frame">
        <div class="top"></div>
        <div class="middle">
        
            asdasd <br/>
            asdasd <br/>
            asdasd <br/>
            asdasd <br/>    

        </div>
        
        <div class="bottom"></div>
    </div>