@using Filimonov
@using SiteExtensions.Graphics
@model Filimonov.Models.Project
           
<div class="container">
    <div class="page">
        <div class="menu menuItem projectMenuItem">
            <a href="#" class="showLink">Проекты</a>
            @if (Request.IsAuthenticated)
            {
                <div>
                    @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = Model.Id }, new { @class = "adminLink" })
                </div>
            }
        </div>
    </div>
    <div class="frame projectFrame">
        <div class="top">
        </div>
        <div class="middle projects">
            <div class="hide">
                <div class="hideLink">
                </div>
            </div>
            <div class="titleContainer">
                <div class="inner">
                    <div class="titleContainerLeft">
                        <div class="titleContainerRight">
                            <div class="title">
                                @Html.ActionLink("Проекты","Projects","Home",new{id=""},null) &laquo;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            Project description

        </div>
        <div class="bottom">
        </div>
    </div>
</div>
<div class="page">
    <div class="menu" style="height: 50px;">
    </div>
</div>