@model iBank.UI.Models.OtpConfirmViewModel

@{
    ViewBag.Title = "OtpConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ValidationSummary()

<div class="loginForm">
    Пароль из смс
    @using (Html.BeginForm("OtpConfirm", "Account"))
    {
        @Html.ValidationSummary()
        <div>
            @Html.EditorFor(model => model.OneTimePassword)
            @Html.ValidationMessageFor(model => model.OneTimePassword)
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    }

</div>
