html {
    height: 100%;
}

body {
    /*background: #E2E4E7;*/
    padding: 0;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
}

#bx-pager
{
    position: absolute;
    border: 1px solid red;
    z-index: 2000;
}

.bx-pager {
    margin-bottom: -60px;
}

.scroll-top {
    position: absolute;
    margin-bottom: -20px;
    bottom: 50%;
    right: 100px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
    font-size: 14px;
    display: block;
    letter-spacing: 2px;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

.scroll-top .inner {
    background: url('../img/tostart.svg') no-repeat;
    background-position: center top;
    height: 26px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
}