html {
    height: 100%;
}

body {
    /*background: #E2E4E7;*/
    padding: 0;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
}

#bx-pager
{
    position: absolute;
    border: 1px solid red;
    z-index: 2000;
}

.bx-pager {
    /*margin-bottom: -60px;*/
}

.scroll-top {
    position: absolute;
    margin-bottom: -20px;
    bottom: 50%;
    right: 40px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
    font-size: 14px;
    display: none;
    letter-spacing: 2px;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

.scroll-top .inner {
    background: url('../img/tostart.svg') no-repeat;
    background-position: center top;
    height: 26px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
}

#custom-pager {
    position: absolute;
    /*margin-bottom: -20px;*/
    bottom: 50%;
    left: 30px;
    margin-bottom: -60px;
}

#custom-pager a {
    background: #666;
text-indent: -9999px;
display: block;
width: 10px;
height: 10px;
margin: 0 5px;
outline: 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#custom-pager .bx-pager-item {
margin-bottom: 10px;
}

#custom-pager a.bx-pager-link.active {
    background: #000;
}


.intro-language-switcher {
    width: 120px;
    color: #0099fa;
    font-size: 10px;
    font-family: PTSans;
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

.intro-language-switcher a{ color: #fff;}
