@font-face
{
    font-family: "PragmaticaBlack";
    src: url('fonts/4137643.ttf');
}

@font-face
{
    font-family: "PTSans";
    src: url('fonts/PTS55F.ttf');
}

@font-face
{
    font-family: "PTSansBold";
    src: url('fonts/PTS75F_W.ttf');
}

@font-face
{
    font-family: "PTSansNarrow";
    src: url('fonts/PTN57F.ttf');
}

@font-face
{
    font-family: "PTSansNarrowBold";
    src: url('fonts/PTN77F.ttf');
}

@font-face
{
    font-family: "PTSansItalic";
    src: url('fonts/PTS56F_W.ttf');
}

@font-face
{
    font-family: "PragmaticaBook";
    src: url('fonts/prg55.otf');
}
