* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    font-family: PTSans;
}

.clear {
    clear: both;
}


.main-page-container {
    position: relative;
    margin: 0 auto;
}

.header .top {
    height: 28px;
}

.language-switcher {
    width: 120px;
    color: #0099fa;
    font-size: 10px;
    font-family: PTSans;
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

.language-switcher a{ color: #fff;}

.header .middle {
    height: 107px;
    /*background: url('img/header-bg.gif');*/
    /*width: 1000px;
    position: relative;
    margin: 0 auto;*/
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

#Scene1 {
    color: #fff;
    /*border: 1px solid red;*/
}

.header .middle .layer {
    height: 107px;
    /*background: url('img/header-bg.gif');*/
    position: absolute;
    /*background-position: 50%;*/
    width: 1000px;
    margin-left: 0px;
}

.header .middle .pattern1 {
    background: url('img/pattern1.png');
}

.header .middle .pattern2 
{
    background: url('img/pattern2.png');
}


.header .middle .toplayer {
    height: 107px;
    background: url('img/header-bg-layer.png');
    width: 1000px;
    position: absolute;
}

.header .bottom {
    height: 7px;
    background: url('img/header-bottom-bg.gif');
}
.header .bottom2 {
    height: 8px;
    background: url('img/header-bottom-bg2.gif');
}

.header .mainMenuContainer {
    height: 48px;
    background: url('img/main-menu-bg.gif');
}


.content-container {
    background: url('img/site-bg.gif');
}

.content-container .content-center {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    
}

.content-container .content-center .line {
    height: 2px;
    background-color: #eeeeee;
    margin:70px 125px 70px 125px;
}



.content-container .content-top {
    height: 13px;
    background: url('img/content-top-bg.gif');
}

.content-container .content-bottom {
    height: 13px;
    background: url('img/content-bottom-bg.gif');
}

.content-container .content-center .content {
    padding:0 125px;
    min-height: 250px;
}

.footer 
{
    width: 1400px;
    position: relative;
    margin: 0 auto;
    height: 202px;
    background: url('img/footer-bg.gif');
    background-position: 50%;
    /*overflow: hidden;*/
}


.title-container {
    height: 70px;
    background: url('img/title-container-bg.gif') repeat-x;
    margin: 50px 125px 40px 125px;
    font-size: 16px;
    /*font-family: PragmaticaBlack;*/
    font-family: PTSans;
    text-transform: uppercase;
    font-weight: bold;
}

.title-container2 {
    /*font-family: PragmaticaBook !important;*/
    /*font-size: 10px;*/
    text-transform: none;
}

.title-container table.title {
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
    
}

.title-container table.title td.left {
    float: left;
    width: 24px;
    height: 70px;
    background: url('img/title-left.gif') repeat-x;
}


.title-container table.title td.center
{
    background: url('img/title-bg.gif') repeat-x;
}

.title-container table.title td.right {
    float: left;
    width: 24px;
    height: 70px;
    background: url('img/title-right.gif') repeat-x;
}

.title-container table.title td.separator {
    width: 60px;
    background-color: #fff;
}


.title-container table.title td.center span {
    color: #999999;
}
.title-container table.title td.center a {
    color: inherit;
    font-weight: bold;
}

.imageLink {
    position: absolute;
    width: 210px;
    height: 210px;
}

.imageLink a {
    display: block;
    width: 210px;
    height: 210px;
}

.logOnPanel
{
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
    width: 300px;
    background-color: #fff;
    border: 2px solid #ccc;
}


.field-validation-error
{
    color: red !important;
}

.customerLogOnRegisterForm span.tip {
    font-family: PTSansItalic;
    color: #999999;
    font-size: 12px;
}

.em-link {
    cursor: pointer;
    position: absolute;
    width: 130px;
    height: 12px;
    margin-top: 111px;
    margin-left: 465px;
    /*border: 1px solid #fff;*/
}


#logo
{
    position: absolute;
    width: 120px;
    height: 100px;
    margin-left: 440px;
    margin-top: 10px;
}


.userInfoArea .shortLine {
    height: 2px;
    background-color: #eeeeee;
    width: 65px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sbmbtn {
    border: none;
    padding: 5px 10px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: #f6f6f6;
    color: #cccccc;
    width: 70px;
    text-align: center;
}

.sbmbtn.active
{
    background-color: #0099ff;
    color: #fff;
}

.sbmbtn input {
    border: none;
    background-color:inherit;
    color:inherit;
    cursor: pointer;
    text-decoration: underline;
}

.em-link-container {
     height: 200px;
    width: 1000px;
    position: relative;
    margin: 0 auto;
}


.notfound404 {
    width: 263px;
    height: 192px;
    position: relative;
    margin: 70px auto 90px auto;
    background: url('img/404.gif');
    
}

.subscribe-button-container {
    position: absolute;
    width: 96px;
    height: 96px;
    background: url('img/subscribe.gif');
    margin-left: 1035px;
    margin-top: 50px;
}

.subscribe-link {
    width: 62px;
    height: 13px;
    cursor: pointer;
    
    margin-top: 38px;
    margin-left: 18px;
}



.subscribe-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    
    z-index: 8000;
    background: url('fancybox/fancybox_overlay.png');
    top: 0;
    left: 0;
}

.subscribe-overlay.subscribe-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    
}

.subscribe-cloud 
{
    position: absolute;
    width: 279px;
    height: 143px;
    background-color: red;
    z-index: 8001;
    margin-left: 750px;
    margin-top: 25px;
    background: url('img/subscribe-cloud.png');
    display: none;
    
        font-family: PTSans;
    font-size: 12px;
    text-align: center;
}

.subscribe-cloud.show {
    display: block;
}

#subscribeForm 
{
    width: 260px;
    padding-top: 30px;
    

}

.thankYou {
    width: 260px;
    padding-top: 30px;
}

.inputEmail {
    margin-top: 20px;
}


