.main-page-container {
    width: auto;
    min-width: 1000px;
}

.header .bottom {
    background-position: 50%;
}

.header .bottom2 {
 background-position: 50%;
}

.header .mainMenuContainer {
 background-position: 50%;
}

.content-container {
    background-position: 50% 0;
}

.footer 
{
    width: auto;
    min-width: 1000px;
}
