@using System.Threading
@using Shop.WebSite.Helpers


<div class="admin-language-switcher">
    <div class="btn-group btn-group-xs">
        @if (Thread.CurrentThread.CurrentCulture.Name == "ru-RU")
        {
            var routeData = ViewContext.RouteData.GetCopy();
            routeData.Values["lang"] = "ua";
            <button type="button" class="btn btn-primary btn-default">Русский</button>
            <button type="button" class="btn btn-default">@Html.RouteLink("Українська", routeData.Values)</button>
        }
        else
        {
            var routeData = ViewContext.RouteData.GetCopy();
            routeData.Values["lang"] = "ru";
            <button type="button" class="btn btn-default">@Html.RouteLink("Русский", routeData.Values)</button>
            <button type="button" class="btn btn-primary btn-default">Українська</button>
        }
    </div>
</div>
