@using System.Threading
@using Shop.WebSite.Helpers


<div class="language-switcher">
    <div class="btn-group btn-group-xs">
        @if (Thread.CurrentThread.CurrentCulture.Name == "ru-RU")
        {
            var routeData = ViewContext.RouteData.GetCopy();
            routeData.Values["lang"] = "en";
            <button type="button" class="btn btn-primary btn-default">На русском</button>
            <button type="button" class="btn btn-default">@Html.RouteLink("In English", routeData.Values)</button>
        }
        else
        {
            var routeData = ViewContext.RouteData.GetCopy();
            routeData.Values["lang"] = "ru";
            <button type="button" class="btn btn-default">@Html.RouteLink("На русском", routeData.Values)</button>
            <button type="button" class="btn btn-primary btn-default">In English</button>
        }
    </div>
</div>
