<div class="logout-button-container">
        <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-danger">@Html.ActionLink("Выйти из админки", "Logout", "Auth", new { area = "" }, null)</button>
        </div>
        <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-info">@Html.ActionLink("На сайт", "Index", "Home", new { area = "" }, null)</button>
        </div>
    </div>