<div style="background-color: #fff;">
<div class="header middle">
</div>
<div class="header bottom">
</div>
</div>

<div class="main-page-content">
<div class="container">
@Html.Partial("Reasons")
</div>
</div>