<div class="reasons-container">
    
    @ViewBag.Message <br />
    
    @ViewBag.Message2

    <div class="reason reason1">
        <div class="title">Лаконичность ассортимента</div>
        <div class="text">
            Ассортимент, состоящий всего из шести материалов, гарантирует полную гидроизоляцию на весь срок службы сооружения. Это смелое
            заявление подкреплено <a href="#">официальными документами</a>.
        </div>
    </div>

    <div class="reason reason2">
        <div class="title">Поразительная эффективность</div>
        <div class="text">Просто обработав бетон «Пенетроном», вы получаете сопротивление давлению воды до 20 атмосфер; также «Пенетрон» применяется на сооружениях, содержащих нефтепродукты, растворы кислот, щелочей и солей, питьевой воды.</div>
    </div>

    <div class="reason reason3">
        <div class="title">Простота в применении</div>
        <div class="text">Простая схема применения высоко оценена многими строительными компаниями по всему миру, ведь для работы с материалами «Пенетрон» не требуется особенного оборудования и долгих месяцев обучения.</div>
    </div>

    <div class="reason reason4">
        <div class="title">Выгода и экономия</div>
        <div class="text">После обработки «Пенетроном» гидроизоляция не требует ухода, ремонта или замены. Принцип материалов «Пенетрон» — низкий расход и высокий гидроизоляционный эффект. Минимальная экономия на материалах — в два раза.</div>
    </div>
    
    <div class="clear"></div>
</div>



