@model IEnumerable<Penetron.Models.Reason>
<div class="reasons-container">
    @foreach (var item in Model)
    {
        @Html.Partial("Reason", item)
    }
    <div class="clear">
    </div>
</div>
