@model Penetron.Models.SiteModel
<div class="content-container">
    <div class="content">
        <div class="title-container">
            @if (Model.Content != null)
            {
@*if (Model.ParentTitle != null)
                {
                <div class="parentTitle">
                    @Model.ParentTitle /
                </div>
            
                }*@
            
                
                <div class="parentTitle">
                    </div>
                
                    <table class="title">
                        <tr>
                            <td class="left">
                            </td>
                            <td class="center">@Model.Content.Title
                            </td>
                            <td class="right">
                            </td>
                        </tr>
                    </table>
           
            
                    }
                </div>
        <div class="text-container">
            @*@Html.Partial("Menu", Model.TechnologyMenu)*@
            <div class="content-text">
                @if (Model.Content != null)
                {
                    @Html.Raw(Model.Content.Text)
                }
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
