<div id="categoryFilter">
<div class="categoryFilterTitle">Показывать только:</div>
<table>
<tr>
<td>
<a href="#">Эксклюзивные</a>
</td>
<td>
<a href="#">Стандартные</a>
</td>
<td>
<span>Все</span>
</td>
</tr>
</table>
</div>
