@model Rakurs.Models.Menu
<div id="submenu">
    <table>
        <tr>
            <td class="separator">
            </td>
            @foreach (var item in Model.OrderBy(c=>c.SortOrder))
            {
                <td>
                    @if (item.Selected)
                    {
                        @item.Title
                    }
                    else
                    {
                        @Html.ActionLink(item.Title, "Index", "Catalogue", new { category = @ViewBag.CategoryName, subCategory = item.ContentName },null)
                    }
                </td>
            }
            <td class="separator">
            </td>
        </tr>
    </table>
</div>
