<div id="galleryContent">
    <div class="title">
        Лестничные марши</div>
    <div id="submenu">
        <table>
            <tr>
                <td>
                    asdasd
                </td>
                <td>
                    asdasd
                </td>
                <td>
                    asdasd
                </td>
            </tr>
        </table>
    </div>
</div>
