<div class="galleryItemContainer">
            <div class="galleryItem">
                <img src="Content/img/example.gif" alt="" />
            </div>
            <div class="sign">
                <a href="#">№132 - 01</a>
            </div>
        </div>