@model Rakurs.Models.Menu
           
<div id="mainMenu">
    <table>
        <tr>
        @foreach (var item in Model.Where(m=>!m.IsMainPage).OrderBy(m=>m.SortOrder))
        {
            <td>
                @Html.ActionLink(item.Title,"Index","Home",null,new{@class=item.Selected?"selected":""})
            </td>
        }

            @*<td>
                <a href="#" class="selected">Готовые интерьеры</a>
            </td>*@
            
        </tr>
    </table>
</div>
