@model Rakurs.Models.Menu
           
<div id="mainMenu">
    <table>
        <tr>
        @foreach (var item in Model.OrderBy(m=>m.SortOrder))
        {
            
        }

            <td>
                <a href="#" class="selected">Готовые интерьеры</a>
            </td>
            <td>
                <a href="#">Наши партнеры</a>
            </td>
            <td>
                <a href="#">Контактные сведения</a>
            </td>
        </tr>
    </table>
</div>
