.field-validation-error
{
    color: red !important;
}

.adminLinkContainer
{
    text-align: center;
    
}

a.adminLink
{
    color: #ff0000 !important;
    font-size: 12px !important;
    text-transform: none !important;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
}

a.adminLink:hover {
    color: #ffaa00 !important;
}

.adminContentContainer
{
   /* padding: 50px 20px;
    
    font-size: 12px;
    background-color: #fff;
    */
    width: 796px;
    background: url('img/main-frame-bg.png') repeat-y;
    position: relative;
    margin: 0 auto;
}

.adminTable {
    border-collapse: collapse;
}

.adminTable td {
    padding: 5px;
    border: 1px dashed #c4c4c4;
    
}

.adminEditContentTable
{
    /*width: 700px;*/
    position: relative;
    margin: 0 auto;
}

.adminEditContentTable td
{
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

.adminEditContentTable td input[type='text'], .adminEditContentTable td input[type='file'], .adminEditContentTable td textarea
{
    width: 500px;
}


.adminEditContentTable td span.tip
{
    font-size: 11px;
    font-weight: normal;
    color: #888;
}

.buttonsContainer
{
    text-align: center;
    margin-top: 20px;
    font-family: Verdana;
}

.adminContentContainer h2
{
    font-size: 18px;
    padding: 10px;
    
}

.photoFileInput {
     width: 500px !important; 
}

.abs {
    position: absolute;
}