#logo {
    
    width: 150px;
    height: 90px;
    position: absolute;
    margin-left: 503px;
    margin-top: 30px;
}

.user-info {
    background-color: #607a85;
    position: absolute;
    width: 110px;
    height: 69px;
    margin-left: 990px;
    margin-top: 9px;
    text-align: center;
    font-size: 9px;
    color: #ccc;
    padding-top: 50px;
}
.user-info span {
    color: #fff;
    text-decoration: underline;
}

.homePageContainer {
    padding: 130px 0;
}

.presentation-page {
    width: 1155px;
    position: relative;
    margin: 0 auto;
}

.presentation-page .header, .presentation-page .footer {
    width: 1155px;
    height: 140px;
    position: relative;
    margin: 45px auto;
}

.presentation-page .header 
{
    background: url(img/presentation-header.gif) no-repeat;
    
}

.presentation-page .footer 
{
    
    background: url(img/presentation-footer.gif) no-repeat;
}


.categories {
    padding: 0 112px;
    padding-top: 20px;
}

.categories .category {
    float: left;
    width: 300px;
    height: 225px;
    margin: 5px;
    
}

.category-details {
    padding: 0 112px;
}

.category-details .product {
    float: left;
    width: 300px;
    height: 225px;
    margin: 5px;
    cursor: pointer;
}

.category-details .product .selectedMarker {
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: transparent;
    margin-left: 250px;
    margin-top: 10px;
}

.category-details .product .selectedMarker.selected {
    background-image: url('img/product-checked.png');
}



.category-title {
    text-align: center;
    padding: 20px;
}

.category-title h1 {
    font-size: 25px;
}


.layouts-filter {
    text-align: center;
    padding: 40px 0;
}

.layouts-filter ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 13px;
    color: #a4a4a4;
}

.layouts-filter a {
    color: #0072bc;
}


.category-preview-title {
    position: absolute;
    background-color: #000;
    text-transform: uppercase;
    margin-top: 207px;
    height: 18px;
}

.category-preview-title a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.customerlogonlink {
    width: 450px;
}


.addToProductSetPanel 
{
    
}

.addToProductSetPanel {
    width: 166px;
    height: 95px;
    padding-top: 60px;
    padding-left: 55px;
    background-image: url('img/copy-panel.png');
    position: absolute;
    top: 500px;
    left: 940px;
    z-index: 1000
}

.addToProductSetPanel .copy-button {
    width: 76px;
    height: 23px;
    position: relative;
    margin: 15px auto 0 30px;
    background-image: url('img/copy-button.gif');
    cursor: pointer;
}

.addToProductSetPanel select {
    width: 135px;
    border: 1px solid #c4c4c4;
    color:  #aaaaaa;
    font-style: italic;
    
}

.addToProductSetPanel .warning 
{
    padding-top: 10px;
    padding-left: 15px;
    color: #f00;
    font-size: 12px;
}

.peroductSetSelector {
    text-align: center;
}

.survey {
    padding: 0 112px;
    padding-top: 20px;
}

.survey-title {
    text-align: center;
    padding: 20px;
}

.survey-title h1 {
    font-size: 25px;
}

.survey table {
    width: 800px;
    margin-left: 100px;
    border-collapse: collapse;
}

.survey table td {
    padding: 5px;
}

.survey table td span, 
.survey table td.title {
    white-space: nowrap;
}

.survey table td.title, .survey table td.description {
    padding-bottom: 50px;
    vertical-align: top;
}

.survey table td.date {
    font-size: 12px;
    color: #707070;
}

.survey table td.title a{
    font-size: 15px;
    color: #0072bc;
}

.survey table td.description {
    font-size: 12px;
    color: #707070;
}

.surveyDetails {
    
}

.surveyDetails .description {
    width: 600px;
    position: relative;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 12px;
}


.surveyDetails .title {
    text-align: center;
    padding-top: 20px;
}

.surveyDetails .title h1 {
     font-size: 25px;
}

.surveyDetails .title .description {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    
}

.surveyDetails .title .description a {
    color: #0072bc;
}


.surveyDetails table {
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
}

.surveyDetails table th {
    background-color: #d6d6d6;
    border: 2px solid #000;
    padding:0 10px  5px  10px;
}

.surveyDetails table td {
    padding: 5px;
    border: 2px solid #000;
}

.surveyDetails table td.first {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}







#newLine td {
    height: 20px;
    border: 2px solid #d6d6d6;
    
}

#newLine #inputNumber {
    width: 40px;
}



#newLine #txtQuestion {
    width: 100%;
    height: 70px;
}

#newLine #inputNumber.error,
#newLine #txtQuestion.error {
    border: 2px solid red;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#surveyTable th.admin,
#surveyTable td.admin {
    border: none;
    background-color: transparent;
    padding-left: 50px;
}

#sendAnswer {
    width: 76px;
    height: 23px;
    cursor: pointer;
    position: relative;
    margin: 30px auto 0 auto;
    background: url('img/send-answer.gif');
}


.notes-title {
    text-align: center;
    padding: 20px;
}

.notes-title h1 {
    font-size: 25px;
}

.noteDetails 
{
    width: 800px;
    position: relative;
    margin: 0 auto;
}

.noteDetails .text {
    padding-top: 50px;
}


.noteDetails .title {
    text-align: center;
    padding-top: 20px;
}

.noteDetails .title h1 {
     font-size: 25px;
}
.noteDetails .title .description {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    
}

#aside {
    padding-right: 100px;
}

a.print-preview {
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
    color: #00a651;
}