a.adminLink{    font-size:9px;    color:Red; margin-right:5px}
a:hover.adminLink{    font-size:9px;    color:Lime; margin-right:5px;}
a:visited.adminLink{    font-size:9px;    color:Red; margin-right:5px;}