#mainMenuContainer{ padding-top:40px; margin:0 auto; width:737px; height:55px; position:relative;background-image: url('img/main-menu-bg.gif'); background-repeat:no-repeat; text-align:center;}
.mainMenuItem {   }
.mainMenuItem a { color:#669900; font-family:Georgia; font-size:16px; padding-right:15px; padding-left:15px; }

/*.mainMenuItem.selected a { color:#9bd240; font-weight:bold; font-family:Georgia; font-size:16px; padding-right:15px; padding-left:15px; }*/
.mainMenuItem a.selected { color:#9bd240; font-weight:bold; font-family:Georgia; font-size:16px; padding-right:15px; padding-left:15px; }
.selectedMainMenuItem{color:#9bd240; font-weight:bold; font-family:Georgia; font-size:16px;}

#leftMenuContainer{ position:relative; top:-60px; float:left; background-image:url('img/left-menu-bg.gif'); background-repeat:no-repeat; background-position:0 0;  width:170px; /*background-color:Red;*/ height:367px;}
#leftMenuBox{ padding-top:50px;}
.leftMenuItem { padding-left:40px; padding-top:15px; }
.leftMenuItem a { color:#669900; font-style:italic; font-family:Georgia; font-size:11px;}
.leftMenuItem.selected a { color:#9bd240; font-style:italic; font-family:Georgia; font-size:11px;}
.selectedLeftMenuItem{color:#9bd240; font-style:italic; font-family:Georgia; font-size:11px; padding-left:40px; padding-top:15px;}

#horisontalMenuContainer{margin:0 auto;position:relative; width:500px; height:25px; text-align:center; }
.horisontalMenuItem { font-style:italic;white-space:nowrap;	overflow:hidden; }
.horisontalMenuItem a { color:#ffffff;font-style:italic; font-family:Georgia; font-size:11px; padding-left:15px; padding-right:15px;white-space:nowrap;	overflow:hidden; }
.horisontalMenuItem.selected a { color:#ffffff;font-style:italic; font-family:Georgia; font-size:11px; padding-left:15px; padding-right:15px;white-space:nowrap;	overflow:hidden; }

.selectedhorisontalMenuItem{color:#ffffff; font-style:italic; font-family:Georgia; font-size:11px; padding-left:15px; padding-right:15px; }

/*.selected{color:#9bd240; font-weight:bold; font-family:Georgia; font-size:16px;}*/


.hmenubgleft
{
	margin-top:5px;
	background-color:#3b5a11;
	background-image:url('img/h-menu-bg-left.gif');
	background-position:left;
	background-repeat:no-repeat;
	height:17px;
}

.hmenubgright
{
	background-color:#3b5a11;
	background-image:url('img/h-menu-bg-right.gif');
	background-position:right;
	background-repeat:no-repeat;
	height:17px;
	margin-left:9px;
	white-space:nowrap;
	overflow:hidden;
	
	color:#ffffff; font-style:italic; font-family:Georgia; font-size:11px;
	padding-right:9px;
}
