*{margin: 0;	padding: 0;	font-family: Verdana;	font-size: 13px;}
img{border: 0;}
.clearBoth{	clear: both;}
#page{/*position: relative;*/	margin: 0 auto;	/*width: 950px;*/	background-color: #1f2935;	height: 100%;}

#header{min-width:969px;}
#headerLeft{float:left; width:290px; height:182px;background-image: url('img/header-left.gif');}
#headerRight{float:right; width:290px; height:182px;background-image: url('img/header-right.gif');}
#headerCenterContainer{background-image: url('img/header-center-container.gif'); background-repeat:repeat-x; margin-left:290px; margin-right:290px; position:relative;}
#headerCenter{background-image: url('img/logo.gif'); background-position:0 15px; width:389px; height:182px; position:relative; margin:0 auto;}
