<div class="mainMenu">
            <ul>
                <li>
                    @Html.ActionLink("каталог","Index","Catalogue",new{Area="",category=""},null)
                </li>
                <li>
                    <a href="#">новости</a>
                </li>
                <li>
                    @Html.ActionLink("проекты", "Index", "Projects", new { Area = "", project = "" }, null)
                </li>
                <li>
                    <a href="#">контракты</a>
                </li>
                <li>
                    <a href="#">контактная информация</a>
                </li>
            </ul>

        </div>