@model Vip.Models.AboutModel
<div class="about">
        <div class="titleContainer">
            <div class="title">
                <div class="titleText">
                    @Model.Title
                </div>
                <div class="line"></div>
            </div>
        </div>
        <div class="aboutFrameContainer">
            <div class="aboutFrame">
                @Model.Text
            </div>
        </div>
        <div class="footer">
            <div class="shadowLeft">
            </div>
            <div class="shadowRight">
            </div>
        </div>
    </div>
