@model Posh.Models.Album

<div class="album">
    <div class="album-title">
        @Html.ActionLink(Model.Title,"Catalogue","Home",new{id=Model.Name},null)
    </div>
    <img width="200px" height="200px" src="" alt=""/>

</div>