@using Posh.Helpers
@model Posh.Models.Category
@{
    //string style = "background-image: url('Content/img/category/" + Model.ImageSource + "');";
    string id ="cat_"+ Model.Id;


    string hValue = "0";
    string className = "category";
    if (WebSession.Categories.Any(category => category.Id == Model.Id))
    {
        className += " categoryBg";
        hValue = "1";
    }
}
<div class="@className" id="@id">
    @Html.Hidden("hcat_" + Model.Id,  hValue)
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("редактировать", "Edit", "Category", new {Area = "Admin", id = Model.Id}, new {@class = "adminLink categoryEdit"})
    }
    @*@Html.Raw(Html.OriginalImage("Content/Images", Model.ImageSource))*@
    <div class="categoryTitle">
        @*@Html.Raw(Model.Title)*@
    </div>
</div>
