@model IEnumerable<Vip.Models.ProductAttribute>
@using Vip.Helpers
<script type="text/javascript">
    $(function () {
        $("#sbmButton").click(function () {
            $("#form1").submit();
        });
    });
</script>
<div class="layoutSelector">
    <div class="header showonly">
    </div>
    @using (Html.BeginForm("Index", "Catalogue", FormMethod.Post, new { id = "form1" }))
    {

        <div class="submitContainer">
            <a href="#" id="sbmButton">Показать! &raquo;</a>
        </div>
    }
    <div class="pattern">
    </div>
    <div class="bottom">
    </div>
</div>
