@model IEnumerable<Vip.Models.Maker>
@using Vip.Helpers
<script type="text/javascript">
    $(function () {
        $("#sbmButton").click(function () {
            $("#form1").submit();
        });
    });
</script>
<div class="layoutSelector">
    <div class="header showonly">
    </div>
    @using (Html.BeginForm("Index", "Catalogue", new { selector = "maker", category = ViewBag.CategoryName }, FormMethod.Post, new { id = "form1" }))
    {

        <div class="layout">
            @foreach (var item in Model)
            {
                <div class="attribute">
                    @item.Title &nbsp; @Html.CheckBox("maker_" + item.Id, WebSession.Makers.Any(a => a.Id == item.Id))
                </div>
            }
            <div class="clear">
                    </div>
        </div>
        
        <div class="submitContainer">
            <a href="#" id="sbmButton">Показать! &raquo;</a>
        </div>
    }
    <div class="pattern">
    </div>
    <div class="bottom">
    </div>
</div>

