@using Metabuild.Helpers
@model IEnumerable<Metabuild.Models.ContentImage>
@if (Model.Count() > 0)
{
    <div id="gallery">

        @foreach (var item in Model)
        {
           
            <div class="galleryImage">
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Удалить", "DeleteImage", "Content", new { Area = "Admin", id = item.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить изображение?')" })
                    <br />
                }
                <a rel="@Html.Raw("group1")" href="../../Content/Images/@item.ImageSource" class="fancy">
                    @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, "galleryThumbnail", ScaleMode.Corp))
                </a>
            </div>
            
        }
        <div class="clear">
        </div>
    </div>
}
