*
{
	margin: 0;
	padding: 0;
}

.clear
{
	clear: both;
}

body
{
	background-color: #000;
	font-family: Lucida Sans Unicode, Arial;
}

.page
{
	position: relative;
	margin: 0 auto;
	width: 1755px;
}

.header
{
	position: relative;
	margin: 0 auto;
	width: 1755px;
	background-color: #f1f1f1;
}

.header-left
{
	width: 465px;
	height: 270px;
	background: url('img/header-left-bg.gif');
	background-color: #000;
	margin-left: 0px;
	margin-right: auto;
	float: left;
}

.header-right
{
	width: 465px;
	height: 270px;
	background: url('img/header-right-bg.gif');
	background-color: #000;
	margin-left: auto;
	margin-right: 0px;
	
}
.header-center
{
	position: absolute;
	margin-left: 480px;
	background-color: yellow;
	width: 800px;	
}

.logo
{
	width: 355px;
	height: 100px;
	background: url('img/logo.gif');
	margin: 0 auto;
	margin-top: 32px;
	position: relative;
}


.main-menu
{
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 10px;
}

.main-menu a 
{
	color: #000000;
}



.main-menu div
{
	display: inline-block;
	padding-left: 20px;
	margin-left: 10px;
	height: 20px;
}

.main-menu div.read
{
	background: url('img/menu-read.gif') no-repeat;
}
.main-menu div.hear
{
	background: url('img/menu-hear.gif') no-repeat;
	
}
.main-menu div.connect
{
	background: url('img/menu-connect.gif') no-repeat;
	
}


.main-content-outer-container
{
	width: 995px;
	min-height: 300px;
	background-color: #f1f1f1;
	margin: 0 auto;
}

.main-content-inner-container
{
	width: 696px;
	position: relative;
	margin-left:  auto;
	margin-right: auto;
	margin-top: -270px;
	margin-bottom: -200px;
}

.main-content
{
	
}

.main-content-top
{
	width: 696px;
	height: 103px;
	background: url('img/main-content-top-bg.gif');
}

.main-content-middle
{
	border-left: 1px solid #d00000;
	border-right: 1px solid #d00000;
	min-height: 300px;
	background-color: #f1f1f1;
	padding: 10px 70px;
}

.main-content-bottom
{
	width: 696px;
	height: 103px;
	background: url('img/main-content-bottom-bg.gif');
}

.line
{
	width: 525px;
	height: 10px;
	background: url('img/line.gif');
}

.line-top
{
	position: relative;
	margin: 0 auto;
	
}

.line-bottom
{
	position: relative;
	margin: 0 auto;
	margin-top: 11px;
}


.footer
{
	width: 1755px;
	height: 362px;
	background-color: #f1f1f1;
}
.footer-left
{
	width: 465px;
	height: 362px;
	background: url('img/footer-left-bg.gif');
	background-color:  #f1f1f1;
	margin-left: 0px;
	margin-right: auto;
	float: left;
}

.footer-right
{
	width: 465px;
	height: 362px;
	background: url('img/footer-right-bg.gif');
	background-color:  #f1f1f1;
	margin-left: auto;
	margin-right: 0px;
	
}

.footer-center
{
	margin-top: 216px;
	/*position: absolute;*/
	/*margin-left: 480px;*/
	position: relative;
	float: left;
	
	background-color: #f1f1f1;
	width: 800px;
	height: 146px;
	
}

.footer-inner
{
	height: 125px;
	width: 800px;
	position: relative;
	margin: 0 auto;
	background-image: url('img/phones.gif');
	background-position: right;
	background-repeat: no-repeat;
}

.sign
{
	height: 25px;
	background: url('img/star.gif') no-repeat;
	
	padding-left: 30px;
	font-size: 12px;
	line-height: 14px;
	margin-top: 50px;
	margin-left: 47px;
	position: absolute;
}

.sign a
{
	display: block;
	color: #ff0000;
}