@using Dev.Mvc.Helpers
@model IEnumerable<HavilaTravel.Models.Content>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ContentTitle{
    <div id="contentTitle" class="search">
        Результат поиска
    </div>
}
@section Submenu
{
    <div class="subMenu">
        <table>
            <tr>
                <td class="leftSide">
                </td>
                <td class="separator">
                </td>
                <td class="searchQuery">
                    Ваш запрос: <span>@ViewBag.SearchQuery</span>
                </td>
                <td class="separator">
                </td>
                <td class="rightSide">
                </td>
            </tr>
        </table>
    </div>
}
<div class="searchResults">
    @foreach (var content in Model)
    {
        <div class="item">
        @{
        var accordion = content.Accordions.FirstOrDefault();
        if (accordion != null)
        {
            var image = accordion.AccordionImages.FirstOrDefault();
            if (image != null)
            {
                 <div class="picture">
                    @Html.Raw(Html.CachedImage("~/Content/Photos/", image.ImageSource, "thumbnail1", image.ImageSource))
            </div> 
            }
        }
            }
            <div class="title">
            @Html.ActionLink(content.Title, "Index", "Place", new { id=content.Name},null)
            </div>
            @Html.Raw(content.Text)
        </div>
    
    }
</div>
