.searchCriteriaSelector
{
    width: 350px;
    background-color: #fff;
    border: 3px solid #00a850;
    margin: 5px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
}

.attribute
{
    padding: 20px;
    float: left;
    text-align: center;
}

.sendBtnContainer
{
    text-align: center;
    margin: 20px 0 50px 0;
}

.sendBtnContainer a
{
    color: #448ccb;
    font-size: 14px;
    
}

.search-catalogue-title
{
    width: 162px;
    height: 31px;
    background: url('img/catalogue-title-bg.png') no-repeat;
    font-size: 11px;
    text-transform: uppercase;
    padding-top: 17px;
    padding-left: 38px;
    color: #fff;
    position: relative;
    margin: 15px  auto 0 auto;
}

.showOnly 
{
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: Hagin;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.showAll {
    text-align: center;
    float: none;
}

.closeButton {
    float: right;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin: 5px;
    background-image: url('img/close-button.png');
}

.attributesContainer {
      padding: 0px 40px 0px 40px;
}