@using Listelli.Models
@model CatalogueModel 

@section Title
{
    @Html.Partial("PageTitle", new ContentTitleModel { Type = TitleType.Link, Title = "галерея брендов",Action = "Gallery",Controller = "Home"})
}

<div class="brandDetails">
    <div class="title">@Model.Brand.Title</div>    
    <div class="description">@Model.Brand.Description</div>
    <div class="shortLine"></div>    
    
    <div class="text">
        Kreoo — это новый бренд от  Decor Marmi, основной идеей которого является как можно шире раскрыть художественную сторону мрамора.
    </div>
    
    <div class="box">
        <div class="top"></div>
        <div class="middle">
            Имя Kreoo происходит от греческого глагола kraino (производить, творить), которое в своем склонении kreion обозначает "тот, который делает, творит". 
            Аббревиатура Kreoo была продиктована потребностями вкуса, простоты и звучания.
        </div>
        <div class="bottom"></div>
    </div>
    <div class="text">
        Ссылка на Грецию имеет совершенно справедливую причину: знанию мастеров Decor Marmi позавидовали бы самые искушенные греческие скульпторы. 
        А тонкое чувство форм и линий позволяет создавать изящные, грациозные скульпутрные объекты. 
        Причем, продукция Kreoo может быть как скромным участником интерьера, так и его основным акцентом — все зависит от пожелания дизайнера.
    </div>
    
    <div class="images">
        images
    </div>
    <div class="text">
        Ссылка на Грецию имеет совершенно справедливую причину: знанию мастеров Decor Marmi позавидовали бы самые искушенные греческие скульпторы. 
        А тонкое чувство форм и линий позволяет создавать изящные, грациозные скульпутрные объекты. 
        Причем, продукция Kreoo может быть как скромным участником интерьера, так и его основным акцентом — все зависит от пожелания дизайнера.
    </div>
</div>




@section Includes
{
    <link href="@Url.Content("~/Content/BrandsGallery.css")" rel="stylesheet" type="text/css" />
}