<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- !!!PROD!!! -->
    <!--<add name="gbua_active_dev" connectionString="server=mysql306.1gb.ua;user id=gbua_active_dev;password=c4b94dff7hjk;database=gbua_active_dev;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />-->

    <!-- DEV -->
    <add name="gbua_active_dev" connectionString="server=mysql306.1gb.ua;user id=gbua_activetest;password=3aab3a13990;database=gbua_activetest;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />

    <!-- LOCAL -->
    <!--<add name="gbua_active_dev" connectionString="server=127.0.0.1;user id=root;password=;database=gbua_active_dev;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>