a.adminLink
{
    color:#0000ff;
    font-size:12px;
    font-weight:normal;
    font-style:italic;
    text-decoration:underline !important;
}

a.adminLink:hover
{   color:#0000ff;
   text-decoration:none !important;}



.adminEditContentContainer
{
	margin-top:5px;
	border:solid 1px #999999;
	padding:10px;
	margin-bottom:30px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:1;
}

.adminEditContentTable
{
	width:1000px;
}

.adminEditContentTable td
{
	padding-left:20px;
	padding-top:10px;
	font-size:13px;
	font-weight:bold;
	
	
}

.adminEditContentTable td span
{
	font-size: 11px;
	font-weight:normal;
	
}

.buttonsContainer
{
    text-align:center;
}

h2.editContentTitle
{
    color:#999999;
    padding-left:90px;
}

.logOnForm
{
	position:relative;
	margin:0 auto;
	width:220px;
}

.logOnForm table td
{
	line-height:30px;
}

.logOffLink
{
	display:block;
	position:absolute;
	margin-top:25px;
	
}

.editMainPageLink
{display:block;
	position:absolute;
	margin-top:25px;
	margin-left:500px;
	}

.adminLinksContainder a
{
	line-height:0px !important;
}

.adminLinksContainder
{
	padding-top:15px;
}