
/*#galleryContainer
{
    margin-bottom:40px;
}*/

/*
.galleryItem
{
    float:left;
    margin:35px 35px;
}

*/

.imageSign
{
    padding-top:10px;
    /*width:360px;*/
    font-size:13px;
    color:#666666;
    text-align:left;
}

.galleryImage img
{
    
}


#galleryContainer
{
    margin-bottom:10px;
    width:100%;
}

#galleryContainer td
{
    padding:0px 33px 40px 33px;
    
}