*
{
    margin: 0;
    padding: 0;
}
.clear
{
    clear:both;
}

body
{
    font-family:Arial;
}

.page
{
    width: 1200px;
    margin:auto;
    position:relative;
}

#header
{
    height:330px;
    background-image:url('img/bg-header.gif');
}

#headerTitle
{
    padding-top:238px;
    text-align:center;
    font-weight:bold;
    color:#fff;
    font-size:20px;
}

#headerTitleSign
{
    text-align:center;
    color:#cc0000;
    font-style:italic;
    font-size:12px;
    padding-top:8px;
}


#headerMenuLine
{
    height: 27px;
    background-color:#999999;
}

#headerMenuLine
{
    text-align:center;
    color:#fff;
    font-size:16px;
}




#headerMenu
{
    padding-top:2px;
}

#headerMenu a
{
   color:#fff;
   font-size:15px;
}

#headerMenu span
{
    color:#ddd;
   font-size:15px;
   font-weight:bold;
    }

#headerMenu a:hover
{
   color:#ddd;
   
}

#rightHeaderMenuItem
{
    float:right;
    padding-right:20px;
    margin-top:-17px;
    position:relative;
    
}


a.hobbyLink
{
    display:block;
    height:20px;
    background:url('img/heart.gif') no-repeat;
    padding-left:25px;
}

a.hobbyLink:hover
{
    background-position:0 -20px;
}

span.hobbyLink 
{
    display:block;
    height:20px;
    background:url('img/heart.gif') no-repeat;
    padding-left:25px;
    background-position:0 -20px;
}




.subMenuContainer
{
    position:relative;
    margin:0 auto;
    margin-top:60px;
    text-align:center;
}

.subMenuContainer table
{
    border-collapse:collapse;
    position:relative;
    margin:0 auto;
}

.subMenuLeftSide, .subMenuRightSide
{
    height:47px;
    width:20px;
}

.subMenuLeftSide
{
    background:url('img/submenu-bg-left.png') no-repeat;
}

.subMenuRightSide
{
    background:url('img/submenu-bg-right.png') no-repeat;
}

.subMenuCenter
{
    white-space:nowrap;
    border-top:2px solid #cc0000;
    border-bottom:2px solid #cc0000;
    
}



a.fancy img{border:none;}

#mainMenu
{
    text-align:center;
    padding-left:45px;
    padding-bottom:20px;
}

.menuItem
{
    float:left;
    margin:0 10px;
    width:201px;
}

.menuItem .description
{
    font-size:11px;
    color:#666666;
    text-align:left;
}

.menuItem a
{
    line-height:30px;
    color:#cc0000;
    border:none;
    display:block;
    font-weight:bold;
    text-decoration:none;
}

.menuItem a span
{
    text-decoration:underline;
    /*text-decoration:inherit;*/
}
.menuItem a span:hover
{
    /*text-decoration:none;*/
}


.menuItem a:hover
{
    text-decoration:none;
    color:#999999;
}

.menuItem img
{
    border:none;
    text-decoration:none;
}

.menuItem img:visited
{
    border:none;
    text-decoration:none;
}


.menuItem img:hover
{
    opacity:0.5;
    filter:alpha(opacity=50);
}

.fade
{
    opacity:0.5;
    filter:alpha(opacity=50);
}


#mainContentContainer
{
    min-height:380px;
}

#main
{
    padding-top:20px;
    z-index:1;
    position:relative;
    /*display:none;*/
}


.mainText
{
    padding:0 40px;
}



.separator
{
    margin-top:40px;
}



#footer
{
    margin-top:-150px;
    height:315px;
    background-image:url('img/bg-footer.gif');
   /* position:relative;
    z-index:-1;*/
}

#designedBy
{
    text-align:center;
    padding-top:245px;
    
    color:#fff;
    font-size:12px;
    z-index:100;
}

#designedBy a
{
    color:#fff;
    font-weight:bold;
    z-index:101;
}

#copyright
{
    font-size:12px;
    margin-bottom:5px;
}








#contentTop, #contentBottom
{
    width:920px;
    height:21px;
}

#contentTop
{
    background-image:url('img/content-container-bg-top.png');
}

#contentBottom
{
    background-image:url('img/content-container-bg-bottom.png');
}

#titleContainer
{
    text-align:center;
    color:#cc0000;
    margin:15px 0;
    font-size:20px;
    font-style:italic;
}

#contentContainer
{
    position:relative;
    margin:auto;
    width:920px;
}

#contentMiddle
{
    border-left:1px solid #cc0000;
    border-right:1px solid #cc0000;
    padding:30px 25px;
}



#seoContentTop
{
    width:879px;
    height:14px;
}
#seoContentBottom
{
      width:879px;
    height:15px;}

#seoContentTop
{
    background-image:url('img/seo-content-container-bg-top.png');
}

#seoContentBottom
{
    background-image:url('img/seo-content-container-bg-bottom.png');
}

#seoContentContainer
{
    position:relative;
    margin:auto;
    width:879px;
}

#seoContentMiddle
{
    border-left:1px solid #aaaaaa;
    border-right:1px solid #aaaaaa;
    padding:20px 40px;
}

#seoDescription
{
     /*display:none;*/
    color:#aaaaaa;
    font-size:12px;
    margin-top:40px;
     z-index:1;
    position:relative;
    
}

#seoContentTitle
{
    font-style:italic;
    font-size:20px;
    text-align:center;
    color:#999999;
    padding-bottom:20px;
}


.rootLink
{
	display:block;
	position:absolute;
	/*border:1px solid black;*/
	margin-top:65px;
	width:280px;
	height:75px;
	margin-left:460px;
}