*
{
    margin: 0;
    padding: 0;
}
.clear
{
    clear:both;
}

body
{
    font-family:Arial;
}

.page
{
    width: 1200px;
    margin:auto;
    position:relative;
}

#header
{
    height:330px;
    background-image:url('img/bg-header.gif');
}

#headerTitle
{
    padding-top:238px;
    text-align:center;
    font-weight:bold;
    color:#fff;
    font-size:20px;
}

#headerTitleSign
{
    text-align:center;
    color:#cc0000;
    font-style:italic;
    font-size:12px;
    padding-top:8px;
}


#headerMenuLine
{
    height: 27px;
    background-color:#999999;
}

#headerMenuLine
{
    text-align:center;
    color:#fff;
    font-size:16px;
}

#headerMenu
{
    padding-top:2px;
}

#headerMenu a
{
   color:inherit;
}


#mainMenu
{
    text-align:center;
    padding-left:45px;
    padding-bottom:20px;
}

.menuItem
{
    float:left;
    margin:0 10px;
    width:201px;
}

.menuItem .description
{
    font-size:11px;
    color:#666666;
    text-align:left;
}

.menuItem a
{
    line-height:30px;
    color:#cc0000;
    border:none;
    display:block;
    font-weight:bold;
}

.menuItem a:hover
{
    text-decoration:none;
    color:#999999;
}

.menuItem img
{
    border:none;
}


#main
{
    padding-top:20px;
    
    /*display:none;*/
}

#footer
{
    margin-top:-150px;
    height:315px;
    background-image:url('img/bg-footer.gif');
}

#designedBy
{
    text-align:center;
    padding-top:245px;
    
    color:#fff;
    font-size:11px;
}

#designedBy a
{
    color:inherit;
    font-weight:bold;
}

#copyright
{
    font-size:13px;
    margin-bottom:5px;
}








#contentTop, #contentBottom
{
    width:920px;
    height:21px;
}

#contentTop
{
    background-image:url('img/content-container-bg-top.png');
}

#contentBottom
{
    background-image:url('img/content-container-bg-bottom.png');
}

#titleContainer
{
    text-align:center;
    color:#cc0000;
    margin:15px 0;
    font-size:20px;
    font-style:italic;
}

#contentContainer
{
    position:relative;
    margin:auto;
    width:920px;
}

#contentMiddle
{
    border-left:1px solid #cc0000;
    border-right:1px solid #cc0000;
    padding:30px 70px;
}



#seoContentTop
{
    width:879px;
    height:14px;
}
#seoContentBottom
{
      width:879px;
    height:15px;}

#seoContentTop
{
    background-image:url('img/seo-content-container-bg-top.png');
}

#seoContentBottom
{
    background-image:url('img/seo-content-container-bg-bottom.png');
}

#seoContentContainer
{
    position:relative;
    margin:auto;
    width:879px;
}

#seoContentMiddle
{
    border-left:1px solid #aaaaaa;
    border-right:1px solid #aaaaaa;
    padding:20px 40px;
}

#seoDescription
{
     /*display:none;*/
    color:#aaaaaa;
    font-size:12px;
    margin-top:40px;
    
}

#seoContentTitle
{
    font-style:italic;
    font-size:20px;
    text-align:center;
    color:#999999;
    padding-bottom:20px;
}