*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family:Arial;
}

.page
{
    width: 1200px;
    margin:auto;
    position:relative;
}

#header
{
    height:300px;
    background-image:url('img/bg-header.gif');
}

#headerMenuLine
{
    height: 27px;
    background-color:#999999;
}

#headerMenuLine
{
    text-align:center;
    color:#fff;
    font-size:16px;
}

#headerMenu
{
    padding-top:2px;
}

#headerMenu a
{
   color:inherit;
}

#footer
{
    height:360px;
    background-image:url('img/bg-footer.gif');
}

#designedBy
{
    text-align:center;
    padding-top:293px;
    
    color:#fff;
    font-size:11px;
}

#designedBy a
{
    color:inherit;
    font-weight:bold;
}

#copyright
{
    font-size:13px;
    margin-bottom:5px;
}

#contentTop, #contentBottom
{
    width:920px;
    height:21px;
}

#contentTop
{
    background-image:url('img/content-container-bg-top.gif');
}

#contentBottom
{
    background-image:url('img/content-container-bg-bottom.gif');
}

#titleContainer
{
    text-align:center;
}

#contentContainer
{
    position:relative;
    margin:auto;
    width:920px;
}

#contentMiddle
{
    border-left:1px solid #cc0000;
    border-right:1px solid #cc0000;
}