@model HavilaTravel.Models.Content


@Html.Raw(Model.Text)



@section ContentTitle{
<div id="contentTitle">
@ViewBag.Title
</div>
}

@section Accordion
{
<div id="accordionContainer">
    @Html.Partial("Accordion",Model.Accordions)
</div>
}