#menuContainer{ margin-left:40px; padding-left: 0px;	float: left;	width: 185px;}

.divBoxCornerTopRight
{
	background-image: url('img/corner_top_right.gif');
	background-position:right;
	background-repeat:no-repeat;
	background-color:#ffffff;
	height: 10px;
}

.divBoxCornerTopLeft
{
	background-image: url('img/corner_top_left.gif');
	background-position:left;
	width: 10px;
	height: 10px;
}

#divMenuBoxMiddle
{
	 background-color:#ffffff;
	 padding-top:20px;
	 padding-bottom:20px;
}

.divBoxCornerBottomRight
{
	background-image: url('img/corner_bottom_right.gif');
	background-position:right;
	background-repeat:no-repeat;
	background-color:#ffffff;
	height: 10px;
	
}

.divBoxCornerBottomLeft
{
	background-image: url('img/corner_bottom_left.gif');
	background-position:left;
	width: 10px;
	height: 10px;
	
}

.menuItem
{
	background-color: #ffffff;
	padding:3px 20px 3px 20px;
	margin:10px 0 10px 0;
	color:#aaaaaa;
	font-family:Arial;
	font-size:15px;
	
}

.menuItem a
{
	color:#333366;
	font-family:Arial;
	font-size:15px;
}

.menuItem a:active
{
	color:#333366;
	font-family:Arial;
	font-size:15px;
}

.menuItem a:hover
{
	color:#333366;
	font-family:Arial;
	font-size:15px;
}

.childMenuItem
{
	background-color: #ffffff;
	padding:3px 0px 3px 40px;
	font-size:11px;
}

.childMenuItem a
{
	color:#333366;
	font-size:11px;
}

.childMenuItem a:active
{
	color:#333366;
	font-size:11px;
}

.childMenuItem a:hover
{
	color:#333366;
	font-size:11px;
}

.selected
{
	background-color:#60b4fd;
	font-size:12px;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
}

.selectedChild
{
	background-color:#60b4fd;
	font-size:11px;
	/*color:#C2CEDE;*/
	color:#ffffff;
}

.menuLink
{
	background-color: #004070;
}


a.parentSelected {color:#77A3C8 !important;}
a:active.parentSelected {color:#77A3C8 !important;}
a:hover.parentSelected{color:#77A3C8 !important;}


#contentBoxHorisontalMenu
{
	height:30px;
	width:700px;
	padding-top:2px;
	padding-bottom:2px;
	color:#ffffff;
	background-color:#60b4fd;
}


#contentBoxHorisontalMenu a
{
	color:#005EBA;
}

#contentBoxHorisontalMenu a:active
{
	color:#005EBA;
}

#contentBoxHorisontalMenu a:hover
{
	color:#005EBA;
}

.horisontalMenuItem
{
	padding-left:8px;
	padding-right:8px;
	font-size:11px;
	
	color:#333366;
}

.horisontalMenuItem a
{
		font-size:11px;
		color:#ffffff !important;
}

.horisontalMenuItem a:hover
{
		font-size:11px;
		color:#ffffff;
}

.horisontalMenuItem a:visited
{
		font-size:11px;
		color:#ffffff;
}


.horisontalSelectedLeft
{
	float:left;
	height:18px;
	padding-top:5px;
	background-image: url('img/bg-horisontal-selected-left.gif');
	background-position:left;
	background-repeat:no-repeat;
	font-size:11px;
	color:#333366;
	padding-left:5px;
}

.horisontalSelectedRight
{
	
	background-color:#ffffff;
	float:right;
	height:23px;
	background-image: url('img/bg-horisontal-selected-right.gif');
	background-position:right;
	background-repeat:no-repeat;
	padding-right:7px;
	
}
