*{margin: 0;	padding: 0;	font-family: Verdana;	font-size: 13px;}
img{border: 0;}
.clearBoth{	clear: both;}
#page{position: relative;	margin: 0 auto;	width: 1000px;	background-color: #ffffff;	height: 100%;}
html{height: 100%;}

.faceplate{ background-color:#3695c1;}

#faceplateDiv
{
    background:url(img/faceplate.gif) #3695c1; 
    width:800px; 
    height:350px;
    position:relative;
    margin:0 auto;
}

#faceplateSign
{
    color:#ffffff;
    position:relative;
    top:400px;
    width:800px;
    text-align:center;
    font-family:Verdana;
    font-size:12px;
}

#faceplateSign a
{
    color:#ffffff;
    font-weight:bold;
}

