.category-title.articles{
    color: #000000;
    background-image: none;
    background-color: #fff;
}

.article-content-container {
    width: 780px;
    position: relative;
    margin: 0 auto;
    background-color: #faf9f1;
    height: 900px;
}

.article {
    width: 690px;
    position: relative;
    margin: 0 auto;
}

.article-separator {
    width: 690px;
    position: relative;
    margin: 40px auto;
    border-bottom: 1px solid #9b9987;
}

.pager {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 780px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 13px;
}

.pager a{
    color: inherit;
    
}

.article .date {
    font-size: 10px;
    color: #cccccc;
    
}

.article .title {
    color: #ed1c24;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.article .description {
    padding-top: 10px;
    font-size: 13px;
    font-style: italic;

}

.article .link {
    padding-top: 10px;
       font-size: 12px;
}

.article .link a {
 
    color: #006699;
}