.product-selector-container
{
    padding-top: 7px;
}

.product-selector
{
    /*border: 1px solid #000000;*/
    margin: 0 auto;
    position: relative;
    display: block;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 0;
    padding-left: 20px;
    outline: none;
    background: url("img/select-bg-big.png");
    width: 212px;
    height: 35px;
    /*border: 1px solid #000000;*/
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
}

.product-selector option {
    /*background-color:rgba(0,0,0,0.3);*/
    /*background: url("img/select-bg-big.png");*/
    color: #000;
}



#productFrameWrapper{
    padding: 8px;
    width: 350px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 320px;
    left: 500px;
    cursor: move;
}

#productFrameWrapper #productFrame
{
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

#productFrameWrapper #productFrame #productContainer
{
    padding-top: 2px;
    padding-left: 2px;
    /*padding-left: 20px;
    padding-top: 20px;*/
}

.product-content-wrapper {
    padding: 30px 20px 50px 20px;
}

#productFrameWrapper #productFrame #productContainer .cross {
    width: 15px;
    height: 14px;
    background: url('img/cross.png') no-repeat;
}

#productFrameWrapper #productFrame #productContainer #productTitle
{
    text-transform: uppercase;
    font-size: 18px;
}

#productFrameWrapper #productFrame #productContainer #productText
{
    font-size: 13px;
    padding-top: 5px;
    line-height: 22px;
    
}