body {
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 10px 50px;
    color: #696969;
    font-size: 14px;
}





.adminMenu li
{
    display: inline;
    padding: 10px;
}






table {
    border-collapse: collapse;
}

table th  {
    padding: 3px 3px;
}

 table td {
    padding: 3px 7px;
}



table th {
    background-color: seashell;
}

table td {
    border: 1px dashed silver;
}


a:hover {
     color: #ff0000;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}


/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

.errorMessage
{
    color: #f00;
    border: 1px solid #f00;
    padding: 5px;
    font-weight: bold;
}

.editor-table
{
    
}

.editor-table textarea
{
    width: 400px;
    height: 80px;
}

img
{border: none}