/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}





#pager
{
    margin: 10px 0;
    text-align: center;
    line-height: 20px;
}

#pager div
{
    border: 1px solid #e7e7e7;
    display: inline-block;
    width: 27px;
    height: 22px;
    padding-top: 3px;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    margin-right: 5px;
}

#pager div.current
{
    background-color: #f7f7f7;
}

#pager a
{
    display: block;
    width: inherit;
    height: inherit;
    text-decoration: none;
}
