*
{
    margin: 0;
    padding: 0;
}

body
{
     font: 12px/1.2em Arial, Helvetica, sans-serif;
     color: #817a7a;
}


a
{
    outline-style: none;
    outline-color: invert;
    outline-width: medium;
    color: #63b4c3;
    
}


.page
{
    width: 940px;
    position: relative;
    margin: 0 auto;

    min-height: 800px;
}

#header
{
    padding: 20px 0;
    /*border-bottom: 1px solid #ccc;*/
    height: 100px;
}

#logo
{
    float: left;
    width: 150px;
    height: 100px;
    margin-right: 20px;
    background: url('img/toy-planet-logo.gif') no-repeat;
}

#left
{
    width: 220px;
    margin: 0 20px 0 0;
    float: left;
}

#main
{
    margin-top: 20px;
}

#container
{
    overflow: hidden;
}




#mainMenu
{
    /*background-color: #777;
    font-weight: bold;*/

    border-top: 1px solid #817a7a;
    border-bottom: 1px solid #817a7a;
    padding-left: 217px;
    
}

#mainMenu ul
{

    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    list-style-image: none;
    padding-top: 5px;
    
}


#mainMenu li
{
    /*display: inline-block;
    text-transform: uppercase;*/
    padding: 0px;
    text-transform: uppercase;
    width: auto;
    font: 13px/32px Arial, Helvetica, sans-serif;
    background: url('img/menu-divider.gif') no-repeat left center;
    float: left;
    
}

#mainMenu li a
{
    padding-left: 21px;
    padding-right: 22px;
    display: block;
    background: none transparent scroll repeat 0% 0%;
    color: #383838;
    text-decoration: none;

    /*border: 1px solid black;*/
}

#mainMenu li a:hover
{
    color: inherit;
}

#mainMenu li.first-child
{
    background: none transparent scroll repeat 0% 0%;
}

.clear {
    clear: both;
}

#footer {
    border-top: 1px solid #817a7a;
    border-bottom: 1px solid #817a7a;
    padding: 20px 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}