@model EM2014.Models.SiteModel
@{
    ViewBag.Title = "Страница не найдена";
}

@section Menu
{
    <div class="menu-container">
        @Html.Partial("_Menu", Model.Menu)
    </div>
}


<div class="not-found">
    
</div>