@using Vip.Models
@model Vip.Models.SiteViewModel

<div class="mainPageContainer">
    
    @if (Model.Content != null && !Model.IsHomePage)
    {
        <div class="contentContainer">
        @Html.Raw(Model.Content.Text)
        </div>
    }
    
   <div class="patternTop">
    </div>

     <div class="patternBottom">
    </div>
    

    @if (Model.Content != null && (!string.IsNullOrEmpty(Model.Content.Description) || !string.IsNullOrEmpty(Model.Content.DescriptionTitle)))
    {
        @Html.Partial("AboutModel", new AboutModel { Title = Model.Content.DescriptionTitle, Text = Model.Content.Description })
    }
    @if (Request.IsAuthenticated)
    {
        <div style="text-align: center; margin-top: 100px;">
        @Html.ActionLink("Редактировать страницу", "Edit", "Content", new { area = "Admin", id = (Model.Content != null ? Model.Content.Id : 0) }, new { @class = "adminLink" })
        </div>
    }
</div>
