@model IEnumerable<SiteExtensions.MenuItem>

@foreach (var item in Model)
{
    <div class="item">
        
        @if (item.Current)
        {
            @Html.Raw(item.Title)
        }else if (item.Level == 0)
        {
            @Html.ActionLink(item.Title, "Index", "Home", new { category = item.ContentName }, null)
        }
        else if (item.Level == 1)
        {
            @Html.ActionLink(item.Title, "Index", "Home", new { category = item.Parent.ContentName, subcategory = item.ContentName }, null)
        }
        
    </div>
}

@*<div class="item"><a href="#">Документация</a></div>
            <div class="item"><a href="#">Сделано</a></div>
            <div class="item"><a href="#">События и новости</a></div>
            <div class="item"><a href="#">Простой алгоритм партнерства</a></div>*@