.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    background: #ffffff;
    border: 1px solid #ffffff;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 610px;
    padding-bottom: 20px;
    padding-left:25px;
    padding-right:40px;
    padding-top:20px;
    /*border:solid 1px blue;*/
    
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  618px;
    height: 77px;
    /*border:solid 1px #ffaaff;*/
}

.jcarousel-skin-tango .jcarousel-item {
    width: 103px;
    height: 77px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 0px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #1f2935;
    color: #000;
}


.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 12px;
    height: 21px;
    cursor: pointer;
    background: url('/content/img/arrow-default-right.png') no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    /*background-position: 0 0;*/
     background: url('/content/img/arrow-end-right.png') no-repeat 0 0;
    /* opacity:0.5;
     filter:alpha(opacity=50);*/
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 50px;
    left: 5px;
    width: 12px;
    height: 21px;
    cursor: pointer;
    background: url('/content/img/arrow-default-left.png') no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: /*-32px*/0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: /*-64px*/0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: /*-96px*/0 0;
    /*opacity:0.5;
    filter:alpha(opacity=50);*/
    
     background: url('/content/img/arrow-end-left.png') no-repeat 0 0;
}

