@model IEnumerable<Shop.DataAccess.Entities.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Export")
}

@{
    var list = Model.Select(category => new SelectListItem {Selected = false, Text = category.Title, Value = category.Name}).ToList();
}





@using (Html.BeginForm("Export", "DataTrasfer", FormMethod.Get))
{
    <div>
        @Html.DropDownList("categoryName", (IEnumerable<SelectListItem>)list)
        <input type="submit" value="Экспорт"/>
    </div>
}
