@using Dev.Mvc.Helpers
@model HavilaTravel.Models.Bellboy

@{
    AjaxOptions options = new AjaxOptions{
        HttpMethod = "Post",
        UpdateTargetId = "bellboyContainer"    ,
        OnSuccess    = "bellboyOnSuccess"
    };        
    
}
    @using (Ajax.BeginForm("GetBellboy","Home",null, options,new{id="bellboyForm"}))
    {
        <script type="text/javascript">
            $(function () {
                
                $("#changeBellboyLink").click(function () {

                    $("#bellboy").animate({ "left": "+=275px" }, 1000, function () { $("#bellboyForm").submit(); });
                    //$("#bellboyForm").submit();
                });
            });

            function bellboyOnSuccess() {
                //alert("aaa");
                $("#bellboy").animate({ "left": "-=275px" }, 1000);
            }
           
        </script>
        
        <div id="bellboy">
            <img src="/Content/Bellboy/@Model.ImageSource" alt="" id="bellboy1" />
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Редактировать", "Index", "Bellboy", new {Area = "Admin"}, new {@class = "adminLink"})
            }
            <div class="text">
                &mdash;Изволите<br />
                <a href="@Model.TopLink" class="firstSign">@Model.TopText</a>,<br />
                <div style="margin-top: 10px;">
                    или<br />
                    <span id="changeBellboyLink" class="secondSign">еще</span>?
                </div>
            </div>
        
        </div>
    }


