

<div class="placesSelector" id="countryBox1">
        <div class="placesSelectorTop">
        </div>
        <div class="placesSelectorCenter">
            <div class="placesSelectorContent">
              <div id="countrySelector">Выберите страну</div>
            </div>
        </div>
        <div class="placesSelectorBottom">
        </div>
    </div>