<div id="headerLeftMenu">
    @{
        var menuItems = (List<HavilaTravel.Models.Content>)ViewBag.HeaderLeftMenuItems;
    }
    <ul>
        @{if (menuItems != null)
          {
              foreach (var m in menuItems.OrderBy(m=>m.SortOrder))
              {
            <li>&raquo; @Html.ActionLink(m.MenuTitle, "Index", "Home", new { id = m.Name }, null) 
         @if (Request.IsAuthenticated)
            {   
            @Html.ActionLink("Ред", "Edit", "Content", new { Area = "Admin", id = m.Id }, new { @class = "adminLink" })
            }   
            </li>
            
              }
          }}
    </ul>
    @{
        if (Request.IsAuthenticated)
        {
        @Html.ActionLink("Добавить подпункт", "Add", "Content", new { Area = "Admin" }, new { @class = "adminLink" })
        }
    }
</div>
