<div id="mainMenu">
    <table>
        <tr>
            <td class="firstMenuItem selected">
                
            </td>
            <td style="white-space: nowrap" class="selected">
                <a href="#">О нас</a>
            </td>
            <td>
                <a href="#">Тематические туры</a>
            </td>
            <td class="selected">
                Страны
            </td>
            <td>
                <a href="#">Авиабилеты</a>
            </td>
            <td>
                <a href="#">Новости</a>
            </td>
            <td>
                <a href="#">For Foreigners</a>
            </td>
            <td class="selected">
                Контактная информация
            </td>
            <td class="lastMenuItem selected">
            &nbsp;
            </td>
        </tr>
    </table>
</div>
