@using HavilaTravel.Models
<div class="placesSelector" id="citiesSelector">
    <div class="placesSelectorTop">
    </div>
    <div class="placesSelectorCenter">
        <div class="patternTop">
        </div>
        <div class="placesSelectorContent">
            <div id="scrollbar1">
                <div class="scrollbar">
                    <div class="track">
                        <div class="thumb">
                            <div class="end">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="viewport">
                    <div class="overview">
                        @{
                            var places = (List<MenuItem>)ViewBag.PlacesSelectorContent;


                            foreach (var item in places)
                            {
                            <div>
                                @Html.ActionLink(item.Title, "Index", "Place", new { id = item.Name }, null)
                            </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="patternBottom">
        </div>
    </div>
    <div class="placesSelectorBottom">
    </div>
</div>
