@using HavilaTravel.Models
@{

    var map = (List<MenuItem>)ViewBag.PlacesMap;
    if (map.Count > 1)
    {
    <table>
        <tr>
            @foreach (var item in map.OrderBy(m => m.SortOrder))
            {
                <td>
                    @Html.ActionLink(item.Title, "Index", "Place", new { id = item.Name }, null)
                    &raquo;
                </td>
            }
        </tr>
    </table>
    }
}
