<div id="quicksearch">
    Быстрый поиск
    <div class="sign">по стране, городу или курорту</div>
    <table id="quicksearchinputcontainer">
        <tr>
            <td class="left">
                &nbsp;&nbsp;
            </td>
            <td class="center">
                <input type="text" id="qsearch" />
            </td>
            <td class="right">&nbsp;&nbsp;
            </td>
        </tr>
    </table>
    <div class="sign">Введите название и нажмите "ввод"</div>
</div>
