@{
    ViewBag.Title = "Система администрирования";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Система администрирования</h3>


@section AdminNavigation
{
   @Html.Partial("Menu","")
}


