@model Penetron.Models.BuildingObj

@{
    ViewBag.Title = "AddImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="adminContent">

@using (Html.BeginForm("AddImage", "Building", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)

    @Html.Partial("InputImages")
    
    <div class="buttonsContainer">
            <input type="submit" value="Сохранить" />
            @Html.ActionLink("Назад", "Buildings", "Home", new { area = "" }, null)
        </div>
    
}

</div>