@using Mayka.Helpers
@model Mayka.Models.SiteModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.IsAuthenticated && Model.Content.ContentType == (int)ContentType.HomePage)
{
    @Html.ActionLink("Редактировать главную страницу", "Edit", "Content", new { area = "Admin", id=Model.Content.Id }, new { @class = "adminLink" })
}

<div class="main-title">
    @Model.Content.Title
</div>


<div class="main-text">
    @Html.Raw(Model.Content.Text)


    @*Майкаджексон — это футболка-статус, посредством которой люди передают состояние своего мира окружающим.
   
    <br />
    <br />
    Поскольку Майкаджексон создана не совсем нормальными людьми,
    нормальные люди — это не совсем те, на ком мы бы хотели увидеть
    Майкуджексон. :) 
   
    <br />
    <br />
    Кстати, Майкаджексон (с небольшим исключением) называется и транслируется только на родном языке. То есть, все наши принты написаны не на английском. А название непременно склоняется («Майкуджексон», «Маекджексон» и т д). Это вообще «вау».*@

</div>

@section Menu
{
    @Html.Partial("Menu", Model.Menu)
}
