@using Mayka.Helpers
@model Mayka.Models.SiteModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu
{
    @Html.Partial("Menu", Model.Menu)
}


<div class="main-title">
    @Model.Content.Title
</div>


<div class="productsContainer">
    @if (Request.IsAuthenticated)
    {
        <div>
            @Html.ActionLink("Добавить продукт", "Create", "Product", new { area = "Admin", id = Model.Content.Id }, new { @class = "adminLink" })
        </div>
    }


    @foreach (var item in Model.Content.Products.OrderBy(p => p.SortOrder))
    {
        @Html.Partial("Product", item)
    }

</div>
