@using EM2013.Models
@using SiteExtensions
@model CatalogueViewModel
@section MainMenu
{
    @Html.Partial("_MainMenu", Model.Menu)
}

@Html.Partial("_ContentDescription", new ContentDescription { Title = Model.Category.Title, Text = Model.Category.Description })

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("добавить объект", "Create", "Product", new { area = "Admin", id = Model.Category.Id }, new { @class = "adminLink" })
}
<div class="products">
    @foreach (var product in Model.Category.Products.OrderBy(p=>p.SortOrder))
    {
        @Html.Partial("_Product", product)
    }
    <div class="clear">
    </div>
</div>
@section Footer
{
    <div class="footer">
        <div class="logo">
        </div>
    </div>
}
