@using EM2013.Models
@using SiteExtensions
@model CatalogueViewModel
@section MainMenu
{
    @Html.Partial("_MainMenu", Model.Menu)
}
@{
    var contentDescription = new ContentDescription
                                 {
                                     Title = Model.Title,
                                     Text = Model.Description
                                 };

    if (Model.Content != null)
    {
        contentDescription.Text = Model.Content.Text;
        contentDescription.Title = Model.Content.Title;
    }
}

@Html.Partial("_ContentDescription", contentDescription)

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("добавить объект", "Create", "Product", new { area = "Admin", id = Model.Category.Id }, new { @class = "adminLink" })
}

<div class="products">

@foreach(var product in Model.Category.Products)
{
    @Html.Partial("_Product",product)
}

</div>

@section Footer
{
    <div class="footer">
        <div class="logo">
        </div>
    </div>
}
