*
{
    margin: 0;
    padding: 0;
}


#mainMenuContainer
{
    /*position: relative;
    margin: 0 auto;*/
    width: 150px;
    background-color: deepskyblue;
}


#leftSide, #rightSide, #mainMenuContainer
{
    display: inline-table;
}

#leftSide
{
    background-color: red;
}

#rightSide
{background-color: yellow}