@model Filimonov.Models.ContentItem
<div class="container">
    <div class="page">
        <div class="menu menuItem">
            <a href="#" class="showLink">@Model.Title</a>
            @if (Request.IsAuthenticated)
            {
                <div>
                    @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = Model.Id }, new { @class = "adminLink" })
                </div>
            }
        </div>
    </div>
    <div class="frame">
        <div class="top">
        </div>
        <div class="middle">
            <div class="hide">
                <div class="hideLink">
                </div>
            </div>
            <div class="titleContainer">
                <div class="inner">
                    <div class="titleContainerLeft">
                        <div class="titleContainerRight">
                            <div class="title">
                                @Model.Title
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Model.Text
        </div>
        <div class="bottom">
        </div>
    </div>
</div>
<div class="page">
    <div class="menu" style="height: 50px;">
    </div>
</div>
