@model SiteModel
@using Filimonov.Models
<div class="page" style="height: 50px;">
</div>
<div class="page">
    <div class="menu top">
        <div class="circle top-left">
        </div>
        <div class="circle top-right">
        </div>
    </div>
</div>
@foreach (var item in Model.Contents.OrderBy(m => m.SortOrder))
{
    switch ((ContentType)item.ContentType)
    {
        case ContentType.Content:
        case ContentType.Feedback:
    @Html.Partial("ContentItem", new ContentItem { Title = item.Title, Text = item.Text, Id=item.Id })
break;
        case ContentType.Projects:
    @Html.Partial("ContentItemProjects", new ContentItemProjects { Title = item.Title, Projects = Model.Projects, Id = item.Id })
break;
    }
}
<div class="page">
    <div class="menu bottom">
        @if (Request.IsAuthenticated)
        {
            <div class="adminLinkContainer">
                @Html.ActionLink("Добавить раздел", "Create", "Content", new { Area = "Admin" }, new { @class = "adminLink" })
            </div>
        }
        <div class="circle bottom-left">
        </div>
        <div class="circle bottom-right">
        </div>
    </div>
</div>
