*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Tahoma, Verdana;
    font-size: 13px;
}

.headLine
{
    height:30px;
    position:absolute;
    background-color:#968E80;
    width:100%;
    top:0;
    padding:0;
    margin-left:auto;
    margin-right:auto;
}


.globalContainer
{
    /*border:1px solid #8a8070;*/
    position:relative;
    width:1000px;
    margin:3px auto;
    
}

.contentContainer
{
    border:1px solid #8a8070;
    
    position:relative;
    width:700px;
    /*float:right;*/
    padding-top:30px;
    margin-left:300px;
}

.leftContainer
{
    
    width:301px;
    float:left;
    
}



.newsTitleListItem
{
    padding:5px 5px;
}

.newsTitleListItem:hover
{
    background-color:#eeeeee;
    
}


.newsTitleListContainer
{
    margin-top:30px;
    border-right:1px solid #8a8070;
}


/*
.header
{
    height:16px;
    background-color:#A79F90;
}
*/