@using Shop.WebSite
@{
    int pageSize = SiteSettings.ProductsPageSize;
    int totalCount = (int)ViewBag.ProductTotalCount;
    int pageCount = totalCount / pageSize;
    int page = (int)ViewBag.Page;
    pageCount += ((totalCount % pageSize) > 0) ? 1 : 0;
    
}
@if (totalCount > SiteSettings.ProductsPageSize)
{
    <div id="adminPager">
        @for (int i = 0; i < pageCount; i++)
        {
            if (i == page)
            {
                <div class="current">
                    @Html.Raw((i + 1).ToString())
                </div>
            }
            else
            {
                <div>
                    @Html.ActionLink((i + 1).ToString(), "Index", "Product", new { area = "Admin", page = i }, null)
                </div>
            }
        }
    </div>
}