@{
    ViewBag.Title = "Система администрирования";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Система администрирования</h3>


@section AdminNavigation
{
    <ul class="nav nav-tabs" role="tablist">
        <li>@Html.ActionLink("Категории", "Index", "Category", new { area = "Admin" }, null)</li>
        @*<li>@Html.ActionLink("Новости", "Index", "Article", new { area = "Admin" }, null)</li>*@
    </ul>
}


