* {
    margin: 0;
    padding: 0;
}

body {
    color: #333333;
}

.clear {
    clear: both;
}

.page {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

header {
}

    header .top {
        /*height: 117px;*/
        height: 124px;
        /*background: url('img/header-bg.gif') repeat-x;*/
        background: url('img/header-bg.png') repeat-x;
    }

    header .middle {
        height: 337px;
        background: url('img/header-bottom-bg.gif') repeat-x;
        background-position: 50% 0;
        margin-top: -7px;
    }

    header .bottom {
        height: 78px;
        background: url('img/4-reasons.png');
        position: relative;
        margin: -11px auto auto;
        width: 1200px;
    }

#logo {
    width: 160px;
    height: 40px;
    position: absolute;
    top: 60px;
    left: 95px;
    background: url('img/logo.gif');
}

#phone {
    position: absolute;
    left: 95px;
    width: 160px;
    height: 22px;
    top: 10px;
    background: url('img/phone.gif');
}


#footer {
    height: 89px;
    background: url('img/footer-bg.gif') repeat-x;
}

.main-page-content {
    margin-top: -15px;
}

.content {
    min-height: 554px;
    background-color: #f5f5f5;
    background: url('img/main-page-content-bg.gif') repeat-x;
    background-position: 50%;
}

#em {
    position: relative;
    margin: 0 auto;
    background: url('img/em.gif') no-repeat;
    width: 175px;
    height: 30px;
    padding-top: 35px;
    background-position: bottom;
}

#em-link {
    position: absolute;
    width: 140px;
    height: 12px;
    cursor: pointer;
    top: 50px;
    left: 35px;
}



.reasons-container {
    width: 880px;
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
}

.reason {
    float: left;
    margin: 20px 10px;
    width: 412px;
    height: 200px;
    color: #565656;
}

.reason1 {
    background: url('img/1-reason.png');
}

.reason2 {
    background: url('img/2-reason.png');
}

.reason3 {
    background: url('img/3-reason.png');
}

.reason4 {
    background: url('img/4-reason.png');
}

.reason .title {
    text-align: center;
    padding-top: 32px;
    font-family: Georgia;
    font-style: italic;
    font-size: 16px;
}

.reason .text {
    text-align: left;
    padding: 32px 40px 0 75px;
    font-family: Verdana;
    font-style: normal;
    font-size: 11px;
}



div#content,
div#errorContent {
    text-align: center;
    position: relative;
}

.error-description {
    display: inline-block;
    width: 375px;
    margin-top: 186px;
}

.error-description .description {
    padding-top: 40px;
    padding-bottom: 175px;
    font-size: 14px;
}

.error-description .description a {
    color: #8f8f8f;
}

.highlight {
    color: #ec5d30;
}