@using Posh.Helpers
@model Posh.Models.Album
<div class="album">
@if(Request.IsAuthenticated)
{
    <div class="abs">
        @Html.ActionLink("Редактировать альбом", "Edit", "Album", new { Area = "Admin", id = Model.Id }, new { @class = "adminLink" })<br/>
        @Html.ActionLink("Удалить альбом", "Delete", "Album", new { Area = "Admin", id = Model.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить альбом? (удаляются только пустые альбомы)')" })<br/>
    </div>
}

    <div class="album-title">
        @Html.ActionLink(Model.Title, "Index", "Albums", new { id = Model.Name }, null)
    </div>
    @Html.Raw(Html.ActionLink("[IMAGE]", "Index", "Albums", new { id = Model.Name }, null).ToString().Replace("[IMAGE]", Html.CachedImage("~/Content/Images/", Model.ImageSource, "thumbnail1", ScaleMode.Corp)))
</div>
