@model EM2013.Models.ContentDescription

<div class="description">
    <div class="title">
        @Model.Title
    </div>
    <div class="text">
        @Model.Text
    </div>
    <div class="bottom">
    </div>
</div>

