<div class="header">
    <div id="logo">
    </div>
    <div class="feedback-container">
        <div class="link">
            @*@Html.ActionLink("Обратная связь","SiteContent","Home",new{id="feedback"},null)*@
            Прямая связь:<br />
            <a href="tel:0674335530">(067) 433-553-0</a>
        </div>
    </div>
</div>
<div class="header-bottom-line">
</div>
