@model SiteExtensions.Menu

 <div class="mainMenu">
            <ul>
                <li><a href="#" class="current">Сайты</a></li>
                <li><a href="#">Фирменные стили</a></li>
                <li><a href="#">Рекламные материалы</a></li>
            </ul>
        </div>