@using NewVision.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="/scripts/main.min.js?v=@SiteSettings.Version"></script>
    @*<script type="text/javascript" src="/scripts/vendor/jquery-1.11.2.min.js?v=@SiteSettings.Version"></script>*@
    <script type="text/javascript" src="/scripts/vendor/jquery-1.5.1.min.js?v=@SiteSettings.Version"></script>
    <script type="text/javascript" src="/scripts/vendor/jquery.bxslider.min.js?v=@SiteSettings.Version"></script>
    <script type="text/javascript" src="/scripts/vendor/jquery.scrolling-parallax.js?v=@SiteSettings.Version"></script>
    <script type="text/javascript" src="/scripts/vendor/init.js?v=@SiteSettings.Version"></script>
    
    <link rel="stylesheet" type="text/css" href="/styles/main.min.css?v=@SiteSettings.Version" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/styles/vendor/jquery.bxslider.css?v=@SiteSettings.Version" media="screen"/>
    
     <script type="text/javascript">
         $(function () {
             $.scrollingParallax('/images/site-bg.png', {
                 staticSpeed: .2,
                 bgRepeat:true
                });
            });
        </script>

    <script type="text/javascript">
        (function(nv){
            var settings;
            if (nv.settings === null){
                nv.settings = settings = {};
            } else{
                settings = nv.settings;
            }

            if (!('controlsDescriptors' in settings)){
                settings.controlsDescriptors = {};
            }

            if (!('dataModels' in settings)){
                settings.dataModels = {};
            }
        }(NV));
    </script>
    
    <script type="text/javascript">
        (function (nv, a9) {
            var settings = nv.settings,
                l10n = a9.l10n;

            if (!('locale' in settings)) {
                settings.locale = 'rus';
            }

            if (!('dictionary' in settings)) {
                settings.dictionary = {
                    copyright: '&copy; {year} 2014 New Vision Productions',
                    emMadeIn: 'Сделано в',
                    emStudio: 'Студии Евгения Миллера',
                    joinUs: 'как попасть<br>в арт-коллектив',
                    mainPageDetails: 'Подробнее о нас',
                    eventWillBe: 'проект состоится',
                    learnMore: 'узнать больше',
                    ticketType_orderTicket: 'заказать билет',
                    ticketType_eventIsFree: 'вход свободный',
                    ticketType_getInvite: 'получить приглас.',
                    ticketType_noSeats: 'мест нет',
                    contactsTitle: 'контактная информация и обратная связь',
                    address: 'Украина, 02002, г. Киев, ул. Ованеса Туманяна, 15-А, оф. 630<br>Телефон: +38 066 8450056',
                    feedbackTitle: 'отправить мгновенное сообщение',
                    feedbackFields_Name: 'назовитесь:',
                    feedbackFields_Email: 'Емейл, на который<br/>хотите получить ответ:',
                    feedbackFields_AntiSpam: 'Антиспам-проверка:<br/>наберите три два один (цифрами)',
                    feedbackFields_Question: 'Вопрос:',
                    feedbackFields_checkEntries: 'Заполните правильно поля формы',
                    feedbackFields_thanks: 'Спасибо, Ваше сообщение отправлено'
                }
            }

            l10n.locale = settings.locale;
            l10n.dictionary = settings.dictionary;

        }(NV, A9));
    </script>
    
    <script type="text/javascript">
        (function (nv, a9) {
            var settings = nv.settings,
                l10n = a9.l10n,
                controlsDescriptors = settings.controlsDescriptors;
            controlsDescriptors.site = {
                urlEM: 'http://eugene-miller.com',
                contentImagesPath: '/content/images/',
                mainPageSlideTimeout: 10000,
                mainPageUrl: '/',
                newsPageUrl: '/news',
                eventsPageUrl: '/events',
                eventDetailsPageUrl: '/event-details/{id}',
                mediaPageUrl: '/media',
                partnershipPageUrl: '/partnership',
                contactsPageUrl: '/contacts',
                joinUsUrl: '#',
                antiSpamAnswer: '321'
            };

        }(NV, A9));
    </script>
    
    <script type="text/javascript">
        (function (nv, a9) {
            var settings = nv.settings,
                dataModels = settings.dataModels;

            dataModels.mainMenu = [
                {
                    id:1,
                    title: 'расписание проектов',
                    selected: false,
                    active: false,
                    url: settings.controlsDescriptors.site.eventsPageUrl

                },
                {
                    id: 2,
                    title: 'новости и события',
                    selected: false,
                    active: false,
                    url: settings.controlsDescriptors.site.newsPageUrl
                },
                {
                    id: 3,
                    title: 'медиа',
                    selected: false,
                    active: false,
                    url: settings.controlsDescriptors.site.mediaPageUrl
                },
                {
                    id: 4,
                    title: 'спонсорство и партнерство',
                    selected: false,
                    active: false,
                    url: settings.controlsDescriptors.site.partnershipPageUrl
                },
                {
                    id: 5,
                    title: 'контактная информация',
                    selected: false,
                    active: false,
                    url: settings.controlsDescriptors.site.contactsPageUrl
                }
            ];

        }(NV, A9));
    </script>
    
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
