@{
    ViewBag.Title = "Ракурс";
}
@section BottomText
{
    <div id="bottomText" class="contentText">
        <div class="title">
            Немного о Ракурсе</div>
            <div class="separator"></div>
        Компания «Ракурс» ведет свою деятельность с 2002 года. Нашими постоянными партнерами-поставщиками
        являются ведущие производители Украины. Структура и стиль работы нашей компании
        организованы таким образом, чтобы создать максимально удобные условия для архитекторов
        и дизайнеров, решивших воспользоваться нашими услугами. Компания «Ракурс» предлагает
        следующую продукцию: элитные двери - входные и межкомнатные, паркет, паркетную доску
        и услуги по устройству полов, художественные витражи, кованые изделия. Для клиентов,
        самостоятельно создающих интерьер своей квартиры или дома мы поможем произвести
        необходимые расчеты, выполним эскизы и чертежи изделий.
    </div>
}
