@model Rakurs.Models.SiteViewModel
@if (Request.IsAuthenticated)
{
    <div class="adminLinkContainer">
        @if (Model.Content.MainPage)
        {
            @Html.ActionLink("Редактировать главную страницу", "Edit", "Content", new { Area = "Admin", id = Model.Content.Id }, new { @class = "adminLink" })
        }
    </div>
}
@section Text
{
    @if (Model.Content != null && (!string.IsNullOrEmpty(Model.Content.Title) || !string.IsNullOrEmpty(Model.Content.Text)))
    {
        <div id="bottomText" class="contentText">
            @if (!string.IsNullOrEmpty(Model.Content.Title))
            {
                <div class="title">
                    @Model.Content.Title</div>
                <div class="separator">
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Content.Text))
            {
                @Html.Raw(Model.Content.Text)
            }
        </div>
    }
}
@section GalleryFrame
{
    @if (Model.Content != null && Model.Content.MainPage)
    {
        @Html.Partial("GalleryFrame")
    }
}
