@model IEnumerable<Shop.Models.Category>
<ul>
    @foreach (var item in Model.OrderBy(c=>c.Title))
    {
        string className = item.Selected?"selected":"";
        
        <li class="@className">
            @Html.ActionLink(item.Title, "Categories", "Shop", new { id = item.Name }, new { @class = className })
        </li>

        if (item.Selected||item.IsParent)
        {
            var cnt = 0;
            foreach (var child in item.Children.OrderBy(c => c.Title))
            {
                cnt++;
                className = child.Selected || item.Selected ? "selected" : "";
                if (cnt == item.Children.Count)
                {
                    className += " last";
                }
                <li class="child @className">
                    @Html.ActionLink(child.Title, "Categories", "Shop", new {id = child.Name}, null)
                </li>
            }
        }
    }
</ul>
