@using Shop.Helpers
@model IEnumerable<Shop.Models.Category>
@if (Model.Count() > 0)
{
    <div class="childCategoriesContainer">
    <div class="title"><h3>Категории</h3></div>
        @foreach (var category in Model.OrderBy(c=>c.Title))
        {
            <div class="childCategory">
                @Html.Raw(Html.ActionLink("[Image]", "Categories", "Shop", new { Area = "", id = category.Name }, null).ToString().Replace("[Image]", Html.CachedImage("~/Content/Images/", category.ImageSource, "thumbnail0", ScaleMode.Insert)))
                <div class="title">
                    @Html.ActionLink(category.Title, "Categories", "Shop", new { Area = "", id = category.Name }, null)
                </div>
            </div>
        }
    
    <div class="clear"></div>
    <div style="height: 20px;"></div>
    @*<div class="title"><h3>Продукты</h3></div>    *@
    </div>
    
}
