@model IEnumerable<Shop.Models.Tag>

<ul>
    @foreach (var item in Model)
    {
        string className = item.Selected ? "selected" : "";
        <li>
            @Html.ActionLink(item.Title, "Tags", "Shop", new { id = item.Name }, new { @class = className })
        </li>
    }

</ul>
