@model IEnumerable<Shop.Models.MenuItem>
<nav>
<ul>

@{
    int cnt = 0;
    
    foreach (var item in Model.OrderBy(m => m.SortOrder))
    {
        

        string className = "color"+ cnt%5;
        
        <li>
            @if (item.Selected)
            {

                <div class="selected">@item.Title</div>

            }
            else
            {
                @Html.ActionLink(item.Title, "Index", "Home", new {Area = "", id = item.Name}, new{@class = className})
            }
        </li>
        cnt++;
    }
}
</ul>
</nav>
