/*#scrollbar1 { width: 300px; clear: both; margin: 0px 0 10px; }
#scrollbar1 .viewport { width: 280px; height: 250px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #003D5D; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px;background: url('img/countrybox-track-bg.gif') repeat-y;background-position: 1px 0; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0;background: url('img/countrybox-track-thumb.gif') no-repeat; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }*/




#scrollbar1 .viewport
{
    width: 100%;
    min-height: 650px;
    overflow: hidden;
    position: relative;
}

#scrollbar1 .overview
{
    list-style: none;
    position: absolute;
}


#scrollbar1 .disable
{
    display: none;
}

#scrollbar1 .scrollbar
{
    float: right;
    position: relative;
}
#scrollbar1 .track
{
    
    height: 9px;
    position: relative;
    background: url('img/scrollbar-track-bg.gif') repeat-x;
    
}
#scrollbar1 .thumb
{
    height: 31px;
    width: 26px !important;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: -10px;
    background-image: url('img/scrollbar-thumb.png');
}

