@{
    ViewBag.Title = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Операции
</h2>
<ul>
    <li>
        @Ajax.ActionLink("Ajax Баланс", null,null, new AjaxOptions
                                              {
                                                  HttpMethod = "GET",
                                                  Url = Url.Content("~/api/OperationsApi"),
                                                  OnFailure = "OperationsControllerInstance.onError",
                                                  OnSuccess = "OperationsControllerInstance.onSuccess"
                                              },new{cardNumber = "aaa"})
    </li>
    
    <li>
        @Html.ActionLink("Balance", "ShowBalance","Operations")
    </li>
    <li>
        @Html.ActionLink("Снять сумму", "Withdraw", "Operations")
    </li>
    <li>
        @Html.ActionLink("Завершить работу", "LogOut", "Auth")
    </li>
</ul>