@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Страница не найдена</title>
    </head>
    <body>
        <div>
            @TempData["errorMessage"]
            <br />
            <a href="/">Вернуться на главную</a>
        </div>
    </body>
</html>




