@model EM2014.Helpers.MenuItem

@if (Model.Current)
{
    <li class="current">@Model.Title</li>
}
else if (Model.Selected)
{
    <li class="selected current">
        &nbsp; @Html.ActionLink(Model.Title, "Index", "Home", new { category = Model.ContentName, product="" },null) &laquo;
    </li>
}
else
{
    <li>
        @Html.ActionLink(Model.Title, "Index", "Home", new { category = Model.ContentName }, null)
    </li>
}
