@model List<EM2014.Helpers.MenuItem>



    <div id="menu">
        <ul>
            @foreach (var item in Model.OrderBy(m => m.SortOrder))
            {
                @Html.Partial("_MenuItem",item)
                
            }
        </ul>
    </div>

