@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "logout" }))
    {
        @Html.AntiForgeryToken();
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
