@model string
<div class="titleContainer">
    <table class="title">
        <tr>
            <td class="a-left">
            </td>
            <td class="a-center">
                <div>
                    @Model
                </div>
            </td>
            <td class="a-right">
            </td>
        </tr>
    </table>
</div>
