@{
    ViewBag.Title = "Home Page";
}

@ViewBag.Message




<span style="width: 100px">
a a a a a a a a a a a a a a a a a a a a a a a a a a 
a a a a a a a a a a a a a a a a a a a a a a a a a a 
a a a a a a a a a a a a a a a a a a a a a a a a 
</span>



@section ContentTitle
{

<h1>Вступление</h1>
<div class="separator"></div>
}