.adminEditContentContainer
{
	
	width:500px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:1;
}

.adminEditContentTable
{
	width:500px;
}

.adminEditContentTable td
{
	padding-left:20px;
	padding-top:10px;
	font-size:13px;
	font-weight:bold;
	/*border:solid 1px #999999;*/
	
}

.adminEditContentTable td input
{
    width: 350px;
}

.adminEditContentTable td span
{
	font-size: 11px;
	font-weight:normal;
	
}

.buttonsContainer
{
    text-align:center;
    margin-top: 10px;
}

.adminLink
{
    font-size: 11px !important;
    color: #ff0000 !important;
    font-family: Tahoma, Verdana !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-transform: none;
}

.adminLink:hover
{
	color: #cc0000 !important;
}

.sortOrderInput
{
    width: 30px;
}

/*
.adminMenuItem
{
    height: 90px !important;
} 
*/
.logOnForm
{
	position:relative;
	margin:0 auto;
	width:220px;
}

.logOnForm table td
{
	line-height:30px;
}

.sortOrder
{
    color: saddlebrown;
}

.field-validation-error
{
    color: red;
}