.mainMenu {
    position: absolute;
    font-family: PTNarrow;
    font-size: 14px;
}

.mainMenu a {
    
}

.mainMenu div 
{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    height: 55px;
    /*border-right: 1px solid #fff;
    border-left: 1px solid #fff;*/
    float: left;
    padding-top: 20px;
    /*border: 1px solid #fff;*/
}

.mainMenu .first 
{
    margin-left: 20px;
    width: 50px;
    margin-right: 20px;
    padding-top: 30px;
    height: 45px;
    
}

.mainMenu .second {
    width: 120px;
    padding-top: 30px;
    height: 45px;
}

.mainMenu .third {
    width: 100px;
    margin-left: 20px;
    padding-top: 30px;
    height: 45px;
}

.mainMenu .fourth {
    width: 100px;
    margin-left: 350px;
    padding-top: 30px;
}

.mainMenu .fifth {
    width: 90px;
    
    margin-left: 15px;
}

.mainMenu .sixth {
    width: 90px;
    margin-left: 15px;
}

.mainMenu .fifth span {
    font-size: 20px;
    font-family: PTNarrowBold;
    color: #f00;
    text-decoration: underline;
}

.mainMenu .selected {
    background-color: #4d3824;
    font-weight: bold;
    text-decoration: underline;
}