*
{
    padding: 0;
    margin: 0;
}

body
{
    background: url('img/bg.gif') repeat;
    font-family: Arial;
}

.clear
{
    clear: both;
}

img
{
    border: none;
}


.page
{
    position: relative;
    margin: 0 auto;
    width: 1075px;
}

.header
{
    width: 1075px;
    height: 76px;
}

.header a
{
    text-transform: uppercase;
    color: #fff;
}

.header .left, .header .right
{
    width: 35px;
    height: 86px;
    position: absolute;
}

.header .left
{
    position: absolute;
    top: 0;
    left: 0;
    background: url('img/header-bg-left.png');
}
.header .right
{
    top: 0;
    left: 1039px;
    background: url('img/header-bg-right.png');
}


.header .center
{
    position: absolute;
    width: 1004px;
    margin-left: 35px;
    height: 86px;
    background: url('img/header-bg.png');
    z-index: 1;
}

#logo
{
    position: absolute;
    width: 250px;
    height: 60px;
    margin-left: 40px;
    margin-top: 10px;
}





.main-content
{
    width: 1003px;
    position: relative;
    margin: 0 auto;
}

.logo-container
{
    width: 332px;
    height: 140px;
    background: url('img/logo.gif');
    position: relative;
    margin: 0 auto;
}


.footer
{
    width: 1113px;
    height: 96px;
    background: url('img/footer-bg.png');
    position: relative;
    margin: 0 auto;
    margin-top: -8px;
    font-size: 10px;
    color: #fff;
}

.footer .copy
{
    position: absolute;
    width: 300px;
    top: 47px;
    left: 57px;
}

.footer .em
{
    position: absolute;
    width: 200px;
    top: 44px;
    left: 925px;
}
.footer .em a
{
    color: #cecece;
}



.about
{
    width: 1003px;
    position: relative;
    margin: 0 auto;
    font-size: 12px;
    font-family: Georgia;
}
.about .top
{
    background: url('img/about-bg-top.png');
    height: 69px;
}

.about .main
{
    width: 1003px;
    background: url('img/about-bg-main.png') repeat-y;
}

.about .about-content
{
    padding: 0 73px 50px 73px;
}

.about .left
{
    position: absolute;
    background: url('img/about-bg-left.gif');
    width: 23px;
    height: 54px;
    margin-left: 3px;
}

.about .container
{
    background-image: url('img/about-bg-right.gif');
    background-position: bottom right;
    background-repeat: no-repeat;
}




.titleContainer
{
    position: absolute;
    width: 100%;
    margin-top: -22px;
}

table.title
{
    margin: 0 auto;
    height: 33px;
    color: #fff;
    border: none;
    border-collapse: collapse;
    font-family: PTNarrowBold;
}

table.title .a-left
{
    width: 63px;
    height: 33px;
    background: url('img/title-bg-left.png');
}

table.title .a-center
{
    font-size: 19px;
    text-transform: uppercase;
    background: url('img/title-bg-center.png') repeat-x;
    height: 33px;
}

table.title .a-right
{
    height: 33px;
    width: 125px;
    background: url('img/title-bg-right.png');
}

table.title .a-center div
{
    margin-right: -55px;
    margin-top: -4px;
}





.frameContainer
{
    width: 488px;
    height: 398px;
    float: left;
    margin-bottom: 50px;
}

.frameContainer .image-container
{
    position: absolute;
    margin-top: 16px;
    margin-left: 19px;
    width: 451px; /*height: 300px;     height: 400px;*/
}




.image-container .sign
{
    z-index: 1001;
    position: relative;
    color: #3a220b;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 5px;
}


.product .sign {
    color: #3a220b;
    font-size: 12px;
    padding: 5px 30px;
}


.signTitle
{
    font-family: PTNarrowBold;
}

.signDescription
{
    font-family: PTNarrow;
}

.frameContainer .frame
{
    position: absolute;
    width: 488px;
    height: 398px;
    background: url('img/frame.png');
}

.frameContainer .frame .showAll
{
    position: absolute;
    margin-left: 388px;
    font-family: PTNarrow;
    font-size: 12px;
    color: #0072bc;
}
.frameContainer .frame .showAll a
{
    color: inherit;
}

.frames
{
    padding-bottom: 70px;
}

.frames .separator
{
    float: left;
    height: 398px;
    width: 27px;
}


.logOnPanel
{
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
    width: 300px;
    background-color: #fff;
    border: 5px solid #ccc;
}


.field-validation-error
{
    color: red !important;
}


.mainFrame
{
    margin-bottom: 50px;
}

.mainFrame .middle
{
    padding: 30px 70px;
}

.mainFrame .top, .mainFrame .bottom
{
    width: 1003px;
    position: relative;
    margin: 0 auto;
}

.mainFrame .top
{
    height: 153px;
    background: url('img/gallery-frame-top.png');
}

.mainFrame .bottom
{
    height: 117px;
    background: url('img/gallery-frame-bottom.png');
}

.mainFrame .middle
{
    background: url('img/gallery-frame.gif') repeat-y;
    width: 863px;
}

.mainFrame .middle .text
{
    font-family: Georgia;
    font-size: 12px;
}

.mainFrame .content .description
{
    /*padding: 60px 70px 0;*/
}

.product
{
    width: 380px;
    float: left;
    margin: 23px;
}

.cont
{
    /*     width: 256px;     height: 166px; */
    width: 380px;
    height: 245px;
}

.product .image
{
    /*width: 256px;     height: 166px;*/
    width: 380px;
    height: 245px;
    position: absolute;
}

.product .frame
{
    position: absolute; /*width: 256px;     height: 166px;*/
    width: 380px;
    height: 245px;
    background: url('img/gallry-image-frame.png');
}

.products
{
    width: 906px;
    margin-left: -22px;
}




/*


.categories
{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Georgia;
}

.categories ul
{
    padding: 25px 25px;
}

.categories ul li
{
    list-style: none;
    display: inline;
    padding: 17px;
}

.categories a
{
    font-weight: normal;
    color: #0072bc;
}

.containerLeft
{
    display: inline-block;
}

.containerLeft, .containerRight
{
    height: 77px;
}

.containerLeft
{
    background: url('img/categories-left.gif') no-repeat;
}

.containerRight
{
    background: url('img/categories-right.gif') no-repeat right;
}

.containerCenter
{
    border-top: 2px solid #adacac;
    border-bottom: 2px solid #adacac;
    margin: 0 20px;
    height: 73px;
    background-color: #f5f5f5;
}

*/


.top-pattern, .bottom-pattern
{
    width: 522px;
    height: 36px;
    position: relative;
}

.top-pattern
{
    margin: 30px auto 50px auto;
    background: url(img/top-pattern.gif);
}

.bottom-pattern
{
    background: url(img/bottom-pattern.gif);
    margin: 0 auto;
}

.mainFrame .content
{
    font-family: Georgia;
    font-size: 12px;
    line-height: 20px;
    margin-top: -130px;
    margin-bottom: -80px;
    position: relative;
    z-index: 100;
}

ul.flash-menu
{
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}

ul.flash-menu li
{
    display: inline;
    padding: 20px;
    font-family: PTNarrow;
    font-size: 20px;
}


iframe
{
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
}

