.site-content-container {
    width: 780px;
    position: relative;
    margin: 0 auto;
    background-color: #faf9f1;
    min-height: 900px;
}

    .site-content-container .title {
        color: #ed1c24;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        padding: 0 45px;
    }

    .site-content-container .text {
        padding-top: 10px;
        font-size: 13px;
        /*font-style: italic;*/
        padding: 10px 45px;
    }
