@model Posh.Models.ArticlesModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Includes
{
    <link href="@Url.Content("~/Content/Articles.css")" rel="stylesheet" type="text/css" />
}
@section Title
{
    <div class="title">
        @Model.Content.Title
    </div>
}

<div id="articlesContainer">
    
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Добавить статью", "Create", "Article", new {Area = "Admin"}, new {@class = "adminLink"})
        <br/>
        <br/>
    }

    @foreach (var newsItem in Model.Articles.OrderBy(a=>a.SortOrder))
    {
        @Html.Partial("_Article",newsItem)
    }
</div>