.selector
{
    text-align: left;
    font-weight: bold;
    color: #888;
    /*height: 22px;*/
    white-space: nowrap;
}

.selector a
{
    padding: 2px;
    text-decoration: none;
    color: #444444;
    display: inline-block;
}

.selector a:hover
{
    background-color: Silver;
    text-decoration: none;
    color: #444444;
}

.selector a.selected
{
    background-color: silver;
}








