*
{
    margin: 0;
    padding: 0;
}

.clear
{
    clear:both;
}

body
{
    font-family: Tahoma, Verdana;
    font-size: 12px;
    /*padding: 10px;*/
}

h2
{
    color: #8a8070;
}

a
{
    color: #8a8070;
}
a:hover
{
    color: #ff0000;
}

.headLine
{
    background-color: #968E80;
    /*z-index: -1;*/
    margin-top: -11px;
    padding-top: 10px;
    
    margin-left: -11px;
    margin-right: -11px;
    
}

.globalContainer
{
    border: 1px solid #8a8070;
    /*position: relative;*/
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    /*min-height: 100px;*/
    display:table;
    
    
    
}


.header
{
    /*height: 19px;*/ /*background-color:#968E80;*/
    background-color: #A79F90; /*background-color:#A79F90;*/
    margin-left: 11px;
    margin-right: 11px;
    
    
}

.contentContainer
{
    padding: 10px;
}

.container
{
    text-align:center;
}

.UIMessageBox
{
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 600px;
    text-align: center;
    position: relative;
    margin: 5px auto;
}

.UIMessageBox .title
{
    font-weight: bold;
}

.UIMessageBox .text
{
}

.UIMessageBox .content
{
    font-size: 14px;
}

.UIMessageBox .content a
{
    font-size: 11px;
}

.UIMessageBox .officeName
{
    font-size: 11px;
    font-style: italic;
    color: #888;
}
.UIMessageBox .userName
{
    font-size: 11px;
}


.error
{
    background-color: #FFEBE8;
    border-color: #DD3C10;
}

.warning
{
    background-color: Yellow;
    border-color: #DD3C10;
}

.error a
{
    color: #DD3C10;
}

.info
{
    background-color: #FFF9D7;
    border: 1px solid #E2C822;
}

.grayBox
{
    background-color: #F2F2F2;
    border: 1px solid #CCCCCC;
}

#customMessage
{
    border: 1px solid #ffffff;
}

#customMessageTrans
{
    border: 1px solid #ffffff;
}


.separator
{
    height: 7px;
    clear: both;
}

.UIButton
{
    border: 1px solid #968E80;
    display: inline-block;
    height: 19px;
}

.UIButton a
{
    text-decoration: none;
    font-weight: bold;
    background-color: #A79F90;
    display: inline-block;
    height: 15px;
    padding: 2px 10px;
    color: #ffffff;
}

input[type="submit"].UIButton
{
    text-decoration: none;
    font-weight: bold;
    background-color: #A79F90;
    height: 21px;
    padding: 0 10px;
    color: #ffffff;
    cursor: pointer;
}

input[type="button"].UIButton
{
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    height: 21px;
    padding: 0 10px;
    color: #968E80;
    cursor: pointer;
}

input[type="button"].UIButton:hover
{
    background-color: #eee;
}

.UIButton a:hover
{
    background-color: #bcb5a8;
}

input[type="submit"].UIButton:hover
{
    background-color: #bcb5a8;
}

.UIConfirmButton
{
}

.buttonsContainer
{
    text-align: center;
    margin-top: 10px;
}










.officeLevel0
{
    background-color: #fff;
}
.officeLevel1
{
    background-color: #dad2c2;
}
.officeLevel2
{
    background-color: #fff;
}

.left
{
    text-align:left;
}


.searchClientsTable
{
    width:500px;
}


/*
.searchClientsTable
{
    width:500px;
}

.searchClientsTable input[type="text"]
{
    
}
*/

.line
{
    border-top:1px solid #8a8070;
    margin-bottom:5px;
}

#dateFrom, #dateTo, #date
{
    width:66px;
}

#podrid
{
    width:50px;
}

.separator td
{
    border:none;
    height:20px;
}

span.warning
{
    color: #ff0000;
    font-weight: bold;
    background: none;
}