@model IEnumerable<Penetron.Models.Article>
<div class="articles">
    <div id="scrollbar1">
        <div class="scrollbar">
            <div class="track">
                <div class="thumb">
                    <div class="end">
                    </div>
                </div>
            </div>
        </div>
        <div class="viewport">
            <div class="overview">
                @if (Request.IsAuthenticated)
                {
                    <div class="adminLinkContainer">
                        @Html.ActionLink("Добавить новость", "Create", "Article", new { area = "Admin" }, new { @class = "adminLink" })
                    </div>
                }
                @foreach (var item in Model.Where(a => a.Published || Request.IsAuthenticated).OrderByDescending(a => a.Date))
                {
                    @Html.Partial("Article", item)
                }
            </div>
        </div>
    </div>
</div>
