@using Penetron
@using SiteExtensions.Graphics
@model IEnumerable<Penetron.Models.TechnologyImage>
<div class="carusel">
    <div class="image">
        <ul id="bx1">
            @foreach (var item in Model)
            {
                <li>
                    @if (Request.IsAuthenticated)
                    {
                        <div style="position: absolute; padding-left: 40px; z-index: 99999">
                            @Html.ActionLink("Удалить", "DeleteImage", "Technology", new { area = "Admin", id = item.Id, categoryId = ViewBag.CategoryId, subCategoryId = ViewBag.SubCategoryId }, new { @class = "adminLink", onclick = "return confirm('Удалить изображение?')" })
                        </div>
                    }
                    
                    @Html.Raw(Html.CachedImage("~/Content/Images", item.ImageSource, SiteSettings.GetThumbnail("carusel")))
                </li>
            }
        </ul>
    </div>
    <div class="frame">
    </div>
</div>
