@font-face
{
    font-family: "MyriadPro";
    src: url('fonts/myriad-web-italic.ttf');
}

@font-face
{
    font-family: "PFHandbookPro";
    src: url('fonts/PFHandbookPro-Regular.ttf');
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f6f6f6;
    color: #706d6e;
    font-family: Myriad Pro, Arial;
}

img
{
    border: none;
}

.clear
{
    clear: both;
}
.page, .header
{
    width: 900px;
    position: relative;
    margin: 0 auto;
}



.page
{
    padding-top: 35px;
    padding-left: 150px;
    padding-right: 150px;
}



.header
{
    height: 94px;
}


.header-bottom-line
{
    height: 1px;
    background: url('img/header-bottom-line.gif') repeat-x;
}

#logo
{
    width: 285px;
    height: 29px;
    background: url('img/logo.gif') no-repeat;
    position: absolute;
    margin-top: 30px;
}

.feedback-container
{
    float: right;
    margin-top: 37px;
    width: 120px;
    height: 30px;
    background: url('img/feedback-cloud.gif') no-repeat;
}

.feedback-container .link
{
    padding-left: 20px;
    padding-top: 5px;
}

.feedback-container .link a
{
    color: #706d6e;
    font-size: 12px;
}


.content
{
    width: 712px;
    margin-left: 130px;
}

.content .description
{
    width: 666px;
    position: relative;
    margin: 0 auto;
}

.description .title
{
    height: 20px;
    background-color: #706d6e;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: PFHandbookPro;
}

.description .title a
{
    color: inherit;
    text-transform: uppercase;
    font-family: PFHandbookPro;
}

.description .text
{
    position: relative;
    margin: 0 auto;
    padding: 40px;
    width: 566px;
    background-color: #fff;
    font-size: 12px;
}

.description .bottom
{
    height: 2px;
    background-color: #706d6e;
}


.footer
{
    margin: 50px auto 0 auto;
    background: url('img/bottom-line.gif') no-repeat;
    height: 40px;
    width: 666px;
    position: relative;
    background-position: 0 18px;
}

.footer .logo
{
    width: 39px;
    height: 40px;
    background: url('img/bottom-logo.gif') no-repeat;
    margin: 0 auto;
    position: relative;
}

.footer table {
    margin: 0 auto;
    position: relative;
    border-collapse: collapse;
}

.footer table td.left {
    width: 13px;
    height: 29px;
    background: url('img/pager-left.gif') no-repeat;
}

.footer table td.right {
    width: 13px;
    height: 29px;
    background: url('img/pager-right.gif') no-repeat;
}

.footer table td.center 
{
    height: 29px;
    background: url('img/pager-center.gif') repeat-x;
}

.pagerContainer {
    padding-top: 5px;
}

#pager {
    color: #eee;
    padding-left: 8px;
    font-size: 12px;
}

#pager a {
    color: #fff;
}

.footerBottom {
    padding-bottom: 40px;
}

.em
{
    width: 133px;
    height: 34px;
    position: relative;
    margin: 40px auto 0;
    background: url('img/em.gif') no-repeat;
}

.secret-link
{
    position: absolute;
    width: 100px;
    margin-left: 580px;
    margin-top: 3px;
}

.secret-link a
{
    font-size: 10px;
    color: #706d6e;
}



/*** mainmenu ***/

.mainMenu
{
    width: 120px;
    font-size: 14px;
    float: left;
    font-family: PFHandbookPro;
}

.mainMenu ul li
{
    list-style: none;
    margin-bottom: 15px;
}

.mainMenu ul li
{
    text-transform: uppercase; /*font-weight: bold;*/
}

.mainMenu ul li a
{
    color: #706d6e;
    font-weight: normal;
}

.mainMenu ul li
{
    color: #bcbcbc;
}

.mainMenu ul li a.selected
{
    color: #bcbcbc;
}

/******/


.products, .productItems
{
    padding-top: 50px;
}

.product
{
    width: 165px;
    float: left;
    height: 240px;
    margin: 0 36px;
}

.product .preview
{
    width: 165px;
    height: 165px;
}

.product .title
{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

.product .title a
{
    color: inherit;
}


.productItem
{
    padding-bottom: 40px;
}

.productItem .description
{
    font-style: italic;
    font-size: 11px;
    text-align: center;
    padding: 5px;
}


.feedBackForm
{
    padding:20px;
	position: relative;
    margin: 40px auto auto;
    width: 480px;
    font-size: 12px;
}

.feedBackForm input[type='text'] {
    width: 300px;
}

.feedBackForm textarea {
    width: 260px;
    height: 100px;
}


  .feedBackForm.success {
      font-size: 16px;
      font-weight: bold;
  }
  
  .errorMessage {
      text-align: center;
      color: #f00;
      border: 2px solid #f00;
      padding: 5px;
  }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.subscribersTable {
    border-collapse: collapse;
}

.subscribersTable td {
    border: 1px dashed #ccc;
    padding: 2px;
}

.learnRussian {
    height: 320px;
    background-image: url('img/learnrussian.gif');
    background-repeat: no-repeat;
    background-position: 115px 150px;
}


.lang {
    font-size: 10px;
    position: absolute;
    top: 30px;
    color: #000;
}

.lang a {
    color: #525252;
}

.langContainer {
    position: relative;
    width: 1000px;
    height: 0px;
    margin: 0 auto;
}

.logOffLinkContainer {
    position: relative;
    width: 1100px;
    height: 0px;
    margin: 0 auto;
}