<div class="mainMenuContainer">
    <div class="mainMenuTop">
        <div class="menuItem"><a href="#">этаж пейзажей</a></div>
        <div class="menuItem"><a href="#">этаж портретов</a></div>
        <div class="menuItem"><a href="#">этаж натюрмортов</a></div>
        <div class="menuItem"><a href="#">этаж учеников</a></div>
    </div>
    <div class="mainMenuBottom">
    </div>
</div>
