@using SiteExtensions
@model Leo.Models.Product
           
<div class="galleryItem">
    <div class="galleryTop">
    </div>
    <div class="imageContainer">
        <table>
            <tr>
                <td rowspan="2">
                    <div class="border-left">
                    </div>
                </td>
                <td>
                    <div class="image">
                    @Html.Raw(Html.CachedImage("~/Content/Images/", Model.ImageSource, "galleryThumbnail", ScaleMode.Corp))
                    </div>
                </td>
                <td rowspan="2">
                    <div class="border-right">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="border-bottom">
                        <div class="border-bottom-left">
                        </div>
                        <div class="border-bottom-right">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="imageSignContainer">
                <table class="title">
                    <tr>
                        <td>
                            <div class="left">
                            </div>
                        </td>
                        <td>
                            @Model.Title
                        </td>
                        <td>
                            <div class="right">
                            </div>
                        </td>
                    </tr>
                </table>
                
                <div class="description">
                @Model.Description
                asdasdas asd asd asd jasd alsdlashdlajsh lajs hdaljshd lasjhd lashd l lasdh lashd lashd lasdhl as jdh alsjdh 
                </div>
        </div>
    </div>
</div>
