@using Kiki.WebSite
@using Kiki.WebSite.Helpers.Graphics
@using Kiki.WebSite.Models
@model Kiki.WebSite.Models.SiteModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TopMenu
{
    @Html.Partial("TopMenu", new SiteMenuModel { Contents = Model.Contents, CurrentMenuItemName = Model.Content.Name })
}

@section Menu
{
    @Html.Partial("Menu", new SiteMenuModel { Contents = Model.Contents, CurrentMenuItemName = Model.Content.Name })
}

@section Banner
{
    @if (Model.Banner != null)
    {
        @Html.Partial("Banner", Model.Banner.ImageSource)
    }
}

@Html.Partial("Title", new SiteTitle { Title = Model.Content.Title, ImageSource = Model.Content.ImageSource })


<div class="services">

    <div class="service-search-container">
        <div class="service-search">
            <input id="search" name="search" type="text" value="" placeholder="Стрижка">
        </div>
        <div class="service-search-result" id="service-search-result">
            <div class="service-search-result-top"></div>
            <div class="service-search-result-middle">
                <ul id="sResult">
                </ul>
            </div>
            <div class="service-search-result-bottom"></div>
        </div>
    </div>

</div>
