@{
    ViewBag.Title += " — Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
     <script type="text/javascript">
        (function (nv, a9) {
            var settings = nv.settings,
                    dataModels = settings.dataModels;
            @Html.Raw(ViewBag.Media);

            //dataModels.media = [
            //    {
            //        // audio
            //        // video
            //        mediaType: 'video',
            //        title: 'майская ночь, или утопленница дэ флюэрская',
            //        text: 'В этом видео мы засняли самые яркие кадры прекрасного спектакля монохромности и повседневной радости в городе уздном N. Будете ли читать дальше или нет короче вот такие дела.',
            //        mediaSrc: 'https://www.youtube.com/embed/DZKNNMombV8'
            //    },
            //    {
            //        // audio
            //        // video
            //        mediaType: 'video',
            //        title: 'майская ночь, или утопленница дэ флюэрская',
            //        text: 'В этом видео мы засняли самые яркие кадры прекрасного спектакля монохромности и повседневной радости в городе уздном N. Будете ли читать дальше или нет короче вот такие дела.',
            //        mediaSrc: 'https://www.youtube.com/embed/DZKNNMombV8'
            //    }
            //];

        }(NV, A9));
    </script>
    <script type="text/javascript">
        (function (nv) {
            nv.settings.controlsDescriptors.site.activeMenuItemId = 3;
        }(NV));
    </script>
}


<div class="page">
    <div id="media">
    </div>
</div>