@{
    ViewBag.Title += " — News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        (function (nv) {
            nv.settings.controlsDescriptors.site.activeMenuItemId = 2;
        }(NV));
    </script>
    
}
<div class="page">
    @*<div class="news-content-wrapper">
        <div class="header">
            <a href="index.html" class="logo"></a>
            <a href="#" class="join-us">
                <div>как попасть<br>в арт-коллектив</div>
            </a>

            <div class="main-menu">
                <ul>
                    <li><a href="/events">расписание проектов</a></li>
                    <li><a href="/news">новости и события</a></li>
                    <li><a href="/media">медиа</a></li>
                    <li><a href="/partnership">спонсорство и партнерство</a></li>
                    <li><a href="/contacts">контактная информация</a></li>
                </ul>
            </div>
        </div>
        <div class="news-blocks">
            <div class="news-block news-block-1x1">
                <div class="title-wrapper bottom">
                    <div class="date">16.11.2015</div>
                    <div class="title">Английские гости поразили харьковские арены!</div>
                </div>
            </div>
            <div class="news-block news-block-1x1">
                <div class="title-wrapper bottom">
                    <div class="date">16.11.2015</div>
                    <div class="title">Английские гости</div>
                </div>
            </div>
            <div class="news-block news-block-1x1">
                <div class="title-wrapper top">
                    <div class="date">16.11.2015</div>
                    <div class="title">Английские гости</div>
                </div>
            </div>
            <div class="news-block news-block-1x1">
                <div class="title-wrapper top">
                    <div class="date">16.11.2015</div>
                    <div class="title">Английские гости поразили харьковские арены!</div>
                </div>
            </div>
            <div class="news-block news-block-1x1">
                <div class="title-wrapper top">
                    <div class="date">16.11.2015</div>
                    <div class="title">Английские гости поразили харьковские арены!</div>
                </div>
            </div>
            <div class="news-block news-block-1x1">
                <div class="title-wrapper bottom">
                    <div class="date">16.11.2015</div>
                    <div class="title">Английские гости поразили харьковские арены!</div>
                </div>
            </div>
            <div class="news-block news-block-1x1">
                <div class="title-wrapper top">
                    <div class="date">16.11.2015</div>
                    <div class="title">Английские гости поразили харьковские арены!</div>
                </div>
            </div>
            <div class="news-block news-block-1x1">
                <div class="title-wrapper bottom">
                    <div class="date">16.11.2015</div>
                    <div class="title">Английские гости поразили харьковские арены!</div>
                </div>
            </div>

            <div class="clear"></div>
        </div>

    </div>

    <div class="footer-separator-line"></div>

    <div id="footer">
    </div>*@
    <div id="news">

    </div>
</div>
