@{
    ViewBag.Title += " — Partnership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        (function (nv, a9) {
            var settings = nv.settings,
                    dataModels = settings.dataModels;
            @Html.Raw(ViewBag.Partnership);
        }(NV, A9));
    </script>
     <script type="text/javascript">
        (function (nv) {
            nv.settings.controlsDescriptors.site.activeMenuItemId = 4;
        }(NV));
    </script>
}
<div class="page">
    <div id="partnership">
    </div>
</div>
