@using Kulumu
@using Kulumu.Helpers
@using SiteExtensions.Graphics
@model Kulumu.Models.CaruselFrame
<div class="frameContainer">
    <div class="image-container">
        @if (Model.Products.Any())
        {
            var product = Model.Products.RandomElement(new Random());
            @Html.Raw(Html.CachedImage("~/Content/Images/", product.ImageSource, SiteSettings.GetThumbnail("galleryImage")))
        }
    </div>
    <div class="frame">
        @Html.Partial("Title", Model.Title)
        <div class="showAll">
            @Html.ActionLink("В коллекции", "Gallery", "Home", new { area = ""/*, id = Model.CategoryId*/ }, null)
            &raquo;
        </div>
    </div>
</div>
