<div class="mainMenu">
    <table>
        <tr>
            <td class="first"><a href="#">о производителях</a></td>
            <td class="second"><a href="#">наши новости</a> </td>
            <td class="separator"></td>
            <td class="third"><a href="#">адрес магазина и филиалов</a></td>
            <td class="fourth"><a href="#"><span>3D-тур</span><br/> по магазину</a></td>

        </tr>
    </table>
</div>
