#categoryFilter
{
    margin-top: 30px;
}

#categoryFilter .categoryFilterTitle
{
    text-align: center;
    font-size: 12px;
    font-family: PFBeauSansProSemiBold;
}

#categoryFilter table
{
    position: relative;
    margin: 0 auto;
    font-size: 12px;    
}

#categoryFilter table td
{
    padding: 0 10px;
    font-family: PFBeauSansProRegular;
    
}

#categoryFilter table a
{
    font-family: PFBeauSansProLightItalic;

    color: #cc3333;
}

#categoryFilter table td span
{
    background-color: #c01e2e;
    color: #fff;
    padding: 0 10px 2px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

#categoriesSelector
{
    width: 550px;
    background-color: #fff;
    padding: 0 75px;
    
}

#categoriesSelector .line
{
    height: 1px;
    background-color: #c01e2e;
}

#categoriesSelector .line.top
{
    margin-top: 60px;
    margin-bottom: 25px;
}

#categoriesSelector .line.bottom
{
    margin-top: 30px;
    margin-bottom: 60px;
}

.subCategoryItem
{
    
}



.categoryItem
{
    float: left;
    padding: 20px 15px;
}

.categoryItem a
{
    font-family: PFBeauSansProLightItalic;
    font-size: 15px;
    color: #448ccb;
}

#categoriesSelector .title
{
    font-family: PFBeauSansProLight;
    font-size: 18px;
    color:  #c01e2e;
    text-align: center;
    position: absolute;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    height: 26px;
    margin-top: -13px;
    background-color: #fff;
}

#customFancyCloseButton
{
    position: absolute;
    width: 30px;
    height: 31px;
    background-image: url('img/fancy-close.gif');
    top: 10px;
    cursor: pointer;
    left: 660px;
}

.discount {
    position: absolute;
    width: 157px;
    height: 16px;
    background-color: #c01e2e;
    color: #fff;
    font-family: PFBeauSansProRegular;
    font-size: 12px;
    text-align: center;
}

.discountItemsContainer 
{
    margin-top: 50px;

    text-align: center;
    
}

.discountItems {
    border: 2px solid #c01e2e;
    
    border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;

    display: inline-block;
    padding: 0 30px;
}

.discountItemsContainer .discountItems .title {
    position: relative;
    margin: -20px auto 0 auto;
    width: 200px;
    text-align: center;
    font-family: PFBeauSansProSemiBold;
    font-size: 15px;
    /*padding: 10px 20px 5px;*/
    padding-top: 8px;
    height: 28px;
    background-color: #c01e2e;
    color: #fff;
    border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    
}

.discountItemsContainer .discountItems .discount {
    background-color: #13d708 !important;
}


.discountItemsContainer .discountItems .galleryItemContainer {
    margin: 17px !important;
}