*
{
    margin: 0;
    padding: 0;
}

body {
    background: url('img/bg.gif');
}

#page {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header {
    height: 181px;
}

#mainMenu {
    height: 35px;
    background: url('img/main-menu-bg.gif');
}

#mainMenu table {
    position: relative;
    margin: 0 auto;
}