@model Kulumu.Models.Category 
<div class="bigTitleContainer">
    <table class="title">
        <tr>
            <td class="a-left">
            </td>
            <td class="a-center">
                <div>
                    @HttpUtility.HtmlDecode("&laquo;") @Html.ActionLink(Model.Title, "Gallery", "Home", new { id = Model.Name }, null)
                </div>
            </td>
            <td class="a-right">
            </td>
        </tr>
    </table>
</div>
