@using Kulumu
@using SiteExtensions.Graphics
@model IEnumerable<Kulumu.Models.Banner>
<ul id="banner">
    @foreach (var item in Model)
    {
        <li>
            @if (!string.IsNullOrEmpty(item.Price))
            {
                <div class="price">
                    @item.Price
                </div>
            }
            <a href="#">
                @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("banner")))
            </a>
            <div class="description">
                @item.Description
            </div>
        </li>
    }
</ul>
<script type="text/javascript">
    $('#banner').bxSlider();
</script>
