@model Leo.Models.CatalogueViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section GalleryContent
{

@if(Model.Category.Products.Any())
{
<div class="galleryContainer">

<div class="boardContainer">
                <div class="board">
                </div>
                


                 <div class="catalogue-title">
        @Model.Category.Title
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="adminLinkContainer">
            @Html.ActionLink("Добавить изображение", "Create", "Product", new { area = "Admin", id = Model.Category.Id }, new { @class = "adminLink" })
        </div>
    }



            </div>



    <div class="galleryContent">
        <table>
            <tr>
                @foreach (var item in Model.Category.Products)
                {
                    <td>@Html.Partial("_Product", item)
                    </td>
                }
                <td>
                    <div class="logoContainer"></div>
                </td>
            </tr>
        </table>
    </div>

             </div>
}
}
@section MainMenu
{
    @Html.Partial("_MainMenu", Model.Menu)
}
