@model IEnumerable<Shop.Models.Category>
<ul>
    @foreach (var item in Model.OrderBy(c=>c.Title))
    {
        string className = item.Selected?"selected":"";
        
        <li>
            @Html.ActionLink(item.Title, "Categories", "Shop", new { id = item.Name }, new { @class = className })
        </li>

        if (item.Selected||item.IsParent)
        {
            foreach (var child in item.Children.OrderBy(c => c.Title))
            {
                className = child.Selected ? "selected" : "";
                <li class="child @className">
                    @Html.ActionLink(child.Title, "Categories", "Shop", new {id = child.Name}, new {@class = className})
                </li>
            }
        }
    }
</ul>
