@model IEnumerable<Shop.Models.Category>
<ul>
    @foreach (var item in Model)
    {
        string className = item.Selected?"selected":"";
        
        <li>
            @Html.ActionLink(item.Name, "Categories", "Shop", new { id = item.Id }, new { @class = className })
        </li>
    }
</ul>
