@model IEnumerable<Shop.Models.MenuItem>
<nav>
<ul>
@foreach (var item in Model)
{
    <li>
        @Html.ActionLink(item.Title, "Index", "Home", new { Area = "", id = item.Name }, null)
    </li>
}
</ul>
</nav>
