<div id="shoppingCart">
    @Html.ActionLink("Корзина", "Index", "Cart", new { Area = "" }, new { @class = "showCart" })
    <div id="shoppingCartInfo">
        В корзине 0 товаров
    </div>
</div>
