@using EM2013.Models
@using SiteExtensions
@model CatalogueViewModel
@section MainMenu
{
    @Html.Partial("_MainMenu", Model.Menu)
}
@Html.Partial("_ContentDescription", new ContentDescription { CategoryTitle = Html.ActionLink(Model.Category.Title, "Index", "Home", new { area = "", category = Model.Category.Name, product = "" }, null).ToString(), Title = Model.Product.Title, Text = Model.Product.Description })
<div class="productItems">
    @foreach (var item in Model.Product.ProductItems.OrderBy(pi=>pi.SortOrder))
    {
        @Html.Partial("_ProductItem", item)
    }
</div>
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("добавить объект", "Create", "ProductItem", new { area = "Admin", id = Model.Product.Id }, new { @class = "adminLink" })
}
@section Footer
{
    <div class="footer">
        <div class="logo">
        </div>
    </div>
}
