@using EM2013.Models
@using SiteExtensions
@model CatalogueViewModel
@section MainMenu
{
    @Html.Partial("_MainMenu", Model.Menu)
}

@Html.Partial("_ContentDescription", new ContentDescription { Title = Model.Title, Text = Model.Description })

<div class="productItems">
    @foreach (var item in Model.Product.ProductItems)
    {
        @Html.Partial("_ProductItem", item)
    }
</div>

@section Footer
{
    <div class="footer">
        <div class="logo">
        </div>
    </div>
}