@{
    ViewBag.Title = "Operations";
}
<h2>
    Операции</h2>
<ul>
    <li>
        @Html.ActionLink("Баланс", "Balance", "Card")
    </li>
    <li>
        @Html.ActionLink("Снять сумму", "GetCash", "Card")
    </li>
    <li>
        @Html.ActionLink("Выход", "LogOut", "Auth")
    </li>
</ul>
