@{
    int pageSize = 10;
    int totalCount = (int)ViewBag.TotalCount;
    int pageCount = totalCount / pageSize;
    int page = (int)ViewBag.Page;
    pageCount += ((totalCount % pageSize) > 0) ? 1 : 0;
    
}
@if (totalCount>0)
{
<div id="pager">
    @for (int i = 0; i < pageCount; i++)
    {
        
        if (i == page)
        {
        <div class="current">
        @Html.Raw((i + 1).ToString())
        </div>
    }
        else
        {
            <div>
        @Html.ActionLink((i + 1).ToString(), (string)ViewBag.ActionName, "Shop", new { id = ViewBag.ActionId, page = i, order = Request.QueryString["order"], direction = Request.QueryString["direction"] }, null)
        </div>
            }
            
        @*if (i + 1 < pageCount)
        {
        @Html.Raw(" ... ")
        }*@
    }

    @if (page > -1)
    {
        <br/>
        @Html.ActionLink("весь список", (string)ViewBag.ActionName, "Shop", new { id = ViewBag.ActionId, page = -1 , order = Request.QueryString["order"], direction = Request.QueryString["direction"]}, null)
    }
    else
    {
        <br/>
        <text>весь список</text>
    }
    
</div>
    }