@model IEnumerable<Leo.Models.ProductAttribute>
<script type="text/javascript">
    $(function () {
        $(".closeButton").click(function () {
            parent.$.fancybox.close();
        });

        $("#sbmButton").click(function () {
            $("#form1").submit();
        });
    });
</script>
<div class="searchCriteriaSelector">
    <div class="closeButton"></div>
    <div class="search-catalogue-title">@ViewBag.CategoryTitle</div>
    <div class="showOnly">показывать только:</div>
    <div class="attributesContainer">
    @using (Html.BeginForm("Index", "Catalogue", new { id = ViewBag.CategoryName }, FormMethod.Post, new { id = "form1" }))
    {
        foreach (var attribute in Model)
        {
            @Html.Partial("_ProductAttribute", attribute)
        }
        <div class="clear"></div>
        @*<div class="attribute showAll">
            @Html.CheckBox("showall") @Html.Raw("Показывать всё")
        </div>*@
    }
    </div>
    <div class="clear"></div>
    <div class="sendBtnContainer">
        <a href="#" id="sbmButton">Готово!</a>
    </div>
</div>
