*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f0f0e4;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Trebuchet MS, Tahoma, Verdana;
}

.clear
{
    clear: both;
}

#header
{
    background-image: url('img/main-bg.gif');
    background-repeat: no-repeat;
    min-width: 1200px;
    width: auto;
    background-position: 50% 0px;
    height: 710px;
    padding-top: 1px;
    font-family: Trebuchet MS, Tahoma, Verdana;
}

#innerHeader
{
    width: 1000px;
    height: 265px;
    position: relative;
    margin: 25px auto 0 auto; /*border: 1px solid black;*/
}

#mainBanner
{
    width: 642px;
    height: 297px; /*border: 1px solid black;*/
    position: absolute;
    margin-left: 185px;
}

#mainBanner #ramka
{
    margin-left: 0px;
    width: 640px;
    height: 297px;
    position: absolute;
    background-image: url('img/png-ramka.png');
    z-index: 1001;
}

#caption
{
    z-index: 1002;
    height: 20px;
    width: 500px; /* background-color: black;*/
    margin-top: 270px;
    margin-left: 65px;
    font-size: 14px;
    color: #996633;
}

#leftCaption
{
    float: left;
}

#rightCaption
{
    float: right;
    text-align: right;
    font-weight: bold;
}
#mainBanner img
{
    margin-left: 3px;
    margin-top: 3px;
    position: absolute;
    top: 0;
    left: 0;
}


#slideshow
{
    position: absolute;
    top: 0;
    left: 0;
    width: 642px;
    height: 297px;
}



/*
#slideshow img {
    width: 635px;
    height: 250px;
    top: 0;
    left: 0;
}*/




#page
{
    width: 1200px;
    position: relative;
    margin: -220px auto 0 auto;
    font-size: 13px;
}



#footer
{
    background-image: url('img/footer-bg.gif');
    background-repeat: repeat-x;
    height: 280px;
}

#innerFooter
{
    background-image: url('img/footer-bg-center.gif');
    background-repeat: no-repeat;
    height: 280px;
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

#footer #innerFooter
{
    padding-top: 1px;
}

#footer #innerFooter #sign
{
    text-align: center;
    margin-top: 221px;
}

#footer #innerFooter #sign, #footer #innerFooter #sign a
{
    color: #f0f0e4;
    font-size: 12px;
}

#contentTitle
{
    color: #000;
    font-weight: bold;
    /*font-style: italic;*/
    font-size: 25px;
    text-align: center; /*padding-top: 35px;*/
    font-family:Georgia;
    margin-bottom:30px;
}

#contentContainer
{
    /*border: 1px solid green;*/ /*margin-top: -70px;*/
}

#centerContent
{
    width: 640px;
}

#leftContent, #rightContent, #centerContent
{
    vertical-align: top;
}

#leftContent
{
    width: 280px;
}

#rightContent
{
    width: 280px;
    text-align: right;
}

#pattern
{
    width: 69px;
    height: 13px;
    position: relative;
    margin: 25px auto;
    background-image: url('img/pattern.png');
    background-repeat: no-repeat;
}


.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}




.adminEditContentContainer
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.adminEditContentTable
{
    width: 600px;
}

.adminEditContentTable td
{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold; /*border:solid 1px #999999;*/
}

.adminEditContentTable td input
{
    width: 350px;
}

.adminEditContentTable td span
{
    font-size: 11px;
    font-weight: normal;
}

.buttonsContainer
{
    text-align: center;
    margin-top: 10px;
}

.adminLink
{
    font-size: 10px !important;
    color: #ff0000 !important;
    font-family: Tahoma, Verdana !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.adminLink:hover
{
    color: #cc0000 !important;
}

.sortOrderInput
{
    width: 30px;
}

.sortOrder
{
    color: #dd00dd;
}

.photoTotleInput
{
    width: 300px;
}

#logOffLinkContainer
{
    position: absolute;
    margin-left: 400px;
    margin-top: -25px;
}

.logOnForm
{
    position: relative;
    margin: 0 auto;
    width: 220px;
}

.logOnForm table td
{
    line-height: 30px;
}

.adminTable td
{
    padding: 3px;
}

.adminLinkContainer
{
    line-height: 10px;
    padding-bottom: 7px;
}


.smallBanner
{
    width: 166px;
    height: 260px;
    padding: 0 37px 60px 37px;
    background-image: url('img/banner_small_bg.gif');
    margin-top: 40px;
}

.smallBanner .header
{
    padding-top: 15px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.smallBanner .header.banner2
{
    padding-top: 0px !important;
    padding-bottom: 15px !important;
}

.smallBanner .header .hotTour a
{
    color: #ff3333;
}

.smallBanner .header .topicTour a
{
    color: #0066cc;
}


.smallBanner .topTitle
{
    height: 40px;
    text-align: center;
    padding-left: 5px;
    font-weight: bold;
    color: #0066cc;
    width: 150px;
}

.smallBanner .topTitle a
{
    color: inherit;
}

.smallBanner .bottomTitle
{
    text-align: left;
    padding: 10px 15px;
    color: #666666;
    width: 130px;
}

.smallBanner .topTitle, .smallBanner .bottomTitle
{
    font-size: 12px;
}

.smallBanner .picture
{
    width: 163px;
    height: 108px;
}

.smallBanner .price
{
    width: 63px;
    height: 19px;
    position: absolute;
    margin-top: 83px;
    margin-left: 96px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;
}

.smallBanner .price2
{
    background-image: url('img/price-bg-yellow.png');
    color: #cc0000;
}

.smallBanner .price3
{
    background-image: url('img/price-bg-red.png');
    color: #fff;
}


#chat, #booking
{
    text-align: left;
    padding-left: 40px;
}

#chat a, #booking a
{
    color: #000;
    font-size: 14px;
}

#chat .time
{
    font-size: 10px;
    color: #999999;
    line-height: 10px;
    padding-top: 5px;
}


#chat
{
    background-image: url('img/chat-icon.png');
    background-repeat: no-repeat;
}

#booking
{
    background-image: url('img/booking-icon.png');
    background-repeat: no-repeat;
    height: 28px;
    margin-top: 40px;
}

.rootLink
{
    display: block;
    position: absolute;
    width: 140px;
    height: 155px;
    margin-top: 58px;
    margin-left: 23px;
}


#quicksearch
{
    background: url('img/quicksearch-icon.png') no-repeat;
    margin-left: 20px;
    padding-left: 35px;
    padding-top: 5px;
}

#quicksearch .sign
{
    color: #999999;
    font-size: 10px;
    line-height: 12px;
    margin: 3px 0;
}


#quicksearchinputcontainer
{
    border-collapse: collapse;
}

#quicksearchinputcontainer td.left, #quicksearchinputcontainer td.right
{
    width: 8px;
    height: 17px; /*display: block;*/
    background-repeat: no-repeat;
}

#quicksearchinputcontainer td.left
{
    background-image: url('img/quicksearchfield-bg-left.png');
}
#quicksearchinputcontainer td.right
{
    background-image: url('img/quicksearchfield-bg-right.png');
}

#quicksearchinputcontainer td.center
{
    background-image: url('img/quicksearchfield-bg-center.gif');
    background-repeat: repeat-x;
}

#qsearch
{
    /*border-top:1px solid #ff9d0a;     border-left: none;     border-bottom:1px solid #ff9d0a;     border-right: none; */
    border: none;
    height: 14px;
    width: 130px;
}


#placesMap
{
    font-family: Georgia;
    font-size: 16px;
    color: #000;
    letter-spacing:1px;
    /*margin:20px 0;*/
    margin-top:30px;
    margin-bottom:5px;
}

#placesMap table
{
	position:relative;
	margin:0 auto;
}

#placesMap a
{
    font-size: 12px;
    font-style: italic;
    color: #666;
    font-weight: bold;
}

.reviewLink
{
	text-decoration:none;
	border-bottom-width:1px;
	border-bottom-style:dashed;
}


#bellboyContainer
{
	width:275px;
	height:375px;
	position:relative;
	float:right;
	margin-top:-95px;
	z-index:1101;
}


#bellboy
{
	width:275px;
	height:375px;
	background-image: url('img/bellboy.png');
	
}


#bellboyContainer .text
{
	padding-left:110px;
	font-family:Georgia;
	font-style:italic;
	font-size:12px;
	line-height:15px;
}

#bellboyContainer .text a
{
	color:#0078fe;
}

#bellboyContainer .text a.firstSign
{
	color:#0078fe;
	font-weight:bold;
}

#bellboyContainer .text a.secondSign
{
	color:#0078fe;
	font-size:11px;
}