@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    


</script>
<div id="coords"></div>
<div id="info"></div>



<div class="container" id="container1">
    <div class="image" id="image1">
    </div>
</div>