@model Penetron.Models.TechnologyModel

<div class="content-container">

<div class="content">
    
    

    <div class="title-container">
        
    </div>
    
    <div class="text-container">
    @Html.Partial("Menu", Model.TechnologyMenu)    
    </div>
    
</div>
</div>
