body {
    padding: 5px 10px; 
}
.adminTextContainer div {
    max-height: 20px; 
    overflow: hidden;
    max-width: 400px;
}

.admin-container {
    width: 800px;
    margin: 0 auto;
    
}

.subcategory {
    padding-left: 40px !important;
}

.language-switcher {
    padding-top: 5px;
    padding-bottom: 10px;
}

.language-switcher a {
    text-decoration: none !important;
}

.menu {
    margin-bottom: 15px;
}

.btn a:hover {
    text-decoration: none !important;
}

.btn a, .btn a:hover {
    color: #fff;
}

.btn.btn-default a, .btn.btn-default a:hover {
    color: #000;
}

