@model IEnumerable<Rvk.Models.Feedback>

@{
    ViewBag.Title = "FeedBack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="feedbackpanel">
<h2>Feedbacks</h2>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Text
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
        </tr>
    }

</table>
</div>
