@model IEnumerable<HavilaTravel.Models.ActualTours>
@{
    int cnt = 0;
}
<div id="actualTour">
    <div id="actualTourHeaderTop">
    </div>
    <div id="actualTourHeader">
    </div>
    <div id="actualMiddle">
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Добавить", "Create", "ActualTours", new { Area = "Admin" }, new { @class = "adminLink" })
            
            <div class="clear">
            </div>
            <br/>
        }
        @foreach (var item in Model)
        {
            cnt++;
            @Html.Partial("_ActualTour", item)
       if (cnt % 4 == 0)
       {
            <div class="clear">
            </div>
       }
        }
        <div class="clear">
        </div>
    </div>
    <div id="actualTourFooter">
    </div>
    <div id="actualTourFooterBottom">
    </div>
</div>
