<div id="bellboyContainer">
    <div id="bellboy">
        <div class="text">
            &mdash;Изволите<br />
            <a href="#" class="firstSign">Талассотерапию</a>,<br />
            <div style="margin-top: 10px;">
                или<br />
                <a href="#" class="secondSign">что-то другое</a>?
            </div>
        </div>
    </div>
</div>