*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #f0f0e4;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Trebuchet MS, Tahoma, Verdana;
}

#header
{
    background-image: url('img/main-bg.gif');
    background-repeat: no-repeat;
    min-width: 1200px;
    width: auto;
    background-position: 50% 0px;
    height: 710px;
    padding-top: 1px;
}

#page 
{
    width: 1200px;
}

#mainMenu
{
    background-image: url('img/main-menu-bg.gif');
    width: 892px;
    height: 120px;
    background-repeat: no-repeat;
    position: relative;
    margin: 340px auto 0px auto;
    padding-top: 1px;
    font-family: Georgia;
    font-size: 17px;
    color: #6f6f6f;
}

#mainMenu a
{
    color: #6f6f6f;
}

#mainMenu a:hover
{
    color: #999999;
}

#mainMenu table
{
    margin-top: 22px;
    margin-left: 8px;
    width: 881px;
    /*border: 1px solid black;*/
    border-collapse: collapse;
}

#mainMenu table td
{
    padding: 22px 20px 22px 20px;
    vertical-align: text-top;
    color: #000;
}

#mainMenu table a:hover
{
    color: #999999;
    /*background-color: #ccc;*/
}

.firstMenuItem, .lastMenuItem
{
    width: 15px;    
    padding: 0 !important;
}

.firstMenuItem.selected
{
    background-image: url('img/menu-selected-item-bg-left.gif') !important;
    background-repeat: no-repeat !important;
    padding: 0 !important;
}

.lastMenuItem.selected
{
    background-image: url('img/menu-selected-item-bg-right.gif') !important;
    background-repeat: no-repeat !important;
    background-position: right;
    padding: 0 !important;
}

#mainMenu .selected
{
    background-image: url('img/menu-selected-item-bg.gif');
    background-repeat: repeat-x;
}

#subMenu .leftSide, #subMenu .rightSide
{
    height: 42px;
    width: 10px;
}

#subMenu .leftSide
{
    background-image: url('img/submenu-bg-left.png');
}

#subMenu .rightSide
{
    background-image: url('img/submenu-bg-right.png');
}

#footer 
{
    background-image: url('img/footer-bg.gif');
    background-repeat: repeat-x;
    height: 280px;
    
}

#innerFooter
{
    background-image: url('img/footer-bg-center.gif');
    background-repeat: no-repeat;
    height: 280px;
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

#footer #innerFooter
{
    padding-top: 1px;
}

#footer #innerFooter #sign
{
    text-align: center;
    margin-top: 221px;
}

#footer #innerFooter #sign, #footer #innerFooter #sign a
{
    color: #f0f0e4;
    font-size: 12px;
    
}

#contentTitle
{
    color: #000;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
}


/*
body {
    background-color: #5c87b2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}


.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}


ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}



fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}



table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}


.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}


.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
*/