*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f0f0e4;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Trebuchet MS, Tahoma, Verdana;
}

.clear
{
    clear: both;
}

#header
{
    background-image: url('img/main-bg.gif');
    background-repeat: no-repeat;
    min-width: 1200px;
    width: auto;
    background-position: 50% 0px;
    height: 710px;
    padding-top: 1px;
    font-family: Trebuchet MS, Tahoma, Verdana;
}

#innerHeader
{
    width: 1000px;
    height:265px;
    position: relative;
    margin: 25px auto 0 auto;
    /*border: 1px solid black;*/
}

#mainBanner
{
    width: 642px;
    height: 297px;
    /*border: 1px solid black;*/
    position: absolute;
    margin-left: 185px;
}

#mainBanner #ramka
{
    margin-left: 0px;
    width: 640px;
    height: 297px;
    position: absolute;
    background-image: url('img/png-ramka.png');
}

#mainBanner img
{
    margin-left: 3px;
    margin-top: 3px;
    position: absolute;
}

#page 
{
    width: 1200px;
    position: relative;
    margin: -220px auto 0 auto;
    font-size: 13px;
}



#footer 
{
    background-image: url('img/footer-bg.gif');
    background-repeat: repeat-x;
    height: 280px;
    
}

#innerFooter
{
    background-image: url('img/footer-bg-center.gif');
    background-repeat: no-repeat;
    height: 280px;
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

#footer #innerFooter
{
    padding-top: 1px;
}

#footer #innerFooter #sign
{
    text-align: center;
    margin-top: 221px;
}

#footer #innerFooter #sign, #footer #innerFooter #sign a
{
    color: #f0f0e4;
    font-size: 12px;
    
}

#contentTitle
{
    color: #000;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    /*padding-top: 35px;*/
}

#contentContainer
{
    /*border: 1px solid green;*/
    /*margin-top: -70px;*/
}

#centerContent
{
    width: 640px;
}

#leftContent, #rightContent
{
    vertical-align: top;
}

#leftContent
{
    width: 280px;
}

#rightContent
{
    width: 280px; text-align: right
}

#pattern
{
    width: 69px;
    height: 13px;
    position: relative;
    margin: 25px auto;
    background-image: url('img/pattern.png');
    background-repeat: no-repeat;
}


.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}


.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}




.adminEditContentContainer
{
	margin-top:5px;
	/*border:solid 1px #999999;*/
	padding:10px;
	/*margin-bottom:30px;*/
	width:550px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:1;
}

.adminEditContentTable
{
	width:550px;
}

.adminEditContentTable td
{
	padding-left:20px;
	padding-top:10px;
	font-size:13px;
	font-weight:bold;
	/*border:solid 1px #999999;*/
	
}

.adminEditContentTable td input
{
    width: 350px;
}

.adminEditContentTable td span
{
	font-size: 11px;
	font-weight:normal;
	
}

.buttonsContainer
{
    text-align:center;
    margin-top: 10px;
}

.adminLink
{
    font-size: 10px !important;
    color: #ff0000 !important;
    font-family: Tahoma, Verdana !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.sortOrderInput
{
    width: 30px;
}

.photoTotleInput
{
    width: 300px;
}


