@model Posh.Models.NewsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Includes
{
    <link href="@Url.Content("~/Content/News.css")" rel="stylesheet" type="text/css" />
}
@section Title
{
        <div class="title">
            @Model.Content.Title
        </div>
}
<div id="newsContainer">
    
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("добавить новость", "Create", "News", new {Area = "Admin"}, new {@class = "adminLink"})
        <br/>
        <br/>
    }

    @foreach (var newsItem in Model.News.OrderByDescending(n=>n.Date))
    {
        @Html.Partial("_News",newsItem)
    }
</div>
