@model Posh.Models.SiteViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title
{
    <div class="catalogue">
        <div class="title">
            @Model.Content.Title
        </div>
    </div>
}
<div id="newsContainer">
@foreach (var newsItem in Model.News)
{
    @Html.Partial("_News",newsItem)
}
</div>
