@model Posh.Models.SiteViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Includes
{
    <link href="@Url.Content("~/Content/News.css")" rel="stylesheet" type="text/css" />
}
@section Title
{
    <div class="title">
        Подписка на рассылку новостей
    </div>
}


@section Content
{
    <div class="thankYou">
        Спасибо. Вы подписаны на рассылку новостей.
    </div>
}
