<div class="inputImages">
    <input type="file" id="filesAnother" name="filesAnother" multiple />
    <div>
        <output id="listAnother"></output>
    </div>
    <script type="text/javascript">
        function handleFileSelect(evt) {
            var files = evt.target.files;
            for (var i = 0, f; f = files[i]; i++) {
                if (!f.type.match('image.*')) {
                    continue;
                }
                var reader = new FileReader();
                reader.onload = (function (theFile) {
                    return function (e) {
                        var span = document.createElement('span');
                        span.innerHTML = ['<img class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
                        document.getElementById('listAnother').insertBefore(span, null);
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        }
        document.getElementById('filesAnother').addEventListener('change', handleFileSelect, false);
    </script>
</div>
