@using Mayka.Helpers
@model List<Mayka.Helpers.MenuItem>
<div id="menu">
    <ul>
        @foreach (var item in Model.OrderBy(m => m.SortOrder))
        {
            if (item.Current)
            {
            <li>
                @item.Title
            </li>
            }
            else
            {
                switch (item.ContentType)
                {
                    case ContentType.Content:
                    <li>
                        @Html.ActionLink(item.Title, "Index", "Home", new { id = item.ContentName }, null)
                    </li>        
                        break;
                    case ContentType.Gallery:
                    <li>
                        @Html.ActionLink(item.Title, "Gallery", "Home", new { id = item.ContentName }, null)
                    </li>        
                        break;
                    case ContentType.Products:
                        string className = item.Selected ? "selected" : "";
                    <li>
                        @Html.ActionLink(item.Title, "Products", "Home", new { id = item.ContentName }, new { @class = className })
                    </li>        
                        break;
                }
            }
        }
    </ul>
</div>
