.articlesContainer {
    padding-top: 200px;
    position: relative;
    margin: 0 auto;
    width: 785px;
}

.articleContainer {
    padding-bottom: 50px;
    background: url('img/articles-shadow-left.png') repeat-y;
}

.articleContainer.last {
    padding-bottom: 0px !important;
}

.articlesContainer .separator {
    height: 45px;
    background: url('img/articles-bottom-bg-left.png') no-repeat;
}

.articlesContainer .separatorRight {
    height: 45px;
    background: url('img/articles-bottom-bg-right.png') no-repeat;
    background-position: right;
}

.articleContainerRight {
    background: url('img/articles-shadow-right.png') repeat-y;
    background-position: right;
}

.articleItemContaiter {
    background: url('img/article-item-bg.gif');
    
}


.article 
{
    padding: 30px 60px;
    background: url('img/articles-shadow-left.png') repeat-y;
    background-position: 0 -25px;
}

.alricleRight {
    background: url('img/articles-shadow-right.png') repeat-y;
    background-position: right;
}

.article .title {
    float: left;
    width: 200px;
    color: #fff;
    font-family: DinCyLt;
    font-size: 20px;
}

.article .title .date {
    font-family: DinCyBd;
    font-size: 15px;
    color: #999999;
}

.article .text {
    margin-left: 235px;
    color: #99b7cf;
    font-size: 12px;
    font-family: DinCyRg;
}


.articlesContainer .titleContainer .title .titleText {
    text-align: center;
    font-size: 22px;
    font-family: DinCyBd;
    color: #87a1b2;
    padding-bottom: 11px;
    text-transform: uppercase;
}

.articlesContainer .titleContainer .title .line {
    width: 104px;
    height: 2px;
    background-color: #8d98ba;
    position: relative;
    margin: 0 auto;
}

.articlesContainer .titleContainer .title {
    
    background-image: url('img/about-title-shadow-right.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}


.articlesContainer .titleContainer {
    background-image: url('img/about-title-shadow-left.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}