@font-face
{
    font-family: "DinCyRg";
    src: url('fonts/DinCyRg.ttf');
}

@font-face
{
    font-family: "DinCyBk";
    src: url('fonts/DinCyBk.ttf');
}

@font-face
{
    font-family: "DinCyBd";
    src: url('fonts/DinCyBd.ttf');
}

@font-face
{
    font-family: "DinCyLt";
    src: url('fonts/DinCyLt.ttf');
}

@font-face
{
    font-family: "DinCyMd";
    src: url('fonts/DinCyMd.ttf');
}


*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.clear {
    clear: both;
}

.outerPage {
    background: url('img/site-bg.jpg');
    background-position: 50% 0;
    min-width: 1200px;
}

.page {
    background-image: url('img/page-head-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    min-height: 475px;
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

#logo {
    position: absolute;
    width: 220px;
    height: 100px;
    margin-left: 490px;
    margin-top: 30px;
    z-index: 100;
}





.mainMenu 
{
    background-color: #000;
    height: 27px;
    background-image: url('img/main-menu-bg.gif');
    background-position: center;
    background-repeat: no-repeat;
    font-family: DinCyRg;
    font-size: 12px;
    /*color: #6dcff6;*/
    color: #b1b1b1;
    text-align: center;
}

.mainMenu table {
    position: relative;
    margin: 0 auto;
}

.mainMenu table td {
    padding: 0 20px;
    text-transform: uppercase;
    padding-top: 7px;
}

.mainMenu a {
    color: #6dcff6;
}

.mainMenu .categories {
    display: none;
    
}

.mainMenu .categories {
    color: #fff;
    position: absolute;
    width: auto;
    padding: 20px;
    background: rgba( 7, 13, 25, 0.8);
    z-index: 1000;
    text-align: left;
    margin-left: -20px;
}

.mainMenu .categories ul {
    margin-top: 10px;
}
.mainMenu .categories ul li {
    list-style: none;
    font-size: 12px;
    text-transform: none;
    color: #b9cad6;
    font-family: DinCyRg;
    padding: 3px 0px;
}

.mainMenu .categories ul li a {
    color: #b9cad6;
    
}


#categoriesLink, #projectsLink {
    text-decoration: none;
    border-bottom: 1px dotted #6dcff6;
}




.footer {
    background-image: url('img/footer-bg-bottom.jpg');
    background-position: bottom;
    background-repeat: repeat-x;
}

.footer .inner {
    background-image: url('img/footer-bg-center.jpg');
    background-position: 50% 0;
    height: 312px;
    background-repeat: no-repeat;
}

.aboutFrameContainer {
    background-image: url('img/about-top.gif');
    background-repeat: repeat-y;
    background-position: bottom;
}

.aboutFrame {
    background-image: url('img/about-bottom.gif');
    background-repeat: no-repeat;
    background-position: bottom;

    padding: 40px 70px;
    font-family: DinCyRg;
    font-size: 12px;
    color: #99b7cf;
}

.about {
    margin:100px auto -120px auto;
    width: 776px;
    position: relative;
}

.about .footer {
    height: 20px;
    background: none;
}

.about .footer .shadowLeft, .about .footer .shadowRight {
    width: 8px;
    height: 20px;
    position: absolute;
}

.about .footer .shadowLeft {
    background-image: url('img/about-footer-shadow-left.png');
    
}

.about .footer .shadowRight {
    background-image: url('img/about-footer-shadow-right.png');
    margin-left: 767px;
    
}

.about .titleContainer .title .titleText {
    text-align: center;
    font-size: 22px;
    font-family: DinCyBd;
    color: #87a1b2;
    padding-bottom: 11px;
    text-transform: uppercase;
}

.about .titleContainer .title .line {
    width: 104px;
    height: 2px;
    background-color: #8d98ba;
    position: relative;
    margin: 0 auto;
}

.about .titleContainer .title {
    
    background-image: url('img/about-title-shadow-right.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}


.about .titleContainer {
    background-image: url('img/about-title-shadow-left.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.mainPageContainer {
    padding-top: 200px;
    position: relative;
    margin: 0 auto;
    width: 1162px;
}

.contentContainer 
{
    padding: 50px 20px 20px 20px;
    
    color: #fff;
    font-family: DinCyRg;
}

.copyright {
    font-family: DinCyMd;
    font-size: 12px;
    width: 770px;
    position: relative;
    margin: 0 auto;
    padding-top: 270px;
    color: #fff;
}

.copyright a {
    color: #6dcff6;
    
}

.alert {
    color: #f00;
}

.errorContainer 
{
    padding: 250px 20px 20px 20px;
    color: #dadada;
    font-family: DinCyRg;
    text-align: center; 
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    width: 900px;
    position: relative;
    margin: 0 auto;
}

.errorContainer a {
    color: #5fb5d9;
    font-family: DinCyRg;
}

.somethingWrong {
    font-size: 35px;
    font-family: DinCyBk;
    line-height: 55px;
    padding-bottom: 20px;
    padding-top: 100px;
}

.errorContainer .oopsPage {
    text-transform: none;
}




.corner {
    width: 9px;
    height: 9px;
    position: absolute;
    z-index: 1000;
}

.corner.top-left {
    background: url('img/corner-top-left.gif');
    
}
.corner.top-right {
    background: url('img/corner-top-right.gif');
    left: 1155px;
}
.corner.bottom-left {
    background: url('img/corner-bottom-left.gif');
    top: 341px;
}
.corner.bottom-right {
    background: url('img/corner-bottom-right.gif');
    top: 341px;
    left: 1155px;
}
