@font-face
{
    font-family: "DinCyRg";
    src: url('fonts/DinCyRg.ttf');
}


*{
    margin: 0;
    padding: 0;
}

body {

}

.outerPage {
    background: url('img/site-bg.jpg');
    background-position: 50% 0;
    min-width: 1200px;
}

.page {
    background-image: url('img/page-head-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    min-height: 475px;
    width: 1200px;
    position: relative;
    margin: 0 auto;
}


.mainMenu 
{
    background-color: #000;
    height: 27px;
    background-image: url('img/main-menu-bg.gif');
    background-position: center;
    background-repeat: no-repeat;
    font-family: DinCyRg;
    font-size: 12px;
    color: #6dcff6;
    text-align: center;
}

.mainMenu ul {
    padding-top: 7px;
}


.mainMenu ul li {
    display: inline;
    text-transform: uppercase;
    padding: 0 20px;
}

.mainMenu a {
    color: #6dcff6;
}


.footer {
    background-image: url('img/footer-bg-bottom.jpg');
    background-position: bottom;
    background-repeat: repeat-x;
}

.footer .inner {
    background-image: url('img/footer-bg-center.jpg');
    background-position: 50% 0;
    height: 312px;
    background-repeat: no-repeat;
}