@using Shop.Helpers
@using Shop.Models
@model SiteViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Корзина</h2>

<table class="cartTable">
<tr>
    <th>Продукт</th>
    <th>Цена</th>
    <th>Количество</th>
    <th>Стоимость</th>
</tr>
    @foreach (var order in WebSession.OrderItems.Select(orderItem => orderItem.Value))
    {
        <tr>
            <td>@order.Name</td>
            <td>@order.Price</td>
            <td>@order.Quantity</td>
            <td>@((order.Quantity*@order.Price).ToString("N"))</td>
        </tr>
    }
</table>