<div class="about">
            <div class="top">
                @Html.Partial("Title")
            </div>
            <div class="main">
                <div class="left">
                </div>
                <div class="container">
                    <div class="about-content">
                        Шелк является неотъемлемой частью жизни и культуры индийцев. В Индии производится
                        огромное количество изделий из шелка, среди которых платьевые ткани, шарфы и шали,
                        готовые предметы одежды и, конечно, неповторимые сари.<br />
                        <br />
                        Хотя зачастую слово сари отождествляется со словом шелк, в действительности, сари
                        - это традиционный наряд индийских женщин.
                        <br />
                        <br />
                        В литературе Индии можно найти огромное число упоминаний об этом предмете одежды,
                        способ ношения и драпировки которого определяется эпохой, регионом страны, а также
                        самим обладателем сари. Шелковые индийские сари являются прекрасным примером великолепной
                        ручной работы ткачей Индии.
                    </div>
                </div>
            </div>
        </div>