<div class="header">
            <div class="left">
            </div>
            <div class="center">
                @Html.Partial("MainMenu")
                <div class="logo-container">
                    <div id="logo"></div>
                </div>
            </div>
            <div class="right">
            </div>
        </div>