.playerContainer
{
    width: 640px;
    margin: 0 auto;
    position: relative;
    background-image: url('img/player/bg-line.gif');
    background-repeat: no-repeat;
    background-position: 0px 18px;
}
table.player
{
    border-collapse: collapse;
    margin: 0 auto;
    position: relative;
}

table.player div.play, table.player div.stop, table.player div.pause, table.player div.szk
{
    width: 40px;
    height: 40px;
    display: block;
}

.buttonLeft 
{
	width: 40px;
    height: 40px;
    display: block;
	background: url('img/player/button-empty-left.gif') no-repeat;
}

.buttonRight
{
	width: 40px;
    height: 40px;
    display: block;
	background: url('img/player/button-empty-right.gif') no-repeat;
}


table.player .play
{
    background: url('img/player/play.gif') no-repeat;
}

table.player .pause
{
    background: url('img/player/pause.gif') no-repeat;
}

table.player .stop
{
    background: url('img/player/stop.gif') no-repeat;
}

table.player .szk
{
    background: url('img/player/szk.gif') no-repeat;
}

table.player .bg
{
    height: 28px;
    background: url('img/player/bg.gif') repeat-x;
    min-width: 118px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
