*
{
	margin: 0;
	padding: 0;
}

.clear
{
	clear: both;
}

body
{
	background-color: #000;
	font-family: Lucida Sans Unicode, Arial;
   
    background-repeat: no-repeat;
    
}

.page
{
	position: relative;
	margin: 0 auto;
    width: 1200px;
    
}


.header
{
    height: 270px;
    background-image: url('img/header-bg.gif');
}

.footer
{
    height: 362px;
    background-image: url('img/footer-bg.gif');
}

.header, .footer
{
    width: auto;
    min-width: 1200px;
    background-position: 50% 0;
}

.logo
{
    position: relative;
    margin: 0 auto;


    /*margin-top: 32px;*/
    top: 45px;
    /*padding-top: 32px;*/
    
	width: 355px;
	height: 100px;
	
	background: url('img/logo.gif');
}


.main-menu
{
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	top: 70px;
	margin-bottom: 10px;
}

.main-menu a 
{
	color: #000000;
}



.main-menu div
{
	display: inline-block;
	padding-left: 20px;
	margin-left: 11px;
    margin-right: 11px;
	height: 20px;
}

.main-menu div.read
{
	background: url('img/menu-read.gif') no-repeat;
}
.main-menu div.hear
{
	background: url('img/menu-hear.gif') no-repeat;
	
}
.main-menu div.connect
{
	background: url('img/menu-connect.gif') no-repeat;
	
}


.descriptionContainer
{
    padding-left: 70px;
    padding-right: 70px;
}

.separator
{
    margin-bottom: 30px;
}


.title
{
    font-style: italic;
    color: #cc0000;
    font-family: Times New Roman;
    text-align: left;
    padding-left: 70px;
    font-size: 21px;
}

.main-content-container
{
	width: 994px;
	background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
}

.main-content
{
    /*top: -70px;*/
	width: 696px;
	position: relative;
	margin-left:  auto;
	margin-right: auto;
    /*margin-bottom: -200px;*/
}

.main-content-top
{
	width: 696px;
	height: 103px;
	background: url('img/main-content-top-bg.gif');
}

.main-content-middle
{
	border-left: 1px solid #d00000;
	border-right: 1px solid #d00000;
	min-height: 300px;
	background-color: #f1f1f1;
	/*padding: 10px 70px;*/
}

.main-content-bottom
{
	width: 696px;
	height: 103px;
	background: url('img/main-content-bottom-bg.gif');
}

.sign
{
	height: 25px;
	background: url('img/star.gif') no-repeat;
	padding-left: 30px;
	font-size: 12px;
	line-height: 14px;
	margin-top: 260px;
	margin-left: 270px;
	position: absolute;
}

.sign a
{
	display: block;
	color: #ff0000;
}