*
{
	margin: 0;
	padding: 0;
}

.page
{
	position: relative;
	margin: 0 auto;
	width: 1570px;
}

.header
{
	position: relative;
	margin: 0 auto;
	width: 1570px;
	background-color: #fff;
}

.header-left
{
	width: 320px;
	height: 258px;
	background: url('img/hrader-left-bg.gif');
}

.header-right
{
	width: 350px;
	height: 258px;
	background: url('img/hrader-right-bg.gif');
}


.footer
{
	
}
