*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #000;
}

.page
{
	position: relative;
	margin: 0 auto;
	width: 1570px;
}

.header
{
	position: relative;
	margin: 0 auto;
	width: 1570px;
	background-color: #f1f1f1;
}

.header-left
{
	width: 320px;
	height: 258px;
	background: url('img/header-left-bg.gif');
	margin-left: 0px;
	margin-right: auto;
	float: left;
}

.header-right
{
	width: 350px;
	height: 258px;
	background: url('img/header-right-bg.gif');
	margin-left: auto;
	margin-right: 0px;
	
}

.main-content
{
	width: 1100px;
	min-height: 300px;
	background-color: #f1f1f1;
	margin: 0 auto;
}

.main-content-outer-container
{
	width: 1100px;
	min-height: 300px;
	background-color: #f1f1f1;
	margin: 0 auto;
}


.footer
{
	
}
