.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    background: #1f2935;
    border: 1px solid #1f2935;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 540px;
    padding: 20px 40px;
    
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  540px;
    height: 100px;
    border:solid 1px #ffffff;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 135px;
    height: 100px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 0px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #1f2935;
    color: #000;
}


.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 60px;
    right: 19px;
    width: 12px;
    height: 21px;
    cursor: pointer;
    background: url('/content/img/arrow-right.gif') no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 12px;
    height: 21px;
    cursor: pointer;
    background: url('/content/img/arrow-left.gif') no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: /*-32px*/0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: /*-64px*/0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: /*-96px*/0 0;
}

