#newsWidget
{
	padding-left:12px;
}
#newsWidgetContainer
{
	background-image: url('img/news-item-bg.gif');
	width:169px;
	height:188px;
}


#projectsWidgetPicture
{
    padding-top:57px;
    padding-left:55px;
    width:131px;
    height:89px;
}

#projectsWidgetContainer{width:216px;height:204px;background-image: url('img/projects.gif'); }
#widget2Container{width:216px;height:240px;background-image: url('img/widget2.gif');}
#widget2
{
    padding-top:57px;
    padding-left:55px;
    position:relative;
    top:20px;
    border:0;
}

#widget2Sign
{
    color:#ffffff;
    margin-top:-140px;
    margin-left:10px;
    text-align:center;
    font-family:Georgia;
    font-size:12px;
}

#widget2Title
{
    text-align:center;
    margin-bottom:-10px;
   /* top:100px;*/
}

#widget2Title a
{
    text-transform:uppercase;
    color:#669900;
   /* margin-top:10px;*/
}