<div id="menu">

    
    
    <div class="menuItem">
        <a href="#">Лена Небосклонова</a>
    </div>
    <div class="menuItem selected">
        <a href="#">О тебе</a>
    </div>
    <div class="menuItem">
        <a href="#">Вопрос-ответ</a>
    </div>
    <div class="menuItem">
        <a href="#">Мои заметки</a>
    </div>
    <div class="menuItem">
        <a href="#">Контактные сведения</a>
    </div>


    <ul>
    <li>
    <a href="#">Лена Небосклонова</a>
    </li>
    <li class="selected">
    <a href="#">О тебе</a>
    </li>
    <li>
    <a href="#">Мои заметки</a>
    </li>
    </ul>

    
</div>
