<div id="menu">
    <div class="menuItem">
        <a href="#">Лена Небосклонова</a>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "Edit", "Content", new { Area = "Admin", id = 1 }, new { @class = "adminLink" })
        }
    </div>
    <div class="menuItem selected">
        <a href="#">О тебе</a>
    </div>
    <div class="menuItem">
        <a href="#">Вопрос-ответ</a>
    </div>
    <div class="menuItem">
        <a href="#">Мои заметки</a>
    </div>
    <div class="menuItem">
        <a href="#">Контактные сведения</a>
    </div>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Add", "Add", "Content", new { Area = "Admin" }, new { @class = "adminLink" })
    }
</div>
