<div id="menu">
    <div class="menuItem">
        <a href="#">Лена Небосклонова</a>
    </div>
    <div class="menuItem">
        <a href="#">О тебе</a>
    </div>
    <div class="menuItem">
        <a href="#">Вопрос-ответ</a>
    </div>
    <div class="menuItem">
        <a href="#">Мои заметки</a>
    </div>
    <div class="menuItem">
        <a href="#">Контактные сведения</a>
    </div>
</div>
