#menu {
    font-family: PTSansNarrowBold;
    color: #999999;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    height: 102px;
    
}

.menu-container #menu{
    border-bottom: none;
}

.menu-container.product-details #menu{
    border-bottom: 2px solid #000;
}

#menu a {
    font-family: PTSansNarrow;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 0px 3px;

}

#menu ul {
    text-align: center;
    display: table;
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
    background: url('img/menu-bg.png') repeat-x;

}

#menu ul li {
    list-style: none;
    display: inline-block;
    width: 80px;
    text-align: center;
    vertical-align: top;
    padding: 18px 50px 0 50px;
}

#menu ul li.selected a {
    background-color: #fff200;
    color: #000;
    font-family: PTSansNarrowBold;

}

#menu ul li.selected {
    /*font-family: PTSansNarrow;*/

}

#menu ul li.current {
    background: url('img/menu-current-bg.png') no-repeat;
    background-position: center top;
}

.menu-container {
    height: 102px;
    background: url('img/header-footer-bg.png') repeat;
    
}

#menu.fixed {
    position: fixed;
    width: 100%;
    top: 26px;
    /*background-color: #fff;*/
    background: url('img/header-footer-bg.png') repeat;
} 