.catalogue .title
{
    float: left;
}

.catalogue .title a
{
    color: #609dd6;    
}



.catalogue .filter
{
    margin-left: 270px;
}



#catalogueContainer
{
    margin-top: 30px;
    margin-bottom: 50px;
}

.album
{
    width: 202px;
    height: 209px;
    margin: 10px;
    background-image: url('img/album-bottom-bg.gif');
    background-position: 0 202px;
    background-repeat: no-repeat;
    float: left;
}

.album img
{
    border: 1px solid #cecece;
}

.album-title
{
    opacity: 0.3;
    filter: alpha(opacity=30);
    background-color: #333332;
    position: absolute;
    width: 200px;
    height: 31px;
    margin-top: 169px;
    margin-left: 1px;
}

.album-title a
{
    width: 200px;
    height: 31px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    color: #fff;
}

#productsContainer
{
    margin-top: 15px;
}

#productsAlbumTitle
{
    color: #619433;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

#products
{
    margin-left: 50px;
    width: 900px;
    margin-bottom: 50px;
}

.productItem
{
    width: 177px;
    height: 177px;
    float: left;
    margin-left: 1px;
    margin-bottom: 1px;
}
.productItem img
{
    border: none;
}

#lastProductItem
{
    height: 97px !important;
    background-color: #fff;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
}

#lastProductItem a
{
    color: #619433;
}

.filterItem {
    float: left;
    text-transform: uppercase;
    font-size: 8px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #b7b7b6;
    margin-right: 7px;
    background-color: #f2f2f3;
    color: #4da002;
    
    
    border-radius: 7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
}

.filterTable td, .filterTable th {
    padding-right: 20px;
    padding-bottom: 7px;
    font-weight: normal;
}



a.changeFilter {
    color: #0072bc;
    font-size: 10px;
}

.showAll {
    padding: 2px 5px 2px 5px;
    color: #999999;
}

.filterTable th, .showAll {
      font-size: 11px;
    
}