*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #eff0e6;
    font-family: Arial;
    font-size: 12px;
}
.clear
{
    clear: both;
}

#logo
{
    position: absolute;
    margin-left: 55px;
    margin-top: 25px;
    width: 90px;
    height: 70px;
}

#outerHeaderTitle
{
    height: 18px;
    padding-top: 26px;
}

#outerHeader
{
    background: url('img/headerline-outer-bg.gif') repeat-x;
    height: 168px;
    margin-bottom: 15px;
}

#header, #main, #footer
{
    width: 1009px;
    position: relative;
    margin: 0 auto;
}

#main
{
    min-height: 500px;
}

.headerLine, .headerLineLeft, .headerLineRight
{
    height: 124px;
}

.headerLine
{
    background: url('img/headerline-bg.gif') repeat-x;
}

.headerLineLeft
{
    width: 205px;
    float: left;
    background-image: url('img/headerline-left.gif');
}

.headerLineRight
{
    width: 100px;
    float: right;
    background-image: url('img/headerline-right.gif');
}


#footer, #footerLeft, #footerRight
{
    height: 117px;
}

#footerLeft, #footerRight
{
    width: 100px;
}

#footer
{
    background: url('img/footer-bg.gif') repeat-x;
}

#footerLeft
{
    float: left;
    background: url('img/footer-left.gif');
}

#footerRight
{
    float: right;
    background: url('img/footer-right.gif');
}

#innerFooter
{
    position: absolute;
    width: 900px;
    margin-left: 20px;
    margin-top: 40px;
    color: #fff;
}




.headerText
{
    width: 460px;
    height: 20px;
    background: url('img/header-text.gif');
    position: relative;
    margin-left: auto;
    margin-right: auto;
}



.title
{
    color: #60605c;
    border-top: 1px solid #60605c;
    border-bottom: 1px solid #60605c;
    font-size: 20px;
    position: relative;
    margin-left: 3px;
    padding: 12px 0 12px 0;
    width: 250px;
    display: block;
}

.catalogue .title
{
    float: left;
}

.catalogue .title a
{
    color: #609dd6;    
}



.catalogue .filter
{
    margin-left: 270px;
}



.content
{
    margin-top: 20px;
    padding: 0 52px;
    margin-bottom: 30px;
}

.seo
{
}

.content.seo
{
    margin-bottom: 30px;
}

.selector
{
    background-color: #fff;
    margin-bottom: 50px;
}

.selector div
{
    text-align: center;
}

.selector .mainTitle
{
}

.category
{
    width: 138px;
    height: 138px;
    border: 1px solid #000;
    margin: 13px;
    float: left;
    cursor: pointer;
    background-image: url('img/category-bg.gif');
}


/*.category:hover
{
    border: 1px solid red !important;
}*/

.category img
{
    position: absolute;
}

.category .categoryTitle
{
    position: absolute;
}

.categoryItems
{
    width: 830px;
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
}

#mainMenu
{
    position: absolute;
    margin-left: 190px;
    margin-top: 25px;
}



#mainMenu ul
{
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    list-style-image: none;
}

#mainMenu li
{
    width: auto;
    font-size: 14px;
    float: left;
    color: #fff;
    text-align: center; /*border: 1px solid black;*/
}

#mainMenu li a, #mainMenu div.selected
{
    padding: 25px 25px 0 25px;
    height: 49px;
    width: 72px;
    text-align: left;
}

#mainMenu div.selected
{
    background-color: #a1d174;
}

#mainMenu li a
{
    display: block;
    text-decoration: underline;
    color: #fff;
}

#mainMenu li a.current {
    background-color: #a1d174;
}


#mainMenu li a:hover
{
    background-color: #a1d174;
}

#catalogueContainer
{
    margin-top: 30px;
}

.album
{
    width: 202px;
    height: 209px;
    margin: 10px;
    background-image: url('img/album-bottom-bg.gif');
    background-position: 0 202px;
    background-repeat: no-repeat;
    float: left;
}

.album img
{
    border: 1px solid #cecece;
}

.album-title
{
    opacity: 0.3;
    filter: alpha(opacity=30);
    background-color: #333332;
    position: absolute;
    width: 200px;
    height: 31px;
    margin-top: 169px;
    margin-left: 1px;
}

.album-title a
{
    width: 200px;
    height: 31px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    color: #fff;
}

#productsContainer
{
    margin-top: 15px;
}

#productsAlbumTitle
{
    color: #619433;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

#products
{
    margin-left: 50px;
    width: 900px;
}

.productItem
{
    width: 177px;
    height: 177px;
    float: left;
    margin-left: 1px;
    margin-bottom: 1px;
}
.productItem img
{
    border: none;
}

#lastProductItem
{
    height: 97px !important;
    background-color: #fff;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
}

#lastProductItem a
{
    color: #619433;
}



#newsContainer {
    margin-top: 50px;
    margin-left: 60px;
}

.newsItem {
    
}

.newsItemTitle 
{
    padding-top: 2px;
    color: #6ca538;
    font-size: 15px;
    font-weight: bold;
}

.newsItemDate {
    color: #999999;
    font-size: 10px;
    font-weight: bold;
}

.newsItemText 
{
    padding-top:15px;
    font-size: 12px;
    color: #000;
    padding-bottom: 50px;
}