

#formNewTender label.error 
{
	margin-left: 10px;
	/*width: auto;*/
	/*display: inline;*/
	color:#ff0000;
	background-color:#fff;
	width:auto;
	cursor:pointer;
}

#formNewTender input.error 
{
    border-color:#ff0000;
}