.adminLink
{
    color:Blue !important;
    font-size:12px;
}
.adminLink:hover
{
 font-weight:bold;
}

#subMenuAdminLinkContainer
{
    float:none;
    text-align:center !important;
}

#logOutAdminLinkContainer
{
    float:left;
    padding-left:30px;
    padding-top:1px;
    width:160px;
}

#addGalleryAdminLinkContainer
{
    text-align:center;
}

.adminLinkContainer
{
    text-align:center;
}

.adminLinksPouUpContainer
{
    position:absolute;
    margin-top:5px;
    margin-left:15px;
    /*background-color:#a8a8a8;*/
    background-color:#fff;
    display:none;
    background:url('img/cloud-bg-left.gif') no-repeat;
    /*width:50px;*/
    padding:0px 5px 0px 5px;
    text-align:center;
}

.adminLinksPouUpContainerRight
{
    background:url('img/cloud-bg-right.gif') no-repeat;
    background-position:right;
    padding-right:9px;
}
    
.adminLinksPouUpContainerInner
{
    height:23px;
    padding-top:7px;
    padding-left:3px;
    background-color:#fff;
}

.show
{
    display:block;
}

a.pictureLink
{
    width:16px;
    height:15px;
    display:inline-block;
    background-position:0 -15px !important;
    text-decoration:none !important;
}

a.pictureLink:hover
{
    background-position:0 0 !important;
    text-decoration:none !important;
}

a.add{background:url('img/add.gif');}
a.edit{background:url('img/edit.gif');}
a.delete{background:url('img/delete.gif');}



a.remove
{
    width:11px;
    height:11px;
    position:absolute;
    background:url('img/remove.gif');
    margin-left:54px;
    margin-top:2px;
}

a.setDefault
{
    width:11px;
    height:11px;
    position:absolute;
    border:1px solid #b7b7b7;
    margin-left:7px;
    margin-top:2px;
    background:url('img/pixel.gif');
}

a.setDefault.selected
{
    background-color:Green;
}




span.sortOrder
{
    font-weight:bold;
    color:#555555 !important;
    font-size:12px !important;
    text-decoration:none !important;
}


.adminEditContentContainer
{
	margin-top:5px;
	border:solid 1px #999999;
	padding:10px;
	margin-bottom:30px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:1;
}

.adminEditContentTable
{
	width:900px;
}

.adminEditContentTable td
{
	padding-left:20px;
	padding-top:10px;
	font-size:13px;
	font-weight:bold;
	
	
}

.adminEditContentTable td span
{
	font-size: 11px;
	font-weight:normal;
	
}

.buttonsContainer
{
    text-align:center;
}

h2.editContentTitle
{
    color:#999999;
    padding-left:90px;
}

.logOnForm
{
	position:relative;
	margin:0 auto;
	width:220px;
}

.logOnForm table td
{
	line-height:30px;
}

span.field-validation-error
{
     color:Red !important;
     font-size:13px !important;
     font-weight:bold !important;
}


#showDescrUkr, #showDescrEng, #showUkr, #showEng
{
    display:inline-block;
    text-decoration:underline;
    cursor:pointer;
    color:#0000ff;
}

#showDescrUkr.selected, #showUkr.selected, #showDescrEng.selected, #showEng.selected
{
    text-decoration:none;
    cursor:default;
    color:#000;
}
