* {
    margin: 0;
    padding: 0;
}

.header {
    height: 392px;
    background: url('img/header-top.gif') no-repeat;
}

.menu-line {
    width: 1100px;
    height: 93px;
    background: url('img/menu.png');
    position: relative;
    margin: 0 auto;
    font-family: CharterITCBold;
}

.menu-line a {
    font-family: CharterITC;
    color: #666666;
}

.header .top {
    height: 300px;
}

.page {
    width: 725px;
    position: relative;
    margin: 0 auto;
    padding-top: 100px;
}

.logo-container 
{
    width: 1100px;
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 300px;
    background: url('img/logo.gif') no-repeat;
    background-position: 400px 40px;
}

.em-link {
    width: 265px;
    height: 16px;
    position: absolute;
    margin: 125px 0 0 720px;
    /*border: 1px solid red;*/
    cursor: pointer;
}


.fb-link {
    width: 70px;
    height: 16px;
    position: absolute;
    margin: 5px 0 0 80px;
    /*border: 1px solid red;*/
    cursor: pointer;
}


.menu-line ul 
{
    
    text-align: center;
}
.menu-line li 
{
    font-size: 17px;
    display: inline-block;
    list-style: none;
    padding: 40px 60px;
}

.content-bottom {
    background: url('img/header-bottom.gif') no-repeat;
    min-height: 400px;
    background-position: right bottom;
}

.footer {
    height: 40px;
    background-color: #fafafa;
}

.footer-link-panel {
    width: 150px;
    height: 23px;
    position: relative;
    margin: 0 auto;
    background: url('img/footer.gif') no-repeat;
    background-position: bottom;
    padding-top: 8px;
}
