@using Nebo.Models
@{
    <div id="menu">
        @if (ViewBag.MenuList != null)
        {
            var menuItems = ((List<Menu>)ViewBag.MenuList).Where(m => m.MenuLevel == 1).Select(m => m).FirstOrDefault();
            int cnt = 0;
            if (menuItems != null)
            {
                foreach (var item in menuItems.OrderBy(m => m.SortOrder))
                {
            <div class="menuItem">
                <a href="#">@item.Title</a>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Edit", "Edit", "Content", new { Area = "Admin", id = item.Id }, new { @class = "adminLink" })
                }
            </div>
                }
                if (Request.IsAuthenticated)
                {
            @Html.ActionLink("Add", "Add", "Content", new { Area = "Admin" }, new { @class = "adminLink" })
                }
            }
        }
    </div>
}
