<ul class="adminMenu">
    <li>@Html.ActionLink("Бренды", "Index", "Brand", new { Area = "Admin" }, new { })</li>
    <li>@Html.ActionLink("Категории", "Index", "Category", new { Area = "Admin" }, new { })</li>
    <li>@Html.ActionLink("Атрибуты", "Index", "ProductAttribute", new { Area = "Admin" }, new { })</li>
</ul>
